<template>
  <div class='content-body'>
    <div v-if='!inited || !viewInited'>
      <img :src='loadingIcon' width ='100px' height='100px' style='width: 100px; height: 100px; margin: auto;'/>
    </div>
    <div v-if = 'viewInited && inited'>
      <icons-menu :links = 'menuItems' v-on:tab-changed = 'tab($event)'/>
      <br/>

      <!-- Draft information Container-->
      <div class = 'row' v-if = 'currentTab === 0'>
        <div class='col-lg-1'></div>
        <div class = 'col-lg-10'>
          <div class="card">
            <div class='card-body'>
              <p class='draftProp'>Draft Subject: <span>{{filee.draft.info.subject}}</span></p>
              <p class='draftProp'>Draft Type: <span>{{filee.draft.info.type}}</span></p>
              <p class='draftProp'>Created on: <span>{{new Date(filee.draft.info.created_at).toGMTString()}}</span></p>
              <p class='draftProp'>Updated on: <span>{{new Date(filee.draft.info.updated_at).toGMTString()}}</span></p>
              <p class='draftProp'>
                Status: 
                <span v-if = 'filee.draft.info.status === 0'>Pending Approval</span>
                <span v-if = 'filee.draft.info.status === 1' style = 'color: green'>Approved </span>
                <img v-if = 'filee.draft.info.status === 1' :src = 'approveIcon' width = '40' height = '40'/>
              </p>
              <!-- <p class='draftProp'>
                Participants: <span>{{filee.draft.info.participants}}</span>
              </p> -->
              <button v-if = 'filee.draft.info.status === 0' @click = 'approveDraft()' class='btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20'> Approve Draft </button>
            </div>
          </div>
        </div>
        <div class='col-lg-1'></div>
      </div>
      <!-- End Draft information container -->

      <!-- Previous Versions Container-->
      <div class = 'row' v-if = 'currentTab === 1 && doc'>
        <div class='col-lg-1'>
          <icons-menu :links = 'prevVersionsList' v-on:tab-changed = 'switchVersion($event)' :initialTab = 'prevVersionInitialTab' vertical='true'/>
        </div>
        <div class = 'col-lg-10' id = 'previous-versions-container'>
          <div v-if='this.prevVersionsList.length'>
            <div style='width: 70%; margin-right: auto; margin-left: auto; background-color: blue'>
              <button @click = 'toggleTag()' style= 'padding: 6px; background-color: transparent; color: white; border-color: white'>{{prevVersionState.btnText}}</button>
              <span style='margin-left: 20%; color: white; font-weight: bold; font-size: 18px'>
                {{prevVersionState.version}} 
                <span style='font-size: 12px; font-weight: 500'>{{prevVersionState.date}}</span>
              </span>
            </div>
            <wodo-editor 
              ref = 'v-container'
              :documentPath='prevVersionState.docUrl' 
              editorContainerId = 'v-container' 
              reviewMode = 'true' disableSave='true' width = '95%'/>
          </div>
        </div>
        <div class='col-lg-1'></div>
      </div>
      <!-- End Previous Versions container -->

      
      <!-- Current Version container -->
      <div class = 'row' if = 'currentTab === 2 || currentTab === 6'>
        <div class = 'col-lg-12'>
          
          <div class='row' v-if = 'currentTab === 6'>
            <div class='col-lg-1'></div>
            <div class='col-lg-12'>
              <wodo-editor ref='container-1' 
                editorContainerId = 'container-1' 
                :documentPath='documentSrc.tagUrl' 
                :reviewMode = 'viewMode' 
                forceNew = 'true' 
                v-on:save='saveTags($event)' 
                :userData = 'editorUserData'/>
              <!-- draft container wrapper -->
              <div id = 'draft-container' class='draft-page'></div>
            </div>
            <div class='col-lg-1'></div>
          </div>

          <div class='row' v-if = 'currentTab === 2'>
            <div class='col-lg-1'> 
              <!-- <icons-menu :links = 'menuItemsVertical' vertical = 'true' v-on:tab-changed = 'tab($event)'/> -->
            </div>
            <div class='col-lg-10' v-if='draftType !== "signal"'>
              <div class='row'>
                <div class='col-lg-12'>
                  <div class = 'form-group'>
                    <input v-model = 'subjectMatter' type='text' placeholder = 'Subject Matter' class='form-control'>
                  </div>
                </div>
              </div>
              <!-- <Editor v-if = 'inited' v-on:save = 'commitChanges($event)' :initContent = 'doc' :options = 'tmOptions'/> -->
              <wodo-editor ref = 'container-2' 
                editorContainerId = 'container-2' 
                :documentPath='documentSrc.docUrl' 
                :reviewMode='viewMode' 
                forceNew='true' 
                v-on:save = 'commitChanges($event)' 
                :userData = 'editorUserData'/>
            </div>

            <div class='col-lg-10' v-if='draftType === "signal"'>
              <div class='row'>
                <div class='col-lg-4'>
                  <div class = 'form-group'>
                    <label>From:</label>
                    <input v-model = 'extraInfo.from' type='text' placeholder = 'Type here...' class='form-control'>
                  </div>
                </div>
                <div class='col-lg-4'>
                  <label>To:</label>
                    <input v-model = 'extraInfo.to' type='text' placeholder = 'Type here...' class='form-control'>
                </div>
                <div class='col-lg-4'>
                  <label>Info:</label>
                    <input v-model = 'extraInfo.info' type='text' placeholder = 'Type here...' class='form-control'>
                </div>
              </div>
              <!-- <Editor v-if = 'inited' v-on:save = 'commitChanges($event)' :initContent = 'doc' :options = 'tmOptions'/> -->
              <wodo-editor 
                editorContainerId = 'container-2' 
                :documentPath='documentSrc.docUrl'
                forceNew='true' 
                v-on:save = 'commitChanges($event)' 
                :userData = 'editorUserData'/>
                <br/>
              <div class='row'>
                <div class='col-lg-3'>DRAFTER'S NAME IN BLOCK:</div>
                <div class='col-lg-9'>
                  <div class = 'form-group'>
                    <input v-model = 'extraInfo.drafterName' type='text' placeholder = 'NAME HERE...' class='form-control'>
                  </div>
                </div>
              </div>

              <div class='row'>
                <div class='col-lg-3'>RELEASING OFFICER'S NAME:</div>
                <div class='col-lg-9'>
                  <div class = 'form-group'>
                    <input v-model = 'extraInfo.releaseOfficer' type='text' placeholder = 'NAME HERE...' class='form-control'>
                  </div>
                </div>
              </div>

              <!-- <div class='row'>
                <div class='col-lg-3'>SIGNATURE:</div>
                <div class='col-lg-9'>
                  <div class = 'form-group'>
                    <input v-model = 'subjectMatter' type='text' placeholder = 'NAME HERE' class='form-control'>
                  </div>
                </div>
              </div> -->
            </div>

            <div class='col-lg-1'>
              <icons-menu :links = 'menuItemsVertical' vertical = 'true' v-on:tab-changed = 'tab($event)'/>
              <form style='visibility: hidden' action = 'uploadUrl' @submit.prevent = 'uploadNewVersion' id="uploadForm2" enctype="multipart/form-data">
                <div class="form-group">
                  <label><i class="fa fa-key"></i> File</label>
                  <div class="form-group text-right">
                    <input ref='newVersionInput' type='file' class='form-control' v-on:change = 'loadNewDoc' id='fileInput2' name='file'/>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <br/><br/>

        </div>
      </div>
      <!-- End Current Version container -->
      
      <!-- Main Document container -->
      <div class = 'row' v-if = 'currentTab === 3'>
        <div class='col-lg-1'></div>
        <div class = 'col-lg-10'>
          <FMSDoc 
            :file = 'filee'
            v-if = 'draftType === "formal"'
          />
        </div>
        <div class='col-lg-1'></div>
      </div>
      <!-- End Main Document container -->

      <div class='row' v-if = 'currentTab === 4'>
        <div class='col-lg-1'></div>
        <div class='col-lg-10'>
          <MinuteSheet
            :threadData = 'thread'
            v-if = 'draftType === "formal"'
          />
        </div>
        <div class='col-lg-1'></div>
      </div>

      <div class='row' v-if = 'currentTab === 5'>
        <!-- <div class='col-lg-1'></div> -->
        <div class='col-lg-11'>
          <UserList 
            v-on:recipients = 'setRecipients($event)'
            :msgSubject = 'subjectMatter'
          />
        </div>
        <!-- <div class='col-lg-1'></div> -->
      </div>

      <div class='row' v-if='currentTab === 7'>
        <!-- <div class='col-lg-1'></div> -->
        <div class='col-lg-2'>
          <form action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
              <label><i class="fa fa-key"></i> File</label>
              <div class="form-group text-right">
                <input type='file' accept = 'application/pdf' class='form-control' v-on:change = 'preview' id='fileInput' name='file'/>
              </div>
            </div>
            <button type="submit" class="btn btn-primary loginbtn" :disabled="uploading">Upload File <span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>
          </form>
        </div>
        <div class='col-lg-10'>
          <!-- v-if='inited && !filee.draft.info.finalCopy && !isNewDraft' -->
          <div v-show = 'uploadFile'>
            <img :src='prevPdf' class='file-preview' alt='preview' id='preview' v-if='inited && !filee.draft.info.finalCopy && !isNewDraft'>
            <iframe id="pdfViewer" frameborder="0" scrolling="no" width='100%' height="600"></iframe>
          </div>
          <Pdf 
            v-if='inited && filee.draft.info.finalCopy'
            :src ='draftPDFSrc'
            height = '600px'
          />
        </div>
        <!-- <div class='col-lg-'>
        
        </div> -->
      </div>
    </div>
  </div>

</template>

<script>
  import axios from 'axios'
  import config from '@/config'
  import DraftManager from '@/lib/fms-draft'
  import FMSDoc from '@/components/helpers/FMSDoc'
  import MinuteSheet from '@/components/MinuteSheet'
  import Editor from '@/components/helpers/Editor'
  import WodoEditor from '@/components/helpers/WodoEditor'
  import IconsMenu from '@/components/helpers/IconsMenu'
  import notification from '@/mixins/notification'
  import UserList from '@/components/UserList'
  import socketMixin from '@/mixins/socket'
  import Pdf from '@/components/helpers/Pdf'

  export default {
    data () {
      return {
        serverConf: '',
        profile: '',
        draftManager: '',
        enableTags: true,
        tagText: 'Disable Tags',

        currentTab: 2,
        currentDraftVersion: '',
        fileId: '',
        filee: {},
        editMode: true, // make draft editable by default
        // doc: originalString,
        doc: '',
        subjectMatter: '',
        draftType: '',
        extraInfo: {},
        tmOptions: {
          height: 450,
          nonbreaking_force_tab: true
        },

        inited: false, // indicates whether the initDraft method is called
        viewInited: false, // indicates whether the general init method is called
        isNewDraft: false, // indicates whether the draft is a newly created draft

        draftRecipients: [],
        approveIcon: `${config.rootDir}/static/img/approve.png`,
        prevPdf: `${config.rootDir}/static/img/pdfLogo.png`,
        loadingIcon: `${config.rootDir}/static/img/loading.gif`,


        // menu
        menuItems: [
          {
            image: `${config.rootDir}/static/img/menuIcons/pencil.png`,
            tab: 6,
            text: 'Make Corrections'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/edit.png`,
            tab: 2,
            text: 'Edit Draft'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/send.png`,
            tab: 5,
            text: 'Send Draft'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/info.png`,
            tab: 0,
            text: 'Draft Info'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/google-docs.png`,
            tab: 2,
            text: 'Current Version'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/documents.png`,
            tab: 1,
            text: 'Previous Versions'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/document.png`,
            tab: 3,
            text: 'Main Document'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/google-sheets.png`,
            tab: 4,
            text: 'Minute Sheet'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/checklist.png`,
            tab: 7,
            text: 'Final Copy'
          }
        ],

        menuItemsVertical: [
          {
            image: `${config.rootDir}/static/img/menuIcons/word1.png`,
            tab: 8,
            text: 'Upload new version'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/download.png`,
            tab: 9,
            text: 'Download document'
          }
        ],

        // draft upload
        uploadFile: false,
        uploading: false,
        uploadData: {
          file: ''
        },

        editorUserData: '',
        viewMode: false,
        editorStates: {
          'container-1': {},
          'container-2': {},
          'v-container': {}
        },

        prevVersionsVisible: false,
        prevVersionInitialTab: '',
        prevVersionState: {
          docUrl: '',
          version: '',
          date: ``,
          btnText: 'Disable Tags',
          enabledTags: true

        },
        prevVersionsList: []
      }
    },

    methods: {
      tab (n) {
        console.log('tab:', n)
        switch(n) {
          case 0:
            if(!this.filee.draft) return
          break
          case 1:
            this.prevVersionsVisible = true
            // this.saveEditorState('v-container').then(() => {})
            break
          case 2:
            // TODO: make sure to save current state of draft between switching out of tab 2
            this.saveEditorState('container-1').then(() => {})
            this.currentTab = n
            this.viewMode = false
            return
            break
          case 6:
            this.saveEditorState('container-2').then(() => {})
            this.currentTab = n
            this.viewMode = true
            return
            break
          case 8:
            this.$refs.newVersionInput.click()
            return
            break
          case 9:
            // download document docx file
            this.forceFileDownload()
            return
            break
        }
        this.currentTab = n
      },

      tags () {
        if (this.enableTags) {
          this.draftManager.disableTags()
          this.enableTags = false
          this.tagText = 'Enable Tags'
        } 
        else {
          this.draftManager.enableTags()
          this.enableTags = true
          this.tagText = 'Disable Tags'
        }
      },

      commitChanges (document) {
        if (!this.isNewDraft && this.filee.draft.info.status === 1) {
          return this.alertFailure('Draft already approved')
        }
        
        if(document !== '') {
          this.confirm({
          title: 'Save Draft Changes!!!',
          text: 'Are you sure you want to Save these changes?',
          cancelBtnText: "No, don't save!",
          confirmBtnText: "Yes, Save!!!",
          successText: 'Changes Saved successfuly',
          failText: 'You have cancelled saving changes!'
          }, () => {
            if (!this.filee.draft) { // create new draft
              const data = new FormData();
              data.append('userId', this.profile.id)
              data.append('subject', this.subjectMatter)
              data.append('type', this.draftType)
              data.append('fileId', this.filee.id)
              data.append('extraInfo', JSON.stringify(this.extraInfo))
              data.append('file', document)
              axios.post(`${config.socketUrl}/draft/create`, data).then((response) => {
                if(response.data.success) {
                  this.notify('Draft Saved successfully', 'success', 5000)
                  this.currentDraftVersion = {
                    id: response.data.data.versionId,
                    draft_id: response.data.data.draftId,
                    version_number: 1,
                    created_at: new Date()
                  }
                } else {
                  this.notify('Unable to save draft', 'error', 5000)
                  console.log('DraftRespon:', response.data, this.filee)
                }
              })

            } else { // add a new version to the draft
              const data = new FormData()
              data.append('userId', this.profile.id)
              data.append('versionNumber', this.currentDraftVersion.version_number)
              data.append('draftId', this.filee.draft.info.id)
              data.append('fileId', this.filee.draft.info.file_id)
              data.append('subject', this.subjectMatter)
              data.append('draftType', this.draftType)
              data.append('extraInfo', JSON.stringify(this.extraInfo))
              data.append('file', document)
              axios.post(`${config.socketUrl}/draft/update`, data)
              .then((response) => {
                if (response.data.success) {
                  if (this.draftType === 'formal') {
                    const fId = this.$route.params.fileId
                    this.$store.dispatch('getThread', fId)
                    this.filee = this.$store.getters.file
                  }
                  this.notify('Draft Saved successfully', 'success', 5000)
                }
                else this.alertFailure('Unable to save draft changes', 3000)
                console.log('server thread:', response)
              })
            }
                
          })
        } else {
          this.alertFailure("Draft can not be empty!!!")
        }
      },

      saveTags(document) {
        if (!this.isNewDraft && this.filee.draft.info.status === 1) {
          return this.alertFailure('Draft already approved')
        }

        const data = new FormData();
        data.append('versionId',this.currentDraftVersion.id )
        data.append('userId', this.profile.id)
        data.append('file', document)

        // {
        //   versionId: this.currentDraftVersion.id,
        //   taggedDocument: savedDraft.html,
        //   tags: savedDraft.tags,
        //   userId: this.profile.id
        // }

        let savedDraft = this.draftManager.draftState
        axios.post(`${config.socketUrl}/draft/tags`, data).then((response) => {
          if(response.data.success) {
            this.alertSuccess('Tags saved successfuly')
          } else {
            this.alertFailure(response.data.message)
          }
        })
      },

      approveDraft () {
        this.confirm({
          title: 'Save Draft Changes!!!',
          text: 'Are you sure you want to Save these changes?',
          cancelBtnText: "No, don't save!",
          confirmBtnText: "Yes, Save!!!",
          successText: 'Changes Saved successfuly',
          failText: 'You have cancelled saving changes!'
          }, () => {
            axios.post(`${config.socketUrl}/draft/approve`, {
              user: this.profile,
              draftId: this.filee.draft.info.id
            }).then((response) => {
              if (response.data.success) {
                this.alertSuccess("Draft Approved Successfully!!!")
                this.filee.draft.info.status = 1
              } else this.alertFailure("Draft Failed Approval")
            })
          })
      },

      setRecipients (recipients) {
        this.draftRecipients = recipients
        console.log('draft Receipients', recipients)
      },

      initDraft () {
        if (!this.currentDraftVersion && this.filee.draft) {
          let n = this.filee.draft.versions.length - 1
          this.currentDraftVersion = this.filee.draft.versions[n]
          this.doc = this.currentDraftVersion.document
          this.subjectMatter = this.filee.draft.info.subject
          if (typeof this.filee.draft.info.extra_info === 'string') {
            this.extraInfo = this.filee.draft.info.extra_info ? JSON.parse(this.filee.draft.info.extra_info) : {}
          } else {
            this.extraInfo = this.filee.draft.info.extra_info
          }
          this.fileId = this.filee.draft.info.file_id
          this.editorUserData = {
            fullName: this.profile.appointment,
            color: this.profile.color
          }
          this.serverConf = this.$store.getters.serverConfiguration

          if(this.draftType === 'signal') {
            this.subjectMatter = this.extraInfo.info
          }
          // console.log('EXTRA-INFO:', typeof this.filee.draft.info.extra_info, this.filee.draft.info.extra_info, this.serverConf)

          // set initial tab for previous drafts
          if(n > 0) {
            this.prevVersionInitialTab = n - 1
          } 
          if (this.prevVersionInitialTab) this.switchVersion(this.prevVersionInitialTab)

          for (let i = n; i >= 0; i--) {
            if (this.filee.draft.versions[i].version_number === this.currentDraftVersion.version_number) continue
            let docVersion = this.filee.draft.versions[i]
            this.prevVersionsList.push({
              image: `${config.rootDir}/static/img/menuIcons/word1.png`,
              tab: i,
              text: `Version ${docVersion.version_number}`
            })
          }
          console.log('BASE URL:', config.baseUrl, this.currentDraftVersion.docUrl)
          // set initial editor states
          this.editorStates['container-2'] = { editorId: 'container-2', docUrl: `${config.baseUrl}/${this.currentDraftVersion.docUrl}` }
          this.editorStates['container-1'] = { editorId: 'container-1', docUrl: `${config.baseUrl}/${this.currentDraftVersion.tagUrl}` }
          this.inited = true

        } else {
          this.isNewDraft = true
          this.inited = true
        }
      },

      async initView () {
        if (this.initView && this.inited) return // don't initialize more than once
        this.serverConf = this.$store.getters.serverConfiguration
        console.log('SERVERConf:', this.serverConf)
        this.draftType = this.$route.params.draftType
        this.profile = JSON.parse(localStorage.getItem('userProfile'))
        if (this.draftType === 'formal') {
          this.fileId = this.$route.params.id
          if (this.fileId) {
            this.$store.dispatch('getThread', this.fileId)
          }
        }
        else if (this.draftType === 'informal' || this.draftType === 'signal') {
          this.draftId = this.$route.params.id
          if (this.draftId) {
            this.filee = (await axios.get(`${config.socketUrl}/drafts/${this.profile.id}/${this.draftId}`)).data.data
            console.log('DRAFT:', this.filee)
          }
          this.initDraft()
        }
        this.viewInited = true
      },

      switchVersion(v) {
        let doc = this.filee.draft.versions[v]
        this.prevVersionState = {
          docUrl: `${config.baseUrl}/${doc.tagUrl}`,
          version: `Version ${doc.version_number}`,
          date: `${(new Date(doc.created_at).toGMTString())}`,
          enabledTags: true,
          btnText: 'Disable Tags',
          doc
        }
      },
      toggleTag() {
        const doc = this.prevVersionState.doc
        if (this.prevVersionState.enabledTags) {
          this.prevVersionState.docUrl = `${config.baseUrl}/${doc.docUrl}`
          this.prevVersionState.btnText = 'Enable Tags'
          this.prevVersionState.enabledTags = false
        } else {
          this.prevVersionState.docUrl = `${config.baseUrl}/${doc.tagUrl}`
          this.prevVersionState.btnText = 'Disable Tags'
          this.prevVersionState.enabledTags = true
        }
      },

      async saveEditorState(editorId) {
        console.log(editorId, this.$refs)
        if (!this.$refs[editorId]) return
        const editorState = await this.$refs[editorId].getEditorState()
        this.editorStates[editorId] = editorState
      },

      // draft upload

      upload (e) { console.log('yeas')
        this.uploading = true
        let f = new FormData();
        f.append('file', e.target.file);
        f.append('draftId', this.filee.draft.info.id)
        f.append('userId', this.profile.id)
        f.append('draftType', this.draftType)
        f.append('file', this.uploadData.file)
        e.preventDefault()
        axios.post(`${config.socketUrl}/draft/upload`, f, { withCredentials: false })
          .then((response) => {
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      previewPdf (file) {
        console.log('pdf preview')
        let pdfViewer = document.getElementById('pdfViewer')
        const reader = new FileReader()
          reader.onload = (function(pdfV){ console.log('ok then...')
            return function(e) { console.log('ok then and...')
              pdfV.src = e.target.result
              document.getElementById('preview').style.display = 'none'
            }
          })(pdfViewer)
          reader.readAsDataURL(file)
      },

      preview: function (event) { 
        this.uploadFile = true
        let vm = this
        let fileInput = document.getElementById('fileInput')
        this.uploadData.file = fileInput.files[0];

        this.fileList = []
        for (let i = 0; i < fileInput.files.length; i++) {
          this.fileList.push(fileInput.files[i])
          this.previewPdf(fileInput.files[i])
        }
      },

      uploadNewVersion(file) { console.log('draftId:', this.filee.draft)
        let f = new FormData();

        if (!this.filee.draft) {
          f.append('type', this.draftType)
        } else {
          f.append('draftType', this.draftType)
          f.append('draftId', this.filee.draft.info.id)
          f.append('versionNumber', this.currentDraftVersion.version_number)
        }
        this.filee.id ? f.append('fileId', this.filee.id) : f.append('fileId', this.filee.draft.info.file_id)
        f.append('subject', this.subjectMatter)
        f.append('extraInfo', JSON.stringify(this.extraInfo))
        f.append('userId', this.profile.id)
        f.append('file', file);
        
        axios.post(`${config.socketUrl}/draft/version/upload`, f, { withCredentials: false })
          .then((response) => {
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
              this.documentSrc = {
                docUrl: response.data.data.docUrl,
                tagUrl: response.data.data.tagUrl,
              }
              if(!this.filee.draft) {
                this.currentDraftVersion = {
                    id: response.data.data.versionId,
                    draft_id: response.data.data.draftId,
                    version_number: 1,
                    docUrl: response.data.data.docUrl,
                    tagUrl: response.data.data.tagUrl,
                    created_at: new Date()
                  }
              } else {
                // const fId = this.$route.params.fileId
                // this.$store.dispatch('getThread', fId)
                // this.filee = this.$store.getters.file
              }
              console.log('DRAFT UPDATED!!!', response.data)
              this.notify('Draft Uploaded successfully', 'success', 5000)
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            console.log('UPLOADrESP:', response.data)
            this.uploading = false
          })
      },
      loadNewDoc () {
        // upload here
        this.uploadNewVersion(this.$refs.newVersionInput.files[0])
        console.log('Loading new Doc')
      },

      forceFileDownload() {
        if(this.isNewDraft) return
        axios({
          method: 'get',
          url: `${config.socketUrl}/draft/fetch/raw/?appointment=${this.profile.appointment}&draftId=${this.filee.draft.info.id}&fileId=${this.filee.draft.info.file_id}&type=${this.draftType}&version=${this.currentDraftVersion.version_number}`,
          responseType: 'arraybuffer',
        })
        .then((response) => {
          if (!response.data) {
            console.log('Error downloading file')
            return
          }
          const url = window.URL.createObjectURL(new Blob([response.data], {type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'}))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `${this.filee.draft.info.file_id}.docx`)
          document.body.appendChild(link)
          link.click()
        })
        .catch(() => console.log('error occured'))
      }
    },

    computed: {
      thread: function () {
        const tr = this.$store.getters.thread
        this.filee = tr
        return tr.thread
      },
      draftPDFSrc () {
        return `${config.baseUrl}/${this.filee.draft.info.finalCopy}`
      },
      documentSrc: {
        get: function () {
          if(this.isNewDraft) return { 
            docUrl: `${this.serverConf.draftFinalDocsDir}/blank.odt`,
            tagUrl: `${this.serverConf.draftFinalDocsDir}/blank.odt`
          }
          return {
            docUrl: this.editorStates['container-2'].docUrl,
            tagUrl: this.editorStates['container-1'].docUrl
          }
        },
        set: function (newV) {
          // set new value
          this.editorStates['container-2'] = { editorId: 'container-2', docUrl: `${config.baseUrl}/${newV.docUrl}` }
          this.editorStates['container-1'] = { editorId: 'container-1', docUrl: `${config.baseUrl}/${newV.tagUrl}` }
        }
      }
    },

    watch: {
      '$store.getters.thread': function(newV, oldV) {
        console.log('watch file called', newV, oldV)
        this.filee = newV
        this.initDraft()
      },

      draftRecipients: function () {
        let vm = this
        this.confirm({
          title: 'Send Draft!',
          text: 'Are you sure you want to send this draft?',
          cancelBtnText: "No, don't send!!!",
          confirmBtnText: "Yes, send!!!",
          successText: 'Draft sent successfuly',
          failText: 'Message sending cancelled!'
        }, () => {
            this.alertSuccess("Sending Draft...")
            const fId = this.$route.params.fileId
            // this.filee = this.$store.getters.file;

             vm.socketSend({
                type: 'draft',
                content: {
                  sender: vm.profile,
                  recipients: vm.draftRecipients,
                  color: vm.profile.color,
                  draftVersion: vm.currentDraftVersion
                }
              })

              // this.$store.dispatch('getThread', fId)
              vm.tab(2)
              vm.notify('File Saved successfully', 'success', 5000)
        })

      }
    },

    components: {
      FMSDoc,
      MinuteSheet,
      Editor,
      WodoEditor,
      UserList,
      IconsMenu,
      Pdf
    },
    mixins: [notification, socketMixin],

    async mounted () {
      this.$root.$on('app_header_init', async () => {
        await this.initView()
      })
      if(!this.viewInited) await this.initView()
    },

    props: []
  }

</script>

<style scoped>
  /* *, *::before, *::after {
    box-sizing: content-box;
  } */

  .draft-page {
    height: 600px; 
    width: 98%; 
    /* border-style: solid; border-color: grey; */
    /* background-color: white;
    color: black;  */
    margin-left: auto; 
    margin-right: auto; 
    overflow-y: auto; 
    overflow-x: auto; 
    /* word-wrap: break-word;  */
    /* padding: 20px */
  }

  #tabContainer {
    margin-bottom: 30px
  }

  .tab-active {
    background-color: #4540f7;
    color: white !important;
  }

  .tab-btn {
    width: 150px;
    color: blue;
  }

  .approved {
    background-color: green !important;
    color: white
  }

  .draftProp {
    color: black;
    font-size: 15px;
    font-weight: 700;
  }

  .draftProp span {
    color: blue
  }

  #previous-versions-container {
    height: 650px;
    width: 100%;
    /* overflow: auto; */
  }

</style>