<template>
  <div class="content-body">
      <div class="container-fluid">
        <MobileMenu />
        <div class="row">
          <div class="col-lg-12">
            <div class="card fixed-content">
              <div class="card-body" style='height: 100%;'>
                <InboxMenu :initialFilter = 'inboxFilter' :inboxType = 'inboxType' v-on:filter = 'filterEvent($event)' v-on:limitByDate = 'limitByDate($event)' :inboxTitle = 'inboxTitle' v-on:trash = 'trashInbox' v-on:mark_as_read = 'markAsRead' :msgMarked = 'markedMessages.length > 0'/>
                <div class="email-right-box">
                  <div class='table-responsive'>
                    <div class=''>
                      <input type='checkbox' style='margin-left: 8px' @change ='markAll($event)' v-model='selectAll'> 
                          Select All
                    </div>
                    <table class="table table-hover">
                      <tr v-for='(mail, index) of mails' :key = 'index' :class = '{reRead: mail.commited === 1, unRead: mail.commited === 0, message1: 1 === 1}'>
                        <td class="email-checkbox" style='width:2%; float: left;'>
                            <input type="checkbox" :id="index" :value = 'mail.id' v-model = 'markedMessages'>
                            <label class="toggle" :for="index"></label>
                        </td>
                        <td style='width: 5%; float: left;'>
                          <img v-if = 'mail.commited === 1' :src = 'viewedMessageIcon' width="20" height="20" alt="">
                          <img v-if = 'mail.commited === 0' :src = 'unreadMessageIcon' width="20" height="20" alt="">
                        </td>
                        
                        <td  class='subject1' @click = 'showMail(mail, index)'>{{mailTitle(mail)}}</td>
                        <td class="showbig" style='width: 23%; float: right;'>
                          {{formatDate(mail.created_at)}} | 
                          {{new Date(mail.created_at).toTimeString().slice(0,8)}}
                        </td> 
                      </tr>
                    </table>
                  </div>
                  <!-- panel -->
                </div>
                <div class="row">
                  <div class="col-5">
                    <button @click = 'inboxSequence()' :class="{btn:true, 'btn-success': this.sequenceOn }">{{this.sequenceOn ? 'Turn off Squence' : 'Turn on Sequence'}}</button>
                  </div>
                  <div class='col-lg-5'>
                    <div class="text-left">Page {{currentPage}}</div>
                  </div>
                  <div class="col-lg-2">
                    <div class="btn-group float-right">
                      <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                      </button>
                      <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->
  </div>
</template>

<script>
  import InboxMenu from '@/components/helpers/InboxMenu'
  import config from '@/config'
  import notification from '@/mixins/notification'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import axios from 'axios'

  export default {
    data () {
      return {
        markedMessages: [],
        selectAll: false,

        profile: '',
        inboxTitle: 'Draft Inbox',
        inboxFilter: 'all',
        inboxType: 'draft',
        searchTerm: '',
        startDate: '',
        endDate: '',
        dateFiltering: false,
        currentPage: 1,
        oldPage: 0,

        inboxRestored: false,

        viewedMessageIcon: `${config.rootDir}/static/img/viewedMail.jpeg`,
        unreadMessageIcon: `${config.rootDir}/static/img/messageIcon1.png`
      }
    },

    methods: {
      async showMail (mail, index) {
        // const mail = this.$store.getters.mail(index)
        // configure inbox sequence
        if(this.sequenceOn) {
          this.$store.commit('setSequenceIndex', {index, path: this.$route.path})
        }
        // mark the message as read
        if(!mail.commited) {
          this.$store.commit('markReadInbox', { type: 'draft', messages: [mail.id] })
          await axios.post(`${config.socketUrl}/draft/sequence/commit`, { idList: [mail.id] })
        }

        if (mail.draftType === 'formal') {
          this.$router.push(`/dashboard/file/draft/${mail.draftType}/${mail.fileId}`)
        } else {
          this.$router.push(`/dashboard/file/draft/${mail.draftType}/${mail.draftId}`)
        }
      },

      trashInbox () {
        // axios.post(`${config.socketUrl}/inbox/trash`, { code: 1, messages: this.markedMessages })
        //   .then((response) => {
        //     if (response.data.success) {
        //       this.$store.commit('removeFromInbox', { type: this.inboxType, messages: this.markedMessages})
        //       this.refetchInbox()
        //       this.markedMessages = []
        //       this.selectAll = false
        //       this.showSuccess('Messages Archived Successfully!!!', 4000)
        //     }
        //     else console.log('Trash failed', response.data.data)
        //   })
      },

      markAsRead () {
        axios.post(`${config.socketUrl}/draft/sequence/commit`, { idList: this.markedMessages })
          .then((response) => {
            if (response.data.success) {
              this.$store.commit('markReadInbox', { type: 'draft', messages: this.markedMessages})
              this.showSuccess('Messages Marked as Read!!!', 4000)
              this.markedMessages = []
              this.selectAll = false
            }
            else console.log('Marked failed', response.data.data)
          })
      },

      markAll (e) {
        if(e.target.checked) {
          for(let m of this.mails) {
            if (this.markedMessages.indexOf(m.id) === -1)
              this.markedMessages.push(m.id)
          }
        } else {
          this.markedMessages = []
        }
      },

      searchInbox (searchTerm) {
        // search inbox
        this.searchTerm = searchTerm
        if(this.searchTerm) {
          // check whether it is page number
          if (!isNaN(this.searchTerm)) {
            this.oldPage = this.currentPage
            this.currentPage = Number(this.searchTerm)
            this.searchTerm = ''
          }
          this.refetchInbox()
        } else {
          this.refetchInbox()
        }
      },

      formatDate (dateString) {
          // console.log('dateStr', dateString)
          try {
              let d = new Date(dateString).toDateString()
              const dateStr = d.split(' ')
              const day = dateStr[2]
              const month = dateStr[1]
              const year = dateStr[3]
              const y = `${year[2]}` + `${year[3]}`
              return `${day} ${month} ${y}`  
          } catch(err) {
              console.log(err.message)
          }
      },

      nextPage () {
        if (this.mails.length > 0) {
          this.currentPage += 1 
          this.refetchInbox()
        } else {
          this.showSuccess('End of Page')
        }
        console.log('next page is:', this.currentPage, this.inboxFilter)
      },

      prevPage () {
        if(this.currentPage > 1) {
          this.currentPage -= 1
          this.refetchInbox()
        }
        console.log('prev page is:', this.currentPage, this.inboxFilter)
      },

      refetchInbox () {
        this.$store.dispatch(
            'getInboxMessages',
            {userId: this.profile.id, page: this.currentPage, filter: this.inboxFilter, type: this.inboxType, search: this.searchTerm, startDate: this.startDate, endDate: this.endDate}
          )
      },

      filterEvent (event) {
        this.inboxFilter = event
      },

      inboxSequence () {
        if (this.sequenceOn) { // turn off sequence
          this.$store.commit('turnOffSequence', this.$route.path)
          this.showSuccess('Inbox Sequence is Off!!!')
        } else {  // turn on sequence by saving inbox state
          this.$store.commit('turnOnSequence', {
            currentPage: this.currentPage,
            inboxType: this.inboxType,
            inboxFilter: this.inboxFilter,
            searchTerm: this.searchTerm
          })
          this.showSuccess('Inbox sequence is On!!!')
        }
      },

      restoreInboxState () {
        if (this.sequenceOn) { // restore inbox state
          const inboxState = this.$store.getters.fetchInboxState(this.$route.path)
          console.log('*****restoring inboxState!!!!*******:', inboxState)
          this.inboxFilter = inboxState.inboxFilter
          this.inboxType = inboxState.inboxType
          this.searchTerm = inboxState.searchTerm
          this.currentPage = inboxState.currentPage
          console.log('*********Inbox Restored **********:', {
            inboxFilter: this.inboxFilter,
            inboxType: this.inboxType,
            searchTerm: this.searchTerm,
            currentPage: this.currentPage
          })
          this.inboxRestored = true

        } else {  // start all over --- get mails from server with default state
          console.log('Using default state!!!!!!!')
          this.$store.dispatch(
            'getInboxMessages',
            {userId: this.profile.id, page: this.currentPage, filter: this.inboxFilter, type: this.inboxType, search: this.searchTerm}
          )
          this.inboxRestored = false
        }
      }
    },

    computed: {
      mails () {
        console.log('draftInbox:', this.$store.getters.draftInbox)
        return this.$store.getters.draftInbox
      },

      unreadMessages () {
        return {
          unread: this.$store.getters.unread,
          ngUnread: this.$store.getters.ngUnread,
          outUnread: this.$store.getters.outUnread,
          inUnread: this.$store.getters.inUnread,
          nhqUnread: this.$store.getters.nhqUnread
        }
      },

      mailTitle () {
        return function (m) {
          // if (m.subject) return m.subject
          // else return m.sender.email
          return `Draft From - ${m.sender.appointment}: Version ${m.draftVersion.version_number} of ${m.subject}`
        }
      },

      sequenceOn () {
        return this.$store.getters.sequenceIsOn('draft')
      }
    },

    watch: {
      inboxFilter (newVal, oldVal) {
        if(this.inboxRestored) { console.log('******WATCHER doing it*****')
            this.refetchInbox()
            this.inboxRestored = false
          } else {
            this.currentPage = 1
            this.refetchInbox()
          }
      },

      inboxType (newV, oldV) {
        this.restoreInboxState()
      },

      mails (newVal, oldVal) {
        console.log('Watch For Mail restoration')
        if(newVal.length === 0 && this.oldPage !== 0) { // restore previous page after jumping to empty page
          this.currentPage = this.oldPage
          this.oldPage = 0
        }
      }
    },

    mounted () {
      this.profile = JSON.parse(localStorage.getItem('userProfile'))
      this.$root.$on('search_inbox', this.searchInbox)
      this.restoreInboxState()
    },

    components: {
      InboxMenu,
      MobileMenu
    },

    mixins: [notification]
  }
</script>