<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <div class = 'row'>
        <div class='col-lg-1'></div>
        <div class='col-lg-10'>
          <div class='card'>
            <div class='card-body'>
              <h4 class='menuTitle'>My Drafts</h4>
              <div class="content-scroll">
                <ul class='fms-list'>
                  <li v-for = '(d, i) in drafts' :key = 'i' v-on:click = 'navigate(d)' class='d10'>
                      <img :src = 'docIcon'/>
                      <span :class='{"file": true, "file-subject": true}'>
                        {{d.subject ? d.subject : d.file_id}}
                      </span>
                      <span class='file file-date'>
                        <span :class='{"letter": d.type !== "signal", "signal": d.type === "signal" }'>{{d.type === "signal" ? "Signal: " : "Letter: "}}</span> 
                        {{new Date(d.created_at).toDateString()}}
                      </span>
                      <!-- <span>{{d.status ? 'Approved' : 'Pending'}}</span> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-1'></div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '@/config'

  export default {
    data () {
      return {
        drafts: '',
        profile: '',
        docIcon: `${config.rootDir}/static/img/menuIcons/word2.png`,
      }
    },

    methods: {
      navigate(draft) {
        this.$router.push(`/dashboard/file/draft/${draft.type}/${draft.id}`)
      }
    },

    async mounted () {
      this.profile = JSON.parse(localStorage.getItem('userProfile'))
      this.drafts = (await axios.get(`${config.socketUrl}/drafts/${this.profile.id}`)).data.data
    }
  }
</script>

<style scoped>
 .menuTitle {
    text-align: center;
    border-style: solid;
    border-color: blue;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

.fms-list {
        background-color: white
    }

    .fms-list li {
        display: inline-block;
        padding: 2%
    }
    
    .fms-list li img{
        display: block;
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .file {
      width: 200px;
      text-overflow:ellipsis;
      text-align: center;
      display: block;
      padding-top: 5px;
    }

    .file-subject {
      font-size: 15px;
    }

    .file-date {
      font-size: 10px;
      color: #2c4763;
    }

    .signal {
      color: rgb(196, 119, 3);
      font-weight: bold
    }

    .letter {
      color: rgb(0, 160, 112);
      font-weight: bold
    }

  
</style>