<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <GridMenu v-if='!this.$route.params.type' menuTitle = 'Draft Menu' :links = 'menuItems'/>
    </div>
  </div>
</template>

<script>
  import GridMenu from '@/components/helpers/GridMenu'
  import config from '@/config'

  export default {
    data () {
      return {
        // Menu data
        menuItems: [
          {
            image: `${config.rootDir}/static/img/createDraft.png`,
            href: '/dashboard/file/draft/informal',
            text: 'Draft Letter'
          },
          {
            image: `${config.rootDir}/static/img/menuIcons/writing.png`,
            href: '/dashboard/file/draft/signal',
            text: 'Draft Signal'
          },
          {
            image: `${config.rootDir}/static/img/draftList.png`,
            href: '/dashboard/draft/list',
            text: 'My Drafts'
          },
          {
            image: `${config.rootDir}/static/img/menuIcons/blank.png`,
            href: '/dashboard/draft/inbox',
            text: 'Draft Inbox'
          }
        ],
      }
    },

    components: {
      GridMenu
    },



    mounted () {

    }
  }
</script>