<template>
  <div>
    <div class="container-fluid" v-if = '!this.$route.params.dept && !this.$route.params.subdept && !this.$route.params.year && !this.$route.params.volume'>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6 adminlr">
          <div class="text-center custom-login wht">
              <h3>Volume Information</h3>
          </div>
          <div class="hpanel">
            <div class="panel-body">
              <form action="#" id="loginForm" enctype="multipart/form-data">
                  <div class="row">
                      <div class="form-group col-lg-6">
                          <label><i class="fa fa-key"></i> Department</label>
                          <select class='form-control' v-model = 'dept'>
                            <option value='' selected='true'>Select</option>
                            <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option>
                          </select>
                      </div>
                      <div class="form-group col-lg-6">
                          <label><i class="fa fa-key"></i> Sub Department</label>
                          <select class='form-control' v-model='subdept'>
                            <option value=''>Select</option>
                            <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id'>{{subdept.name}}</option>
                          </select>
                      </div>

                      <div class="form-group col-lg-6">
                          <label><i class="fa fa-key"></i> Year</label>
                          <select class ='form-control' name="year" v-model='year'>
                            <option value="">Select</option>
                            <option v-for = '(year, index) in years' :key = 'index' :value="year">{{year}}</option>
                        </select>
                      </div>
                      
                      <div class="form-group col-lg-6">
                          <label><i class="fa fa-key"></i> Volume</label>
                          <select class ='form-control' name="volume" v-model='volume'>
                            <option value="">Select</option>
                            <option v-for = '(volume, index) in volumes' :key = 'index' :value="volume">{{volume}}</option>
                          </select>
                      </div>
                  </div>
              </form>
            </div><br>
            <a href="#"><button class="btn btn-primary loginbtn">Load</button></a>

          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <img class='file-preview' src='/static/img/file.jpeg' id = 'preview-img'/>
        </div>
      </div>
    </div>


    <div class="container-fluid" v-if = 'this.$route.params.dept && this.$route.params.subdept && this.$route.params.year && this.$route.params.volume'>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-md-7 adminlr">
          <div class="hpanel">
            <div class="panel-body">
              <img class='file-preview' :src = 'currentFile.path' id = 'preview-img'/>
            </div><br>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="text-center custom-login wht">
              <h3>Subject Matter Renaming</h3>
          </div>
          <div class='form-group subject'>
            <label><i class="fa fa-key"></i> Subject</label>
            <input type = 'text' v-on:keyup = 'goNext' placeholder = 'Enter Subject Matter' v-model = 'currentFile.subject' class='form-control'>
          </div>
          <button class="btn btn-primary nav-button" v-on:click ='prev'>Prev</button>
          <button class="btn btn-primary" v-on:click ='next'> Next</button>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import selectMixin from '../../mixins/select'
  export default {
    data () {
      return {
        index: 0,
        currentFile: {
          path: '',
          subject: ''
        },
        files: [
          {
            path: '/static/img/file.jpeg',
            subject: 'subject 1'
          },

          {
            path: '/static/img/file2.ico',
            subject: 'subject 2'
          },

          {
            path: '/static/img/file-icon.png',
            subject: 'subject 3'
          }
        ]
      }
    },

    methods: {
      next () {
        if (this.index < this.files.length - 1) this.index++
      },

      prev () {
        if (this.index > 0) this.index--
      },

      goNext (event) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
          // Trigger the button element with a click
          this.next()
        }
      }
    },

    watch: {
      index (newIndex, oldIndex) {
        if (newIndex < this.files.length && newIndex > -1) {
          this.currentFile = this.files[newIndex]
        } else {
          console.log('Index:', newIndex, 'out of range')
        }
      }
    },

    mixins: [selectMixin]
  }
</script>

<style scoped>
  .subject {
    margin-top: 50%;
  }

  .nav-button {
    margin: 5%;
  }

  .file-preview {
    width: 95%;
    margin-left: auto;
    height: 600px;
  }
</style>
