<template>
 <div class="content-body">  
    <!-- row -->
    <div class="container-fluid">
        <MobileMenu />
        <div class="card fixed-content">
            <div class="card-body" style='height: 100%;'>
                <div class="row">
                    <div class="col-12">
                        <div class="hpanel" style='height: 15%'>
                            <div class="panel-body d9">
                                <form action="#" id="loginForm">
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label><i class="fa fa-book"></i> Department</label>
                                            <select class="form-control" id="sel1" v-model = 'dept' @change = 'gotoSubDept($event)'>
                                                <option value='' selected='selected'>Select Department</option>
                                                <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option> 
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label><i class="fa fa-book"></i> Sub Department</label>
                                            <select class="form-control" id="sel1" v-model='subdept' @change = 'gotoYear($event)'>
                                                <option value='' selected>Select Sub Department</option>
                                                <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id'>{{subdept.name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <label><i class="fa fa-book"></i> Year</label>
                                            <select class="form-control" id="sel1" v-model='year' @change = 'gotoVolume($event)'>
                                                <option value="" selected>Select Year</option>
                                                <option v-for = '(year, index) in years' :key = 'index' :value="year['year']">{{year['year']}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-2">
                                            <label><i class="fa fa-book"></i> Volume</label>
                                            <select class="form-control" id="sel1" v-model='volume' @change = 'gotoFile($event)'>
                                                <option value="" selected>Select Volume</option>
                                                <option v-for = '(volume, index) in volumes' :key = 'index' :value="volume.id">{{volume.name}}</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if='!this.$route.params.dept && !isSearchResult' class="row content-scroll">
                    <ul class='fms-list'>
                        <li v-for ='dept of archive' :key ='dept.id' v-on:click = 'navigate(1, dept.id)' class='d10'>
                            <img :src = 'departmentImg' alt="" :tooltip="dept.name" :id = 'dept.name'/>
                            <label :for = 'dept.name' class='file-subject'>{{dept.name}}</label>
                        </li>
                    </ul>
                </div>

                <div v-if='this.$route.params.dept && !this.$route.params.subdept && !isSearchResult' class="row content-scroll">
                    {{navyInfo.abbrName}}:{{this.$route.params.dept}}
                      <ul class='fms-list'>
                        <li v-for ='subdept of archive' :key ='subdept.id' v-on:click = 'navigate(2, subdept.id)' class='d10'>
                            <img :src = 'subDepartmentImg' :alt="subdept.name" :tooltip="dept.name" id: = 'subdept.name'/>
                            <label :for = 'subdept.name' class='file-subject'>{{subdept.name}}</label>
                        </li>
                     </ul>
                </div>

                <div v-if='this.$route.params.subdept && !this.$route.params.year && !isSearchResult' class="row content-scroll">
                    {{navyInfo.abbrName}}: {{this.$route.params.dept}}/{{this.$route.params.subdept}}
                    <ul class='fms-list'>
                        <li v-for ='(year, i) of archive' :key ='i' v-on:click = 'navigate(3, year["year"])' class='d10'>
                            <img :src = 'yearImg' :alt="year" :tooltip="year['year']" :id = 'year["year"]'/>
                            <label :for = 'year' class='file-subject'>{{year['year']}}</label>
                        </li>
                    </ul>
                </div>

                <div v-if='this.$route.params.year && !this.$route.params.volume && !isSearchResult' class="row content-scroll">
                    {{navyInfo.abbrName}}: {{this.$route.params.dept}}/{{this.$route.params.subdept}}/{{this.$route.params.year}}
                    <ul class='fms-list'>
                        <li v-for ='volume of archive' :key ='volume.id' v-on:click = 'navigate(4, volume.id)' class='d10'>
                            <img :src = 'volumeImg' :alt="volume.name" :tooltip="volume.name" :id = 'volume.name'/>
                            <label :for = 'volume.name' class='file-subject'>{{volume.name}}</label>
                        </li>
                    </ul>
                </div>

                <div v-if='this.$route.params.volume && !isSearchResult' class="row content-scroll">
                    {{navyInfo.abbrName}}: {{this.$route.params.dept}}/{{this.$route.params.subdept}}/{{this.$route.params.year}}/{{this.$route.params.volume}}
                    <ul class='fms-list'>
                        <li v-for ='file of archive' :key ='file.id' v-on:click = 'navigate(5, file.id)' class='d10'>
                            <img :src = 'fileSrc(file)' v-if='file.type === "image" '/>
                            <img :src = 'pdfLogoUrl' v-if='file.type === "pdf" '/>
                            <img :src = 'memoLogoUrl' v-if='file.type === "html"' />
                            <img :src = 'videoLogoUrl' v-if='file.type === "video"' />
                            <img :src = 'audioLogoUrl' v-if='file.type === "audio"' />
                            <label class='file-subject'>{{file.subject}}</label>
                        </li>
                    </ul>
                </div>

                <div v-if ='isSearchResult' class="row content-scroll">
                    <ul class='fms-list'>
                        <li v-for ='file of searchResult' :key ='file.id' v-on:click = 'viewFile(file)' class='d10'>
                            <img :src = 'fileSrc(file)' v-if='file.type === "image" '/>
                            <img :src = 'pdfLogoUrl' v-if='file.type === "pdf" '/>
                            <img :src = 'memoLogoUrl' v-if='file.type === "html"' />
                            <img :src = 'videoLogoUrl' v-if='file.type === "video"' />
                            <img :src = 'audioLogoUrl' v-if='file.type === "audio"' />
                            <label class='file-subject'>{{file.subject}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
        </div>
</template>

<script>

  import selectMixin from '@/mixins/select'
  import axios from 'axios'
  import config from '../config'
  import MobileMenu from '@/components/helpers/MobileMenu'

  export default {
    data () {
        return {
            navyInfo: config.navyInfo,
            searchBox: '',
            isSearchResult: false,
            departmentImg: `${config.rootDir}/static/img/home.png`,
            subDepartmentImg: `${config.rootDir}/static/img/folder.png`,
            yearImg: `${config.rootDir}/static/img/folder2.png`,
            volumeImg: `${config.rootDir}/static/img/file2.ico` ,
            pdfLogoUrl: `${config.rootDir}/static/img/pdfLogo.png`,
            memoLogoUrl: `${config.rootDir}/static/img/memoLogo.png`,
            videoLogoUrl: `${config.rootDir}/static/img/videoIcon.jpeg`,
            audioLogoUrl: `${config.rootDir}/static/img/audioIcon.jpeg`,
            fileUrl: `${config.rootDir}`,
            profile: JSON.parse(localStorage.getItem('userProfile')),

            outgoing: ''
        }
    },

    methods: {
        search(subject) {
            console.log(this.dept, this.subdept, this.year, this.volume)
            let url = `${config.socketUrl}/archive`
            if(this.$route.params.dept) url += `/${this.$route.params.dept}`
            if(this.$route.params.subdept) url += `/${this.$route.params.subdept}`
            if(this.$route.params.year) url += `/${this.$route.params.year}`
            if(this.$route.params.volume) url += `/${this.$route.params.volume}`

            if (subject) { console.log('search subjects')
                axios.get(`${url}?subject=${subject}`, {withCredentials: false})
                    .then((response) => {
                        console.log('search response:', response)
                        this.$store.commit('searchResult', response.data.data)
                        this.isSearchResult = true
                    })
            } else { 
                console.log('search files')
                this.navigate(4, this.volume)
            }
            
        },

        autoSearch(event) {
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                this.search()
            }
        },

        navigate(id, data) {
            console.log('hey:',id)
            let urlStr = ''
            switch(id) {
                case 1:
                    urlStr = this.outgoing ? `/dashboard/archive/${data}?outgoing=true` : `/dashboard/archive/${data}`
                    if (id === 1 && (data === 23 || data === '23')) {   // if it is a secret document
                        if (this.profile.appointment === 'CC')
                            this.$router.push(urlStr)
                    } else {
                        this.$router.push(urlStr)
                    }
                break;

                case 2:
                    const dpt = this.$route.params.dept
                    urlStr = this.outgoing ? `/dashboard/archive/${dpt}/${data}?outgoing=true` : `/dashboard/archive/${dpt}/${data}`
                    this.$router.push(urlStr)
                break;

                case 3:
                    const dp = this.$route.params.dept
                    const subdpt = this.$route.params.subdept
                    urlStr = this.outgoing ? `/dashboard/archive/${dp}/${subdpt}/${data}?outgoing=true` : `/dashboard/archive/${dp}/${subdpt}/${data}`
                    this.$router.push(urlStr)
                break;

                case 4:
                    const d = this.$route.params.dept
                    const subdp = this.$route.params.subdept
                    const yr = this.$route.params.year
                    urlStr = this.outgoing ? `/dashboard/archive/${d}/${subdp}/${yr}/${data}?outgoing=true` : `/dashboard/archive/${d}/${subdp}/${yr}/${data}`
                    this.$router.push(urlStr)
                break;

                case 5:
                    const d1 = this.$route.params.dept
                    const subdp1 = this.$route.params.subdept
                    const yr1 = this.$route.params.year
                    const volume = this.$route.params.volume
                    urlStr = this.outgoing ? `/dashboard/file/thread/${data}?outgoing=true` : `/dashboard/file/thread/${data}`
                    this.$router.push(urlStr)
                break;
            }
        },

        viewFile (file) {
            console.log('viewFile:', file)
            const d = file.department
            const sd = file.sub_department
            const y = file.year
            const v = file.volume
            const f = file.id
            let urlStr = this.outgoing ? `/dashboard/file/thread/${f}?outgoing=true` : `/dashboard/file/thread/${f}`
            console.log('url:',urlStr)
            this.$router.push(urlStr)
        },

        gotoSubDept (e) {
            let urlStr = this.outgoing ? `/dashboard/archive/${e.target.value}?outgoing=${this.outgoing}` : `/dashboard/archive/${e.target.value}`
            if(e.target.value) this.$router.push(urlStr)
        },

        gotoYear (e) {
            let urlStr = this.outgoing ? `/dashboard/archive/${this.dept}/${e.target.value}?outgoing=${this.outgoing}` : `/dashboard/archive/${this.dept}/${e.target.value}`
            if(e.target.value) this.$router.push(urlStr)
        },

        gotoVolume (e) {
            let urlStr = this.outgoing ? `/dashboard/archive/${this.dept}/${this.subdept}/${e.target.value}?outgoing=${this.outgoing}` : `/dashboard/archive/${this.dept}/${this.subdept}/${e.target.value}`
            if(e.target.value) this.$router.push(urlStr)
        },

        gotoFile (e) {
            let urlStr = this.outgoing ? `/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${e.target.value}?outgoing=${this.outgoing}` : `/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${e.target.value}`
            if(e.target.value) this.$router.push(urlStr)
        }
    },
    computed: {
      archive: function() {
          console.log('archive called...')
          this.isSearchResult = false
        if(!this.$route.params.dept)
            return this.$store.getters.departments
        
        if(this.$route.params.dept && !this.$route.params.subdept) {
            this.dept = this.$route.params.dept
            return this.$store.getters.subDepartments
        }
        
        if(this.$route.params.subdept && !this.$route.params.year) {
            this.subdept = this.$route.params.subdept
            return this.$store.getters.years
        }

        if(this.$route.params.year && !this.$route.params.volume) {
            this.year = this.$route.params.year
            return this.$store.getters.volumes
        }
        
        if(this.$route.params.volume) {
            this.volume = this.$route.params.volume
            return this.$store.getters.files
        }
      },

      searchResult () {
          return this.$store.getters.searchResult
      },

      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      fileSrc () {
        return function (f) {
          const servInf = this.serverInf
          // const f = this.archive
          return `${servInf.archiveDir}/${f.dept_number.trim()}/${f.subdept_number.trim()}/${f.year}/${f.volume_name}/${f.folio_number}`
        }
      }
    },

    watch: {
        '$route.query.outgoing': function (newV, oldV) {
            if (newV) this.outgoing = newV
            else this.outgoing = ''
            console.log('OUTGOING DOC ARCHIVE:', newV)
        }
    },

    mounted () {
        this.$root.$on('search_archive', this.search)
        if (this.$route.query.outgoing)
            this.outgoing = this.$route.query.outgoing
    },

    created () {
        console.log('created called')
    },

    updated () {
        console.log('updated called')
    },

    destroyed () {
        console.log('distroyed called')
    },

    mixins: [selectMixin],
    components: {
        MobileMenu
    }
  }
</script>

<style scoped>
    .fms-list {
        background-color: white
    }

    .fms-list li {
        display: inline-block;
        padding: 2%
    }
    
    .fms-list li img{
        display: block;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-subject {
        width: 200px;
        text-overflow:ellipsis;
        text-align: center
    }

.content-scroll {
  height: 75%;
  width: 100%;
  overflow-y: scroll
}

@media screen and (max-width: 420px){
    .content-scroll {
        height: 50%;
    }
}
</style>