<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style = 'margin-bottom: 16%;'>
          <div class="col-md-4">
              <div class="text-center custom-login wht adminlr">
                  <h3>File Upload</h3>
                  <p>Administrator </p>
              </div>
              <div class="hpanel">
                  <div class="panel-body">
                      <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
                          <div class="row">
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Department</label>
                                  <select class='form-control' v-model = 'dept' name='department' @change = 'resetFolio($event)'>
                                    <option value='' selected='true'>Select</option>
                                    <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option>
                                  </select>
                              </div>
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Sub Department</label>
                                  <select class='form-control' v-model='subdept' @change = 'resetFolio($event)'>
                                    <option value=''>Select</option>
                                    <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id' name='sub_department'>{{subdept.name}}</option>
                                  </select>
                              </div>

                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Year</label>
                                  <select class ='form-control' name="year" v-model='year' @change = 'resetFolio($event)'>
                                    <option value="">Select</option>
                                    <!--<option value = 'currentYear'>{{currentYear}}</option> -->
                                    <option v-for = '(year, index) in years' :key = 'index' :value="year['year']">{{year['year']}}</option>
                                </select>
                              </div>
                              
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Volume</label>
                                  <select class ='form-control' name="volume" v-model='volume' @change = 'sujestFolio($event)'>
                                    <option value="">Select</option>
                                    <option v-for = '(volume, index) in volumes' :key = 'index' :value="volume.id">{{volume.name}}</option>
                                  </select>
                              </div>

                              <div class="form-group col-lg-12">
                                <label><i class="fa fa-key"></i> Subject</label>
                                <input type='text' v-model = 'uploadData.subject' placeholder='Subject Matter' class='form-control' name='subject'/>
                              </div>
                          </div>
                          <div class="text-center form-group col-lg-6">
                            <label><i class="fa fa-key"></i> Folio Number</label>
                            <input type='text' class='form-control' v-model = 'uploadData.folio' placeholder='Folio Number'/>
                          </div>
                          <button type="submit" class="btn btn-primary loginbtn" :disabled="uploading">Upload File <span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>

                      </form>
                  </div><br>
              </div> 
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class='card'>
              <div class='card-body'>
                <audio v-if='this.file.type === "audio"' id ='sound' controls>
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
                </audio>
                <video v-if='this.file.type === "video"' id ='vision'>
                    <p>Your browser doesn't support HTML5 video. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
                </video>
                <img :src = 'file.path' id = 'preview-img' v-if = 'file.type === "image"'/>
                <Pdf :src = 'fileSrc' width = '100%' height = '600px'  v-if = 'loaded && file.type === "pdf"' />
                <Memo :memoData = 'file' v-if = 'file.type === "html"'/>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>


<script>
  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import Memo from './helpers/Memo'
  import Pdf from './helpers/Pdf'
  import MobileMenu from '@/components/helpers/MobileMenu'


  import config from '../config'
  import axios from 'axios'

  export default {
    data () {
      return {
        uploadData: {
          subject: '',
          dept: '',
          subdept: '',
          volume: '',
          year: '',
          type: '',
          folio: ''
        },
        profile: JSON.parse(localStorage.getItem('userProfile')),

        loaded: false
      }
    },

    methods: {
      sujestFolio (e) { console.log('sujectFolio:',e)
        axios.get(`${config.socketUrl}/last/folio/${e.target.value}`)
          .then((res) => {
            if(res.data.success) {
              this.uploadData.folio = Number(res.data.data) + 1
            } else {
              this.uploadData.folio = ''
            }
          })
      },

      resetFolio (e) {
        this.uploadData.folio = ''
      },

      upload (e) { console.log('yeas')
      this.uploading = true
      let f = {}// new FormData()
      f['department'] = this.dept
      f['sub_department'] = this.subdept
      // f.append('year', this.uploadData.year)
      f['subject'] = this.uploadData.subject
      f['volume'] = this.volume
      f['type'] = 'pdf'
      f['folio_number'] = this.uploadData.folio
      f['memo_id'] =this.$route.params.memoId
      f['user_id'] = this.profile.id
      e.preventDefault()
      console.log(e.target, f)
      axios.post(`${config.socketUrl}/upload/memo`, f, { withCredentials: false })
        .then((response) => {
          console.log('submit respP', response)
          if (response.data.success) {
            this.alertSuccess('File Uploaded Successfully')
            this.uploadedFileId = response.data.data.fileId
            this.$router.push(`/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${this.volume}/${this.uploadedFileId}`)
          }
          else if(response.data) this.alertFailure(`Error!! - ${response.data.message}`)
          else this.alertFailure(`Error - could not upload file to server!!!`)
          this.uploading = false
        })
      }
    },

    computed: {
      file () {
        return this.$store.getters.memo
      },

      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      fileSrc () {
        const mem = this.file
        const serv = this.serverInf
        console.log('serverConf:', this.serverInf, mem)
        this.uploadData.subject = mem.subject
        return `${serv.memoDir}/${mem.id}.pdf`
      }
    },

    watch: {
      serverInf (newV,oldV) {
        if(newV) {
          this.loaded = true
        }
      }
    },

    mounted () {
      this.$store.dispatch('getMemo',this.$route.params.memoId)
      this.$store.dispatch('getServerConfig')
      if (this.serverInf.memoDir) this.loaded = true
    },

    components: {
      Memo,
      Pdf,
      MobileMenu
    },

    mixins: [selectMixin, notification]
  }

</script>
