<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
          <div class="row" v-if='this.$route.params.memoId'>
            <div class="col-md-4 adminlr">
                <div class="text-center custom-login wht">
                  <h3>Create File</h3>
                  <p>Administrator </p>
                </div>
                <div class="hpanel">
                  <div class="panel-body">
                    <form action="#" id="loginForm" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label><i class="fa fa-key"></i> Department</label>
                                <select class='form-control' v-model = 'dept'>
                                  <option value='' selected='true'>Select</option>
                                  <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><i class="fa fa-key"></i> Sub Department</label>
                                <select class='form-control' v-model='subdept'>
                                  <option value=''>Select</option>
                                  <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id'>{{subdept.name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6">
                                <label><i class="fa fa-key"></i> Year</label>
                                <select class ='form-control' name="year" v-model='year'>
                                  <option value="">Select</option>
                                  <option v-for = '(year, index) in years' :key = 'index' :value="year">{{year}}</option>
                              </select>
                            </div>
                            
                            <div class="form-group col-lg-6">
                                <label><i class="fa fa-key"></i> Volume</label>
                                <select class ='form-control' name="volume" v-model='volume'>
                                  <option value="">Select</option>
                                  <option v-for = '(volume, index) in volumes' :key = 'index' :value="volume">{{volume}}</option>
                                </select>
                            </div>
                            
                            <div class="form-group col-lg-6">
                              <label><i class="fa fa-key"></i> File Type</label>
                                <select class='form-control'>
                                  <option value=''>Select</option>
                                  <option value='select'>Minute Sheet</option>
                                  <option value='select'>Regular File</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6">
                              <label><i class="fa fa-key"></i> Subject</label>
                              <input type='text'  placeholder='Subject Matter' class='form-control'/>
                            </div>
                        </div>
                      </form>
                  </div><br>
                  <button v-on:click = 'this.editor' class="btn btn-primary loginbtn">Create File</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            </div>
          </div>

        <div class='row' v-if='this.$route.params.type === "upload"'>
          <!--<div class='col-lg-5'>
            <div class="text-center custom-login wht">
              <h3>Upload Memo</h3>
            </div>
            <div class='hpanel'>
              <div class='panel-body'>
                <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
                  <div class='row'>
                    <div class='form-group'>
                      <textarea class='form-control' placeholder='Memo Description'  v-model = 'uploadData.description'></textarea>
                    </div>

                    <div class="form-group text-right">
                      <input type='file' accept = 'application/pdf' class='form-control' v-on:change = 'previewFile($event)' id='fileInput' name='file'/>
                    </div>
                    <button type="submit" class="btn btn-primary loginbtn" :disabled="uploading">Upload File <span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class='col-lg-7'>
            <img :src='prevPdf' class='file-preview' alt='preview' id='preview'>
            <iframe id="pdfViewer" frameborder="0" scrolling="no" style='width: 100%; height: 500px'></iframe>
          </div> -->

          <div class="col-md-5">
            <div class="text-center custom-login wht adminlr">
              <h4 class="card-title d3 d4"><i class="icon-pencil"></i> Upload Memo</h4>
            </div>
            <div class="card">
              <div class="card-body">
                <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data" class='form'>
                    <div class="form-group col-lg-12">
                      <label><i class="fa fa-pencil"></i> Description</label>
                      <input class='form-control' placeholder='Memo Description'  v-model = 'uploadData.description' required="">
                    </div>
                    <div class="form-group col-lg-12">
                      <input type='file' accept = 'application/pdf' class='form-control-file' v-on:change = 'previewFile($event)' id='fileInput' name='file'>
                    </div>
                    <button class="btn btn-primary" type="submit" :disabled="uploading">Upload File</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <img :src='prevPdf' class='file-preview' alt='preview' id='preview'>
            <iframe id="pdfViewer" frameborder="0" scrolling="no" style='width: 100%; height: 500px'></iframe>
          </div>
        </div>

        <div class="row" v-if='this.$route.params.type === "editor"'>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="email-left-box d5"><button class="btn btn-primary btn-block">Memo Information</button>
                  <form action="#">
                    <div class="row">
                      <div class="form-group col-lg-12" style="margin-top: 10px;">
                        <!--<input type="text" class="form-control" placeholder="Enter Subject" required=""> -->
                        <textarea v-model = 'memoData.subject' placeholder = 'Enter Subject' class='form-control'></textarea>
                      </div>
                      <div class="form-group col-lg-12">
                        <select v-model= 'memoData.to' class='form-control'>
                          <option value = ''>TO:</option>
                          <option v-for = '(appointment, index) in appointments' :key = 'index' :value = 'appointment.name'>{{appointment.name}}</option>
                        </select>
                      </div>
                      <div class="form-group col-lg-12">
                        <!--<input type="text" class="form-control" placeholder="Rank" required=""> -->
                        <input type='text' v-model = 'memoData.rank' placeholder = 'Rank'  class='form-control'/>
                      </div>
                      <div class="form-group col-lg-12">
                        <!--<input type="text" class="form-control" placeholder="Name in block letters" required=""> -->
                        <input type='text' v-model = 'memoData.name' placeholder = 'Name in Block Letters' class='form-control'/>
                      </div>
                    </div><br>
                  </form>
                </div>
                <div class="email-right-box">
                  <div class="table-responsive">
                      <table class="table header-border" style="color: #000">
                          <thead style="text-align: center; font-size: 18px; text-transform: uppercase;">
                              <tr>
                                  <th colspan="2">{{navyInfo.type.toProperCase()}}<br> {{navyInfo.name.toProperCase()}}<br> Nigerian Navy {{navyInfo.region}}</th>
                              </tr>
                              <tr style="text-decoration: underline;">
                                  <th colspan="2">Memorandum</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>From: {{profile.appointment}}</td>
                                  <td>To: {{memoData.to}}</td>
                              </tr>
                              <tr>
                                  <td colspan="2">Date: {{formatDate(memoData.createdAt)}}</td>
                              </tr>
                              <tr>
                                  <td>Ref:</td>
                                  <td>Our ref: </td>
                              </tr>
                              <tr>
                                  <td colspan="2">Subject: <span style="text-align: center;">{{memoData.subject.toUpperCase()}}</span></td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="summernote">
                        <Editor v-if='!preview' :options = 'tmOptions' :initContent = 'memoData.content' v-on:save = 'saveMemo($event)'/>
                        <div v-if='preview' v-html = 'memoData.content'>
                            {{memoData.content}}
                          </div>
                      </div>
                      <table class="table header-border" style="color: #000">
                        <tr>
                          <td>Rank: {{memoData.rank.toUpperCase()}}</td>
                          <td>Name in block letters: {{memoData.name.toUpperCase()}}</td>
                        </tr>
                        <tr>
                          <td>Appointment: {{memoData.appointment}}</td>
                          <td>
                            <span v-if = '!memoData.signature'>Initial: <b>{{memoData.initial}}</b></span>
                            <span v-if = 'memoData.signature' >
                              Signature:
                              <img :src = 'signSrc(memoData)' style = 'width: 100px; height: 50px;'/>
                            </span>
                          </td>
                        </tr>
                      </table>
                  </div>
                  </div>
                  <div class="text-right m-t-15" style="margin-top: 10px;">
                    <button @click = 'preview = false' v-if='preview' class="btn btn-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10" type="button"><i class="fa fa-paper-plane m-r-5"></i> Edit</button>
                    <button @click = 'sendMemo()' class="btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20" type="button"><i class="ti-close m-r-5 f-s-12"></i> Send</button>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <GridMenu v-if='!this.$route.params.type' menuTitle = 'Memorandum Menu' :links = 'menuItems'/>
    </div>
  </div>
</template>

<script>
  
  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import socketMixin from '@/mixins/socket'
  import Editor from '@/components/helpers/Editor'
  import GridMenu from '@/components/helpers/GridMenu'
  import MobileMenu from '@/components/helpers/MobileMenu'

  import config from '../config'
  import axios from 'axios'

  export default {
    data () {
      return {
        navyInfo: config.navyInfo,
        prevPdf: `${config.rootDir}/static/img/pdfLogo.png`,
        preview: false,

        users: [],
        uploadData: {
          description: '',
          type: '',
          file: ''
        },
        memoData: {
          to: '',
          from: JSON.parse(localStorage.getItem('userProfile')).appointment,
          name: '',
          subject: '',
          rank: '',
          initial: JSON.parse(localStorage.getItem('userProfile')).initial,
          signature: JSON.parse(localStorage.getItem('userProfile')).signature,
          appointment: JSON.parse(localStorage.getItem('userProfile')).appointment,
          userId: JSON.parse(localStorage.getItem('userProfile')).id,
          content: '',
          createdAt: new Date().toString()
        },
        fetchedMemo: '',

        uploading: false,
        fileList: [],
        /* uploadUrl: `${config.baseUrl}/create_memo`, */
        uploadUrl: `${config.socketUrl}/create/memo`,
        sendUrl: `${config.socketUrl}/send/memo`,

        profile: JSON.parse(localStorage.getItem('userProfile')),

        tmOptions: {
          height: 350
        },

        // Menu data
        menuItems: [
          {
            image: `${config.rootDir}/static/img/memo1.png`,
            href: '/dashboard/memo/upload',
            text: 'Upload Memo'
          },

          {
            image: `${config.rootDir}/static/img/memo3.png`,
            href: '/dashboard/memo/editor',
            text: 'Create Memo'
          }
        ],
      }
    },

    methods: {
      init () {
        console.log('create file mounted', JSON.parse(localStorage.getItem('userProfile')))
        // this.users = (await axios.get(`${config.socketUrl}/users`)).data.data
          this.users = this.$store.getters.userList
        axios.get(`${config.socketUrl}/appointments`)
        .then((response) => {
          if(response.data.success) {
            this.$store.commit('appointments', response.data.data)
          } else {
            this.alertFailure("Unable to fetch appointments", 5000);
          }
        })
      },
      editor: function() {
        this.$router.push('/dashboard/createfile/editor')
      },

      saveMemo (memo) {
        console.log('saving memo', memo)
        this.memoData.content = memo
        this.preview = true
      },

      previewFile: function (event) { 
        let vm = this
        let fileInput = document.getElementById('fileInput')
        this.uploadData.file = fileInput.files[0]; console.log('file:', fileInput.files[0])
        this.fileList = []
        for (let i = 0; i < fileInput.files.length; i++) {
          this.fileList.push(fileInput.files[i])
          this.previewPdf(fileInput.files[i])
        }
      },

      previewPdf (file) {
        console.log('pdf preview')
        let pdfViewer = document.getElementById('pdfViewer')
        const reader = new FileReader()
          reader.onload = (function(pdfV){ console.log('ok then...')
            return function(e) { console.log('ok then and...')
              pdfV.src = e.target.result
              document.getElementById('preview').style.display = 'none'
            }
          })(pdfViewer)
          reader.readAsDataURL(file)
      },

      upload (e) { console.log('yeas')
        this.uploading = true
        let f = new FormData(); f.append('file', e.target.file);
        f.append('description', this.uploadData.description)
        f.append('user_id', this.profile.id);
        f.append('file_type', 'pdf')
        f.append('file', this.uploadData.file)
        e.preventDefault()
        console.log(e.target, f)
        axios.post(this.uploadUrl, f, { withCredentials: false })
          .then((response) => {
            console.log('submit respP', response)
            if (response.data.success === true) {
              // TODO: send inbox via socket here...
              let recipient
              for(let user of this.users) {
                if(user.appointment === 'CC') {
                  recipient = user
                  break;
                }
              }

              this.socketSend({
              type: 'memo',
              recipient,
              content: {
                title: `Memo - ${this.profile.appointment}: ${this.uploadData.description}`,
                memoId: response.data.data.fileId,
                sender_email: this.profile.email,
                text: this.uploadData.description
              }
            })
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
              // this.$router.push(`/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${this.volume}/${this.uploadedFileId}`)
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      sendMemo () {
        console.log('memo details:', this.memoData)
        axios.post(this.sendUrl, this.memoData, { withCredentials: false })
        .then((response) => {
            console.log('submit respP', response)
            if (response.data.success) {
              // TODO: send inbox via socket here...
              let recipient
              for(let user of this.users) {
                if(user.appointment === 'CC') {
                  recipient = user
                  break;
                }
              }

              this.socketSend({
              type: 'memo',
              recipient,
              content: {
                title: `Memo - ${this.profile.appointment}`,
                memoId: response.data.memoId,
                sender_email: this.profile.email,
                text: this.uploadData.description
              }
            })
              this.alertSuccess('Memo Sent Successfully')
              //this.uploadedFileId = response.data.data.fileId
              // this.$router.push(`/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${this.volume}/${this.uploadedFileId}`)
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - Could not Send Memo!!!`)
            this.uploading = false
          })
      },

      formatDate (dateString) {
        // console.log('dateStr', dateString)
        try {
            let d = new Date(dateString).toDateString()
            const dateStr = d.split(' ')
            const day = dateStr[2]
            const month = dateStr[1]
            const year = dateStr[3]
            const y = `${year[2]}` + `${year[3]}`
            return `${day} ${month} ${y}`  
        } catch(err) {
            console.log(err.message)
        }
      }
    },

    computed: {
      appointments () {
        return this.$store.getters.appointments
      },

      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      signSrc () {
        return function (s) {
          const servInf = this.serverInf
          console.log('serverInf:', servInf)
          return `${servInf.signatureDir}/${s.signature}`
        }
      }
    },

    async mounted () {
      this.$root.$on('app_header_init', () => {
          this.init()
      })
      this.init()
    },

    components: {
      Editor,
      GridMenu,
      MobileMenu
    },

    mixins: [selectMixin, notification, socketMixin]
  }
</script>


<style scoped>

  /* thead {
    text-align: center;
  } */

</style>