<template>
  <div class='main-wrapper'>
    <Header :pagePath = 'this.$route.path'/>
    <Sidebar/>
    <!-- <chat-widget /> -->

      <!--<FileManager v-if='this.$route.path === "/dashboard/" || this.$route.path === "/dashboard"'/> -->
      <Inbox v-if='this.$route.path === "/dashboard/" || this.$route.path === "/dashboard"' />
    <router-view></router-view>
    <!--<Footer/> -->
  </div>
</template>

<script>

  import Header from './helpers/Header'
  import FileManager from './helpers/FileManager'
  import Footer from './helpers/Footer'
  import Sidebar from './helpers/Sidebar'
  import Inbox from './Inbox'
  import socketMixin from '../mixins/socket'
  import axios from 'axios'
  import config from '../config'
  import notification from '../mixins/notification'
  import soundMixin from '../mixins/sound'
  import ChatWidget from '@/components/chat/ChatWidget'


  export default {
    methods: {
      
    },
    async mounted () {
      if (!localStorage.getItem('userProfile')) {
        this.$router.push('/login')
        return
      }
      
      let that = this
      let socket = this.socketConnect()
      socket.on('message', (msg) => {
        try {
          let message = msg
          switch(message.type) {
            case 'mail-sent':
              console.log('mail sent!, add to sent messages')
              this.showSuccess('Message sent successfully')
              break
            case 'inbox':
              console.log('inbox received!!!', typeof message.content, message.content, message)
              this.$store.commit('newMessage', message.content)
              this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
              this.showSuccess('New Message recieved!!!')
              break

            case 'draft':
              // console.log('inbox received!!!', typeof message.content, message.content, message)
              this.$store.commit('newDraftMessage', message.content)
              this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
              this.showSuccess('New Draft Message recieved!!!')
              break

            case 'update-inbox':
              console.log('INBOX NOTIFICATION READY TO BE UPDATED!!!', message)
              this.$store.commit('decrementUnread', { type: 'inbox', amount: message.n })
            break

            case 'fetch-inbox-count':
              this.$root.$emit('count-inbox')
            break

            case 'notify':
              console.log('NOTIFICATION WITH MESSAGE:',message.content)
              this.$root.$emit('show-notification', message.content)
            break
          }
        } catch(err) {
          console.log(err.message)
        }
      })

      socket.on('connect_error', () => {
        console.log('UNABLE TO CONNECT TO SERVER!!!')
        that.$root.$emit('server_disconnected')
      })

      socket.on('disconnect', () => {
        console.log('SERVER DISCONNECTED!!!')
        that.$root.$emit('server_disconnected')
      })

      socket.on('reconnect', () => {
        console.log('SOCKET RECONNECTED!!!')
        that.$root.$emit('server_reconnected')
        this.fetchData()
      })

      this.fetchData()
    },
    components: {
      Header,
      FileManager,
      Footer,
      Sidebar,
      Inbox,
      ChatWidget
    },

    mixins: [socketMixin, notification, soundMixin]
  }
</script>

<style scoped>
  
  .content-body {
    width: 82vw;
    overflow-x: hidden;
    position:absolute !important;
    top: 12vh !important;
    left: 18vw;
    height: 88vh;
    background-color: #dee2e6 !important;
  }

  /* body {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 100%; } */
</style>