<template>
  <div class = 'content-body'>
    <div class="container-fluid" id = 'doc-container2' style='height: 570px; overflow-y: scroll'>
      <MobileMenu />
      <div class='row'>
        <div class='col-lg-1'>
          <icons-menu :links = 'rightMenuItems' v-on:tab-changed = 'switchTab($event)' initialTab = '6' vertical = 'true' v-if = '!this.prntDoc'/>
        </div>
        <div class='col-lg-10'>
          <UserList
          v-if='currentTab === 11'
          v-on:recipients = 'setRecipients($event)'
          v-on:msg = 'setMessage($event)'
          v-on:title = 'setTitle($event)'
          v-on:sendType = 'setSendType($event)'
          :msgSubject = 'filee.subject'
          />
          <MinuteSheet
              v-if='currentTab === 7'
              :print = 'prntDoc'
              v-on:printed = 'endPrint($event)'
              :threadData = 'thread'
            /><br/>
          <Editor v-on:save = 'commit($event)' v-if='currentTab === 7'/>
          <FMSDoc 
              v-if='currentTab === 6'
              :file = 'filee'
              category = 'archive_doc'
              :print = 'prntDoc'
              v-on:printed = 'endPrint($event)'
            />
            <FMSDoc
              v-if='currentTab === 5'
              :file = 'filee'
              category = 'stamp'
              :stamp = 'currentTab === 5'
              :print = 'prntDoc'
              v-on:printed = 'endPrint($event)'
            />

            <FMSDoc 
              v-if='currentTab === 12'
              :file = 'filee'
              category = 'outgoing_doc'
              :print = 'prntDoc'
              v-on:printed = 'endPrint($event)'
            />

          <div class='row' v-show='currentTab === 8'>
            <div class='col-lg-12 col-md-12 col-sm-12'>
              <div id = 'draft-container' ref='draft-container'></div>
              <button @click = 'viewDraft(true)' class='btn bnt-warn'>Goto Draft Page</button>
            </div>
          </div>

          <div class='row' v-show='currentTab === 9'>
            <div class='col-lg-12 col-md-12 col-sm-12'>
              <div class='card'>
                <div class='card-body'>
                  <h3 style='text-align: center'>Participants ({{this.threadType === 1 || this.threadType === '1' ? 'Simulteneous' : this.threadType === 2 ||this.threadType === '2' ? 'Queued' : 'None'}})</h3>
                  <table class='table'>
                    <thead>
                      <tr>
                        <td>S/N</td>
                        <td>Appointment</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for ='(participant, index) in participants' :key = 'index'>
                        <td style='text-align: center'>
                          {{index + 1}}
                        </td>
                        <td style='text-align: center'>
                          {{participant.appointment}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class='row' v-show='currentTab === 13'>
            <div class='col-lg-12 col-md-12 col-sm-12'>
              <uploadOutgoing :fileId = 'filee.id' />
            </div>
          </div>

        </div>

        <div class='col-lg-1'>
          <div class='' v-if = '!this.prntDoc'>
            <div class='' style='width: 100%; margin-left: 0px; margin-right: 0px; background-color: white'>
                <icons-menu :links = 'leftMenuItems' v-on:tab-changed = 'switchTab($event)' initialTab = '6' vertical = 'true' v-if = '!this.prntDoc'/>
                <button v-if = 'sequenceOn' @click = 'nextMail(true)' class='btn btn-gradient'><i class="fa fa-angle-left"> Previous Mail</i></button>
                <button v-if = 'sequenceOn' @click = 'nextMail(false)' class='btn btn-gradient'>Next Mail <i class="fa fa-angle-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import socketMixin from '@/mixins/socket'
  import soundMixin from '@/mixins/sound'

  import UserList from '@/components/UserList'
  import FMSDoc from '@/components/helpers/FMSDoc'
  import MinuteSheet from '@/components/MinuteSheet'
  import Stamp from './helpers/Stamp'
  import Pdf from './helpers/Pdf'
  import Memo from './helpers/Memo'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import Intensify from './helpers/Intensify'
  import printJs from 'print-js'
  import DraftManager from '@/lib/fms-draft'
  import IconsMenu from '@/components/helpers/IconsMenu'
  import UploadOutgoing from '@/components/UploadOutgoing'


  import axios from 'axios'
  import config from '../config'
  import Editor from './helpers/Editor'

  export default {
    data () {
      return {
        filee: {},
        fileId: '',
        comment: '',
        threadType: 1,

        fileImg: ``,
        recipients: [],
        msg: '',
        msgTitle: '',
        msgType: '',
        participants: [],

        showStamp: false,
        prntDoc: false,
        cc: false,

        currentTab: 6,

        profile: JSON.parse(localStorage.getItem('userProfile')),

        pdfUrl: `${config.rootDir}/static/demo.pdf`,

        users: [],

        // Menu data
      leftMenuItems: [],
      rightMenuItems: []
      }
    },

    methods: {
      async initFileThread() {
        this.cc = this.profile.appointment === 'CC'
        const fId = this.$route.params.fileId
        if (this.$route.query.outgoing) this.$store.dispatch('getTread', fId)
        else this.$store.dispatch('getThread', fId)
        this.filee = this.$store.getters.file;
        this.users = this.$store.getters.userList
      },
      switchTab(t) {
        console.log('switchTab:', t)
        if (this.$route.query.outgoing) {
          if (t !== 6) return
        }
        
        switch(t) {
          case 1:
            this.sendFile()
            // this.currentTab = prevTab
            return
            break
          case 2:
            this.sendFile('forward')
            return
            break
          case 3:
            this.printDoc()
            return
            break
          case 4:
            this.sendPrintTask()
            return
            break
          case 8:
            this.viewDraft()
            break
          case 10:
            this.acknowledge()
            return
            break
        }
        this.currentTab = t
      },
      commit (comment) {
        if(comment !== '') {
          const profile = JSON.parse(localStorage.getItem('userProfile'))
          this.confirm({
          title: 'Save Comment!!!',
          text: 'Are you sure you want to Save this comment?',
          cancelBtnText: "No, don't save!",
          confirmBtnText: "Yes, Save!!!",
          successText: 'Comment Saved successfuly',
          failText: 'You have cancelled saving your comment!'
          }, () => {
            this.alertSuccess("Saving Comment...")
            this.$store.commit('thread', {
              comment: comment,
              created_at: new Date().toDateString(),
              type: 1,
              user: profile
            })

            axios.post(`${config.socketUrl}/thread/create/comment`, {
              comment: comment,
              type: 1,
              user_id: this.profile.id,
              file_id: this.$route.params.fileId,
              participants: this.recipients,
              user_email: this.profile.email
            })
            .then((response) => {
              if (response.data.success) {
                const fId = this.$route.params.fileId
                this.$store.dispatch('getThread', fId)
                this.filee = this.$store.getters.file
                this.notify('Comment Saved successfully', 'success', 5000)
              }
              else this.alertFailure('Unable to save your comment', 3000)
              console.log('server thread:', response)
            })    
          })
        } else {
          this.alertFailure("Please type some comment!!!")
        }
      },

      acknowledge () {
        axios.post(`${config.socketUrl}/file/acknowledge`, {
          type: 1,
          user_id: this.profile.id,
          file_id: this.$route.params.fileId,
          participants: this.recipients,
          user_email: this.profile.email
        })
        .then((response) => {
          if (response.data.success) {
            const fId = this.$route.params.fileId
            this.$store.dispatch('getThread', fId)
            this.filee = this.$store.getters.file
            this.notify('Acknowledged successfully', 'success', 5000)
          }
          else this.alertFailure('Unable to acknowledge document', 3000)
        })  
      },

      viewDraft (page = false) {
        console.log('hey', page, this.filee.draft)
        if (!this.filee.draft || (this.filee.draft && page)) { // create draft
          this.$router.push(`/dashboard/file/draft/formal/${this.filee.id}`)
        }
        else if (page){
          this.currentTab = 8
        }
      },

      sendFile (type) {
        if (type === 'forward') {
          console.log('user selected')
          let nextPerson;
          for (let i = 0; i < this.participants.length; i++) {
            if (this.participants[i].appointment === this.profile.appointment && this.participants[i].email === this.profile.email) {
              if(i+1 === this.participants.length && this.participants.length > 1) {
                // forward back to the FOC
                nextPerson = this.participants[0]
              } else {
                nextPerson = this.participants[i+1]
                break
              }
            }
          }
          if(nextPerson) {
            
          let vm = this
          this.confirm({
            title: 'forward Message!',
            text: `Are you sure you want to forward this Document to ${nextPerson.appointment}?`,
            cancelBtnText: "No, don't forward!!!",
            confirmBtnText: "Yes, forward!!!",
            successText: 'Document forwarded successfuly',
            failText: 'Document forwarding cancelled!'
          }, () => {
            this.alertSuccess("Forwarding Document...")
             
            this.socketSend({
              type: 'forward',
              recipient: nextPerson,
              content: {
                title: `${this.filee.subject} - ${this.profile.appointment}`,
                fileId: this.$route.params.fileId,
                sender_email: this.profile.email,
                text: this.filee.subject
              }
            })
            this.alertSuccess('Document Forwarded Successfully')
            })
          } else {
            this.alertFailure('Recipient not found!!!')
          }
        } else {
          this.currentTab = 11
        }
      },

      setRecipients (event) {
        this.recipients = event
      },

      setTitle(event) {
        // console.log('set title', event)
        this.msgTitle = event
      },

      setSendType(event) {
        this.msgType = event
      },

      setMessage(event) {
        this.msg = event
      },

      formatDate (dateString) {
        let d = new Date(dateString).toDateString()
        const dateStr = d.split(' ')
        const day = dateStr[2]
        const month = dateStr[1]
        const year = dateStr[3]
        const y = `${year[2]}` + `${year[3]}`
        return `${day} ${month} ${y}`    
      },

      printDoc () {
        this.prntDoc = true
        console.log('printDoc', this.prntDoc)

        //printJs('doc-container', 'html')
        // this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
        //this.prntDoc = false
      },

      endPrint(event) {
        this.prntDoc = false
      },

      printPrev () {
        this.prntDoc = true
      },

      sendPrintTask () {
        let vm = this

        let recipient
        for(let user of this.users) {
          if(user.appointment === 'CC') {
            recipient = user
            break;
          }
        }

        this.showQueue({
            progressSteps: [''],
            queue: [{
              title: 'Description',
              text: 'Enter a brief description for the print task'
            }]
          }, (result) => {
              // console.log('queue result:', result)
              this.socketSend({
                type: 'print-task',
                recipient,
                content: {
                  title: `Print Task - ${this.profile.appointment}`,
                  fileId: this.$route.params.fileId,
                  sender_email: this.profile.email,
                  text: result.value[0],
                  type: 0
                }
              })
              this.alertSuccess('Message Sent Successfully')
            })
      },

     async nextMail(prev) {
        const m = await this.$store.getters.fetchNextMail('inbox', prev)
        // console.log('nextMail:',m)
        if(m) {
          this.$router.push(`/dashboard/file/thread/${m.file_id}`)
          this.$store.dispatch('getThread', m.file_id)
          this.filee = this.$store.getters.file;
          this.thread
        } else {
          this.showError('End of Mail')
        }
      }

    },

    computed: {
      /* filee: async function () {
        this.$store.getters.file
      }, */
      sequenceOn () {
        return this.$store.getters.sequenceIsOn('inbox')
      },

      file: function () {
        const tr = this.$store.getters.thread
        return tr

      },

      thread: function () {
        const tr = this.$store.getters.thread
        // console.log('fetch trhead', tr)
        this.filee = tr // tr.file
        this.threadType = (this.filee.thread && this.filee.thread.length > 0) ? this.filee.thread[0].type : ''// tr.thread_type
        this.participants = this.filee.recipients || []
        // return tr.threads // this.$store.getters.thread 
        return tr.thread
      }
    },

    watch: {
      fileId: async function() {
        const dept = this.$route.params.dept
        const subdept = this.$route.params.subdept
        const year = this.$route.params.year
        const volume = this.$route.params.volume
        // console.log(dept, subdept, year, volume, folio)
      },

      recipients: function () {
        // console.log('sendu', this.recipients)
        // this.showSuccess('Message Sent')
        const f_id = this.$route.params.fileId
    
        let vm = this
        this.confirm({
          title: 'Send Message!',
          text: 'Are you sure you want to send this message?',
          cancelBtnText: "No, don't send!!!",
          confirmBtnText: "Yes, send!!!",
          successText: 'Message sent successfuly',
          failText: 'Message sending cancelled!'
        }, () => {
          // console.log("participants: ", vm.recipients)
            this.alertSuccess("Sending Document...")
            const fId = this.$route.params.fileId
            // this.filee = this.$store.getters.file;

             vm.socketSend({
                type: 'thread',
                content: {
                  sender_email: localStorage.getItem('myEmail2'),
                  recipients: vm.recipients,
                  color: vm.profile.color,
                  title: vm.msgTitle || this.filee.subject,
                  text: vm.msg,
                  msgType: vm.msgType,
                  file: {
                    folio_number: f_id
                  }
                }
              })

              this.$store.dispatch('getThread', fId)

              axios.post(`${config.socketUrl}/thread/update/type`, {
                type: vm.msgType,
                file_id: this.$route.params.fileId,
              })
              .then((response) => {
                // console.log('resp...', response, vm.msgType)
                if (response.data.success)
                  this.notify('Minute Sheet Updated Successfully', 'success', 5000)
                else this.notify('Unable to update Minute sheet!!! - '+response.data.data, 'error', 5000)
              })
              vm.switchTab(6)
              vm.notify('File Saved successfully', 'success', 5000)
        })

      },

      file: function(newV, oldV) {
        // console.log('watch file called', newV, oldV)
        this.filee = newV

        if (this.filee.draft) {
          if(this.$refs['draft-container']) {
            let odfcanvas = new odf.OdfCanvas(this.$refs['draft-container']);
            odfcanvas.load(`${config.baseUrl}/${this.filee.draft.versions[this.filee.draft.versions.length - 1].docUrl}`);
          } else {
            console.log('draft-container not found - FileThread')
          }
        }

        // set the menu items
        this.rightMenuItems = [

          {
            image: `${config.rootDir}/static/img/menuIcons/document.png`,
            tab: 6,
            text: 'Document'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/google-sheets.png`,
            tab: 7,
            text: 'Minute Sheet'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/rubber-stamp.png`,
            tab: 5,
            text: 'Stamp'
          },

          this.filee.outgoing ?
          {
            image: `${config.rootDir}/static/img/menuIcons/files.png`,
            tab: 12,
            text: 'Outgoing Doc'
          } : null,

          this.filee.draft ?
          {
            image: `${config.rootDir}/static/img/menuIcons/google-docs.png`,
            tab: 8,
            text: 'Draft Document'
          }
          :
          {
            image: `${config.rootDir}/static/img/menuIcons/add.png`,
            tab: 8,
            text: 'Make Draft'
          }
        ]

        this.leftMenuItems = [

          {
            image: `${config.rootDir}/static/img/menuIcons/teamwork.png`,
            tab: 9,
            text: 'Participants'
          },
          
          {
            image: `${config.rootDir}/static/img/menuIcons/paper-plane.png`,
            tab: 1,
            text: 'Send Document'
          },
          {
            image: `${config.rootDir}/static/img/menuIcons/send.png`,
            tab: 2,
            text: 'Forward Document'
          },

          this.profile.appointment === "CC" ?
          {
            image: `${config.rootDir}/static/img/menuIcons/printer2.png`,
            tab: 3,
            text: 'Print Document'
          }
          :
          {
            image: `${config.rootDir}/static/img/menuIcons/printer.png`,
            tab: 4,
            text: 'Send For Printing'
          },

          {
            image: `${config.rootDir}/static/img/menuIcons/like.png`,
            tab: 10,
            text: 'Acknowledge'
          },


          this.profile.appointment === "CC" && !this.filee.outgoing?
          {
            image: `${config.rootDir}/static/img/uploadSignal.jpeg`,
            tab: 13,
            text: 'Upload Outgoing'
          } : null
        ]
      }
    },

    async mounted () {
      this.$root.$on('wodotexteditor-loaded', () => {
        this.initFileThread()
      })
      if (odf) this.initFileThread()
    },

    components: {
      Editor,
      UserList,
      Stamp,
      Pdf,
      Memo,
      Intensify,
      FMSDoc,
      MinuteSheet,
      MobileMenu,
      IconsMenu,
      UploadOutgoing
    },

    mixins: [notification, socketMixin, soundMixin]
  }
</script>

<style scoped>
  #preview-img {
    height: 100%;
    width: 85%;
  }

  .details {
    height: 500px;
    width: 100%;
    overflow-y: scroll
  }

  .comment {
    margin: 1%;
    background-color:bisque;
    padding: 2%;
    text-align: justify
  }

  .commented {
    text-decoration: line-through
  }

  .editorstyle {
  height: 150px;
  width: 100%;
  background-color: rgba(221, 221, 178, 0.521);
  }

  .editor-container {
    margin-top: 3%;
  }

  h2, h4 {
    text-align: center
  }

  .btn {
    width: 100%;
    margin-top: 1%;
    margin-left: 0px; 
    margin-right: 0px
  }
</style>