<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row">
          <div class="col-lg-7">
              <div class="hpanel">
                  <div class="panel-body" style = 'margin: 0px !important'>
                    <Pdf :src = 'fileSrc' height = '600px' width = '600px' v-if = 'loaded && file.type === "pdf"'/>
                    <img :src='fileSrc' id = 'preview-img' v-if = 'loaded && file.type === "image"'/>
                    <Memo :memoData = 'file' v-if='loaded && file.type === "html"' />
                  </div><br>
                  <div class='panel-body'>
                    <table class  ='table' v-if='loaded'>
                      <tr>
                        <td>Subject Matter:</td>
                        <td>{{file.subject}}</td>
                      </tr>

                      <tr>
                        <td>Department:</td>
                        <td>{{file.department.name}} ({{file.department.number}})</td>
                      </tr>

                      <tr>
                        <td>Sub Department</td>
                        <td>{{file.subdepartment.name}} ({{file.subdepartment.number}})</td>
                      </tr>

                      <tr>
                        <td>Year:</td>
                        <td>{{file.volume.year}}</td>
                      </tr>

                      <tr>
                        <td>Volume:</td>
                        <td>{{file.volume.name}}</td>
                      </tr>

                      <tr>
                        <td>Folio Number:</td>
                        <td>{{file.folio_number}}</td>
                      </tr>

                      <tr>
                        <td><button class='btn btn-info' @click='createThread()'>Send Document</button></td>
                        <td><button class='btn btn-info'>Exit</button></td>
                      </tr>

                      <tr>
              
                      </tr>
                    </table>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <Stamp :fileId = 'fileId' v-if='fileReady'/>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import selectMixin from '@/mixins/select'
  import axios from 'axios'
  import config from '../config'
  import notification from '@/mixins/notification'
  import socketMixin from '@/mixins/socket'
  import Stamp from './helpers/Stamp'
  import Pdf from './helpers/Pdf'
  import Memo from './helpers/Memo'
  import MobileMenu from '@/components/helpers/MobileMenu'



  export default {
    data () {
      return {
        file: {},
        fSrc: '',
        fileId: '',
        selectUser: false,
        recipients: [],
        msg: '',
        msgTitle: '',
        serverConfig: '',

        profile: JSON.parse(localStorage.getItem('userProfile')),
        loaded: false,
        fileReady: false
      }
    },

    methods: {

      createThread () {
        // this.selectUser = true
        this.$router.push(`/dashboard/file/thread/${this.$route.params.fileId}`)
      }
    },

    computed: {
      // file: function () {
      //   // console.log('fffff:', this.$store.getters.file)
      //   console.log("FileDetails:", this.$store.getters.file)
      //   return this.$store.getters.file

      // },

      serverInf: {
        set (newV) {
          this.serverConfig = newV
        },
        get () {
          return this.serverConfig;
        }
      },

      fileSrc: {
        get () {
          return this.fSrc
        },

        set (newV) {
          this.fSrc = newV
        }
      } 
    },

    watch: {
      fileId: async function(newV, oldV) {
        console.log('r:', newV)
      },

      file (newF, oldF) { console.log('FILE CHANGED:', oldF, newF)
        const serv = this.serverInf

        if (newF && newF.id && serv.archiveDir) {
          this.fileReady = true
          this.fileId = newF.id
          this.file = newF
          const f = newF

          if (newF.type === "image") {
              this.fileSrc = `${serv.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
            }
            else {
              console.log('serverConf:', this.serverInf, f)
              this.fileSrc = `${serv.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
            }
        }
      },

      serverInf: function(newV, oldV) {
        if(newV) {
          this.loaded = true
          const f = this.file
          this.fileId = f.id
          this.fileReady = true

          if (f.type === "image") {
              this.fileSrc = `${newV.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
          }
          else {
            this.fileSrc = `${newV.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
          }
        }
      },

       recipients: function () {
        console.log(this.recipients)
        // this.selectUser = false
        // this.showSuccess('Message Sent')
        const f_id = this.$route.params.fileId
        const dept = this.$route.params.dept
        const subdept = this.$route.params.subdept
        const year = this.$route.params.year
        const volume = this.$route.params.volume
        let vm = this
        this.confirm({
          title: 'Send Message!',
          text: 'Are you sure you want to send this message?',
          cancelBtnText: "No, don't send!!!",
          confirmBtnText: "Yes, send!!!",
          successText: 'Message sent successfuly',
          failText: 'Message sending cancelled!'
        }, () => {
            this.alertSuccess("Sending Document...")
             vm.socketSend({
                type: 'thread',
                content: {
                  sender: localStorage.getItem('myEmail2'),
                  recipients: vm.recipients,
                  title: vm.msgTitle,
                  text: vm.msg,
                  file: {
                    dept,
                    subdept,
                    year,
                    volume,
                    folio_number: f_id
                  }
                }
              })
              vm.notify('File Saved successfully', 'success', 5000)
        })

      }
    },

    async mounted () {
      const dept = this.$route.params.dept
      const subdept = this.$route.params.subdept
      const year = this.$route.params.year
      const volume = this.$route.params.volume
      const folio = this.$route.params.fileId
      console.log('path:', `${config.socketUrl}/archive/${dept}/${subdept}/${year}/${volume}/${folio}`)
      const response = await axios.get(`${config.socketUrl}/archive/${dept}/${subdept}/${year}/${volume}/${folio}`, { withCredentials: false })
      console.log('file fetched:', response)
      this.file = response.data

      this.$store.commit('file', response.data)
      if(this.serverInf.archiveDir) {
        this.loaded = true
        this.fileReady = true
        const f = this.file
        if (f.type === "image") {
        this.fileSrc = `${this.serverInf.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
        }
        else {
          console.log('serverConf:', this.serverInf, f)
          this.fileSrc = `${this.serverInf.archiveDir}/${f.department.number}/${f.subdepartment.number}/${f.volume.year}/${f.volume.name}/${f.folio_number}`
        }
      } else {
          const serverResp = await axios.get(`${config.socketUrl}/config`)
          this.serverInf = serverResp.data
          console.log('FileDetailsServerResp:', serverResp)
      }
    },

    components: {
      Stamp,
      Pdf,
      Memo,
      MobileMenu
    },

    mixins: [notification, socketMixin]
  }
</script>

<style scoped>
  #preview-img {
    height: 500px;
    width: 100%;
  }

  .details {
    height: 1000px;
    width: 100%;
  }

  .details table {
    height: 80%;
  }
</style>