<template>
  <div class="content-body">
      <div class="container-fluid" v-if = 'this.$route.path === "/dashboard/" || this.$route.path === "/dashboard" || this.$route.params.type'>
        <MobileMenu />
        <div class="row">
          <div class="col-lg-12">
            <div class="card fixed-content">
              <div class="card-body" style='height: 100%;'>
                <InboxMenu :initialFilter = 'inboxFilter' :inboxType = 'inboxType' v-on:filter = 'filterEvent($event)' v-on:limitByDate = 'limitByDate($event)' :inboxTitle = 'inboxTitle' v-on:trash = 'trashInbox' v-on:mark_as_read = 'markAsRead' :msgMarked = 'markedMessages.length > 0'/>
                <div class="email-right-box">
                  <div class='table-responsive'>
                    <div class=''>
                      <input type='checkbox' style='margin-left: 8px' @change ='markAll($event)' v-model='selectAll'> 
                          Select All
                    </div>
                    <table class="table table-hover">
                      <tr v-for='(mail, index) of mails' :key = 'index' :class = '{reRead: mail.commited === 1, unRead: mail.commited === 0, message1: 1 === 1}'>
                        <td class="email-checkbox" style='width:2%; float: left;'>
                            <input type="checkbox" :id="index" :value = 'mail.id' v-model = 'markedMessages'>
                            <label class="toggle" :for="index"></label>
                        </td>
                        <td style='width: 5%; float: left;'>
                          <img v-if = 'mail.commited === 1' :src = 'viewedMessageIcon' width="20" height="20" alt="">
                          <img v-if = 'mail.commited === 0' :src = 'unreadMessageIcon' width="20" height="20" alt="">
                        </td>
                        
                        <td  class='subject1' @click = 'showMail(mail.id, index)'>{{mailTitle(mail)}}</td>
                        <td class="showbig" style='width: 23%; float: right;'>
                          {{formatDate(mail.created_at)}} | 
                          {{new Date(mail.created_at).toTimeString().slice(0,8)}}
                        </td> 
                      </tr>
                    </table>
                  </div>
                  <!-- panel -->
                </div>
                <div class="row">
                  <div class="col-5">
                    <button @click = 'inboxSequence()' :class="{btn:true, 'btn-success': this.sequenceOn }">{{this.sequenceOn ? 'Turn off Squence' : 'Turn on Sequence'}}</button>

                    <!-- <button v-if='!dateFiltering' @click = 'filterByDate(true)' class='btn'>Filter by Date</button>
                    <button v-if='dateFiltering' @click = 'filterByDate(false)' class='btn btn-danger'>X Close</button>

                    <div class=''  v-if='dateFiltering'>
                        From: <input type='date' class='form-control' style='display: inline'/> 
                    </div> -->
                  </div>
                  <div class='col-lg-5'>
                    <!-- <div v-if='dateFiltering'>To: <input v-if='dateFiltering' type='date' class='form-control' style='display: inline'/> </div> -->
                    <div class="text-left">Page {{currentPage}}</div>
                  </div>
                  <div class="col-lg-2">
                    <!-- <button class='btn btn-primary' v-if='dateFiltering' style='display: inline'>Filter</button> -->

                    <div class="btn-group float-right">
                      <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                      </button>
                      <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->


      <div class='container-fluid' v-if = '(this.$route.path === "/dashboard/signals/" || this.$route.path === "/dashboard/signals") && !this.$route.params.type'>
        <MobileMenu />
        <div class='row'>
          <div class='col-lg-1'></div>
          <div class='col-lg-10'>
            <div class='card'>
              <div class='card-body'>
                <h2 style='text-align: center'>Signal Inboxes</h2>
                <ul class='menu-list'>
                  <li>
                    <router-link to = '/dashboard/signals/outgoing'>
                      <img :src = 'outgoingSigIcon'>
                      <span class='badge gradient-1 badge-pill badge-primary' v-if = 'unreadMessages.outUnread !== "0"'>{{unreadMessages.outUnread}} </span>
                      Outgoing Signals
                    </router-link>
                  </li>
                  <li>
                    <router-link to = '/dashboard/signals/incomming'>
                      <img :src = 'incommingSigIcon'>
                      <span class='badge gradient-1 badge-pill badge-primary' v-if = 'unreadMessages.inUnread !== "0"'>{{unreadMessages.inUnread}} </span>
                      Incoming Signals
                    </router-link>
                  </li>
                  <li>
                    <router-link to = '/dashboard/signals/ng'>
                      <img :src = 'ngSigIcon'>
                      <span class='badge gradient-1 badge-pill badge-primary' v-if = 'unreadMessages.ngUnread !== "0"'>{{unreadMessages.ngUnread}} </span>
                      Nigerian General (NG)
                    </router-link>
                  </li>
                  <li>
                    <router-link to = '/dashboard/signals/nhq'>
                      <img :src = 'nhqSigIcon'>
                      <span class='badge gradient-1 badge-pill badge-primary' v-if = 'unreadMessages.nhqUnread !== "0"'>{{unreadMessages.nhqUnread}} </span>
                      NHQ Signals
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-lg-1'></div>
        </div>
      </div>
  </div>
</template>

<script>
  import InboxMenu from '@/components/helpers/InboxMenu'
  import config from '../config'
  import notification from '../mixins/notification'
  import Pdf from './helpers/Pdf'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import axios from 'axios'

  export default {
    data() {
      return {
        mailss: [
          {
            senderName: 'Jeremy Massey',
            title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            time: 'Tue, Nov 28'
          },

          {
            senderName: 'Mark John',
            title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            time: 'Tue, Nov 30'
          },

          {
            senderName: 'Janeth Kenneth',
            title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            time: 'Tue, Dec 12'
          },
          {
            senderName: 'Paul James',
            title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            time: 'Tue, Dec 18'
          },
        ],

        markedMessages: [],
        selectAll: false,

        profile: '',
        inboxTitlee: '',
        inboxFilter: 'all',
        inboxType: '',
        searchTerm: '',
        startDate: '',
        endDate: '',
        dateFiltering: false,
        currentPage: 1,
        oldPage: 0,

        inboxRestored: false,

        viewedMessageIcon: `${config.rootDir}/static/img/viewedMail.jpeg`,
        unreadMessageIcon: `${config.rootDir}/static/img/messageIcon1.png`,

        incommingSigIcon: `${config.rootDir}/static/img/incommingSigIcon.png`,
        outgoingSigIcon: `${config.rootDir}/static/img/outgoingSigIcon.png`,
        ngSigIcon: `${config.rootDir}/static/img/ngSigIcon.png`,
        nhqSigIcon: `${config.rootDir}/static/img/nhqSigIcon.png`
      }
    },

    methods: {
        showMail (mailId, index) {
            // const mail = this.$store.getters.mail(index)
            console.log('show mail:', mailId, index, this.$route.params.type)
            // configure inbox sequence
            if(this.sequenceOn) {
              this.$store.commit('setSequenceIndex', {index, path: this.$route.path})
            }
            switch (this.$route.params.type) {
            case 'incomming':
              this.$router.push(`/dashboard/mail/incomming/${mailId}`)
              break;
            case 'outgoing':
              this.$router.push(`/dashboard/mail/outgoing/${mailId}`)
              break;
            case 'ng':
              this.$router.push(`/dashboard/mail/ng/${mailId}`)
              break;
            case 'nhq':
              this.$router.push(`/dashboard/mail/nhq/${mailId}`)
              break;
            case 'memo':
              this.$router.push(`/dashboard/mail/memo/${mailId}`)
            break;
            default:
              this.$router.push(`/dashboard/mail/regular/${mailId}`)

          }
        },

        trashInbox () {
          axios.post(`${config.socketUrl}/inbox/trash`, { code: 1, messages: this.markedMessages })
            .then((response) => {
              if (response.data.success) {
                this.$store.commit('removeFromInbox', { type: this.inboxType, messages: this.markedMessages})
                this.refetchInbox()
                this.markedMessages = []
                this.selectAll = false
                this.showSuccess('Messages Archived Successfully!!!', 4000)
              }
              else console.log('Trash failed', response.data.data)
            })
        },

        markAsRead () {
          axios.post(`${config.socketUrl}/inbox/markread`, { messages: this.markedMessages })
            .then((response) => {
              if (response.data.success) {
                this.$store.commit('markReadInbox', { type: this.inboxType, messages: this.markedMessages})
                this.showSuccess('Messages Marked as Read!!!', 4000)
                this.markedMessages = []
                this.selectAll = false
              }
              else console.log('Marked failed', response.data.data)
            })
        },

        markAll (e) {
          if(e.target.checked) {
            for(let m of this.mails) {
              if (this.markedMessages.indexOf(m.id) === -1)
                this.markedMessages.push(m.id)
            }
          } else {
            this.markedMessages = []
          }
        },

        searchInbox (searchTerm) {
          // search inbox
          this.searchTerm = searchTerm
          if(this.searchTerm) {
            // check whether it is page number
            if (!isNaN(this.searchTerm)) {
              this.oldPage = this.currentPage
              this.currentPage = Number(this.searchTerm)
              this.searchTerm = ''
            }
            this.refetchInbox()
          } else {
            this.refetchInbox()
          }
        },

        filterByDate(val) {
          this.dateFiltering = val
        },

        limitByDate(event) {
          this.startDate = event.startDate
          this.endDate = event.endDate
          this.currentPage = 1
          this.refetchInbox()
        },

        formatDate (dateString) {
            // console.log('dateStr', dateString)
            try {
                let d = new Date(dateString).toDateString()
                const dateStr = d.split(' ')
                const day = dateStr[2]
                const month = dateStr[1]
                const year = dateStr[3]
                const y = `${year[2]}` + `${year[3]}`
                return `${day} ${month} ${y}`  
            } catch(err) {
                console.log(err.message)
            }
        },

        nextPage () {
          if (this.mails.length > 0) {
            this.currentPage += 1 
            this.refetchInbox()
          } else {
            this.showSuccess('End of Page')
          }
          console.log('next page is:', this.currentPage, this.inboxFilter)
        },

        prevPage () {
          if(this.currentPage > 1) {
            this.currentPage -= 1
            this.refetchInbox()
          }
          console.log('prev page is:', this.currentPage, this.inboxFilter)
        },

        refetchInbox () {
          this.$store.dispatch(
              'getInboxMessages',
              {userId: this.profile.id, page: this.currentPage, filter: this.inboxFilter, type: this.inboxType, search: this.searchTerm, startDate: this.startDate, endDate: this.endDate}
            )
        },

        filterEvent (event) {
          this.inboxFilter = event
        },

        inboxSequence () {
          if (this.sequenceOn) { // turn off sequence
            this.$store.commit('turnOffSequence', this.$route.path)
            this.showSuccess('Inbox Sequence is Off!!!')
          } else {  // turn on sequence by saving inbox state
            this.$store.commit('turnOnSequence', {
              currentPage: this.currentPage,
              inboxType: this.inboxType,
              inboxFilter: this.inboxFilter,
              searchTerm: this.searchTerm
            })
            this.showSuccess('Inbox sequence is On!!!')
          }
        },

        restoreInboxState () {
          if (this.sequenceOn) { // restore inbox state
            const inboxState = this.$store.getters.fetchInboxState(this.$route.path)
            console.log('*****restoring inboxState!!!!*******:', inboxState)
            this.inboxFilter = inboxState.inboxFilter
            this.inboxType = inboxState.inboxType
            this.searchTerm = inboxState.searchTerm
            this.currentPage = inboxState.currentPage
            console.log('*********Inbox Restored **********:', {
              inboxFilter: this.inboxFilter,
              inboxType: this.inboxType,
              searchTerm: this.searchTerm,
              currentPage: this.currentPage
            })
            this.inboxRestored = true

          } else {  // start all over --- get mails from server with default state
            console.log('Using default state!!!!!!!')
            this.$store.dispatch(
              'getInboxMessages',
              {userId: this.profile.id, page: this.currentPage, filter: this.inboxFilter, type: this.inboxType, search: this.searchTerm}
            )
            this.inboxRestored = false
          }
        }
    },

    computed: {
        mails () {
          switch (this.$route.params.type) {
            case 'incomming':
              this.inboxType = 'incoming'
              return this.$store.getters.signals('incomming')
            case 'outgoing':
              this.inboxType = 'outgoing'
              return this.$store.getters.signals('outgoing')
            case 'ng':
              this.inboxType = 'ng'
              return this.$store.getters.signals('ng')
            
            case 'nhq':
              this.inboxType = 'nhq'
              return this.$store.getters.signals('nhq')

            default:
              this.inboxType = 'regular'
              return this.$store.getters.inbox
          }
        },

        unreadMessages () {
          return {
            unread: this.$store.getters.unread,
            ngUnread: this.$store.getters.ngUnread,
            outUnread: this.$store.getters.outUnread,
            inUnread: this.$store.getters.inUnread,
            nhqUnread: this.$store.getters.nhqUnread
          }
        },

        inboxTitle () {
          switch(this.$route.params.type) {
            case 'incomming':
              return "Incoming Signals"
      
            case 'outgoing':
              return 'Outgoing Signals'
        
            case 'ng':
              return 'Nigerian General Signals'
            
            case 'nhq':
              return 'NHQ Signals'

            default:
              return 'File Inbox'
          }
        },

        mailTitle () {
          return function (m) {
            if (m.title) return m.title
            else return m.sender_email
          }
        },

        sequenceOn () {
          switch(this.$route.params.type) {
            case 'incomming':
              return this.$store.getters.sequenceIsOn('incoming')
            case 'outgoing':
              return this.$store.getters.sequenceIsOn('outgoing')
            case 'ng':
              return this.$store.getters.sequenceIsOn('ng')
            case 'nhq':
              return this.$store.getters.sequenceIsOn('nhq')
            default:
              return this.$store.getters.sequenceIsOn('inbox')
          }
        }
    },

    watch: {
      inboxFilter (newVal, oldVal) {
        if(this.inboxRestored) { console.log('******WATCHER doing it*****')
            this.refetchInbox()
            this.inboxRestored = false
          } else {
            this.currentPage = 1
            this.refetchInbox()
          }
      },

      inboxType (newV, oldV) {
        this.restoreInboxState()
      },

      mails (newVal, oldVal) {
        console.log('Watch For Mail restoration')
        if(newVal.length === 0 && this.oldPage !== 0) { // restore previous page after jumping to empty page
          this.currentPage = this.oldPage
          this.oldPage = 0
        }
      }
    },

    mounted () {
     this.profile = JSON.parse(localStorage.getItem('userProfile'))
      this.$root.$on('search_inbox', this.searchInbox)
      this.restoreInboxState()
      console.log('mountedINbox:!!!!!!')
    },

    updated () {
      if (this.sequenceOn) {
        this.$store.commit('updateInboxState', {
          currentPage: this.currentPage,
          inboxType: this.inboxType,
          inboxFilter: this.inboxFilter,
          searchTerm: this.searchTerm
        })
      }
    },

    components: {
      InboxMenu,
      Pdf,
      MobileMenu
    },

    mixins: [notification]
  }
</script>

<style scoped>

.menu-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue */
  }
  .menu-list li {
    display: inline-block;
    padding: 4%;
   /*background-color: green*/
  }
      
  .menu-list li img{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list li span {
    text-align: center;
    color: black;
    font-weight: bold
  }

</style>