<template>
    <div class="login-form-bg h-100" style='margin-top: 5%'>
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <h2 class="text-center" style="color:#2e6da4"><strong>User Login</strong></h2>
                                <img :src="logo2" style="float: right;" class="imgfix" alt="">
                                <img :src="logo1" style="float: left;" class="imgfix" alt="">
                                <form class="mt-5 mb-5 login-input">
                                    <div class="form-group">
                                        <input type="email" class="form-control" :placeholder="'appointment@' + navyInfo.domain" required="" v-model = 'loginData.email' name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="password" required="" v-model = 'loginData.password' name="password" id="password">
                                    </div>
                                    <button class="btn login-form__btn submit w-100" v-on:click.prevent='login'>Sign In</button>
                                </form>
                                <p class="mt-5 login-form__footer">Don't have account? <router-link to="/signup" class="text-primary">Sign Up</router-link> now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy;  {{navyInfo.name.toProperCase()}} {{footerDate}}, Designed & Developed by <a href="www.bigstacktech.com">Big Stack Technologies</a></p>
            </div>
        </div>
    </div>
</template>

<script>
   import axios from 'axios'
   import notification from '../mixins/notification'
   import config from '../config'

  export default {
    data () {
      return {
          navyInfo: config.navyInfo,
          loginData: {
              email: '',
              password: ''
          },

          error: false,

          logo1: `${config.rootDir}/static/img/${config.navyInfo.logo}`,
          logo2: `${config.rootDir}/static/img/NavyLogo.png`
      }
    },

    mounted () {
        if(localStorage.getItem('userProfile')) {
            this.$router.push('/dashboard')
        }
    },

    methods: {
        login () {
            console.log(this.loginData)
            axios.post(`${config.socketUrl}/login`, this.loginData, {withCredentials: false})
                .then((response) => {
                    console.log("response:", response)
                    if (response.data.success) {
                        this.$router.push('/dashboard')
                        localStorage.setItem('myEmail2', this.loginData.email)
                        localStorage.setItem('userProfile', JSON.stringify(response.data.data))
                        console.log('login:', response.data)
                        this.showSuccess('Signed in successfully',  5000)
                    } else {
                        let errorMessage = ''
                        if (response) {
                            errorMessage = response.data.data
                        } else errorMessage = 'Could not connect to server!'
                        this.showError(errorMessage, 4000)
                    }

                })
                .catch((error) => {
                    this.showError(error.message, 5000)
                })
        }
    },

    computed: {
        footerDate() {
            return new Date().getFullYear()
        }
    },

    mixins: [notification]
  }
</script>

<style scoped>
.mybtn{
  padding: 5px 10px;
  margin: 30px 0 0 10px;
  background-color: #fff;
  color: 000080;
  border-radius: 8px 15px;
  font-weight: 700
}
.wht{color: #fff}
.coll2{width: 27%}
label{color: #d9d9da !important;}
.loginbtn{margin-left: 40%}
.adminlr{background-color: #25258f; padding:30px 0px; border-radius: 15px;}
.bcon{background-color: rgba(0, 0, 128, 0.82); margin-bottom: 20px;}
</style>