<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <MobileMenu />
      <div class = 'row'>
        <div class='col-lg-12'>
          <div class='card'>
            <div class='card-header'>
              <h3 class='card-title'>
                Manage Archive <router-link v-if = 'deptUrl' :to = 'deptUrl'> - Departments</router-link>
                <router-link v-if = 'subdeptUrl' :to = 'subdeptUrl'> / Sub-Departments</router-link>
                <router-link v-if = 'yearUrl' :to = 'yearUrl'> / Year</router-link>
                <router-link v-if = 'volumeUrl' :to = 'volumeUrl'> / Volumes</router-link>
              </h3>
              <i class='fa fa-plus btn-primary d10' @click = 'newItem(true)' style='float: right; padding: 5px'> New</i>
              <i v-if = 'fileCopied' class='fa fa-file btn-danger d10' @click = 'pasteFile()' style='float: right; padding: 5px'> Paste</i>
            </div>
            <div class='card-body' style = 'height: 400px; overflow-y: scroll'>

              <table class='table' v-if='!this.$route.params.dept'>
                <thead>
                  <tr>
                    <td>S/N</td>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if = 'newI'>
                    <td>-</td>
                    <td>
                      <div class = 'form-group'>
                        <input type = 'text' class = 'form-control' v-model='newRow.name' placeholder = 'Enter name'/>
                      </div>
                    </td>
                    <td><input type = 'text' class = 'form-control' v-model='newRow.number' placeholder = 'Enter number'/></td>
                    <td><button class='btn btn-success' @click = 'newItem(false)'>Add New<div></td>
                  </tr>
                  
                  <tr v-for ='dept of archive' :key ='dept.id'>
                    <td v-on:click = 'navigate(1, dept.id)' class='d10'>
                      {{dept.id}}
                    
                    </td>
                    <td>
                      <span v-if='!edit || itemId !== dept.number' v-on:click = 'navigate(1, dept.id)' class='d10'>{{dept.name}}</span>
                      <div class = 'form-group' v-if='edit && itemId === dept.number'>
                        <input type = 'text' class = 'form-control' :value = 'dept.name' v-model = 'rowData.name' />
                      </div>
                    </td>
                    <td>
                      <span v-if='!edit || itemId !== dept.number' v-on:click = 'navigate(1, dept.id)' class='d10'>{{dept.number}}</span>
                      <div class = 'form-group' v-if='edit && itemId === dept.number'>
                        <input type = 'text' class = 'form-control' :id = 'dept.number' :value = 'dept.number' v-model = 'rowData.number' readonly/>
                      </div>
                    </td>
                    <td>
                      <button class='btn btn-primary' :id = '"d-"+dept.id' @click = 'editRow(1, dept)'>Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class='table' v-if='this.$route.params.dept && !this.$route.params.subdept'>
                <thead>
                  <tr>
                    <td>S/N</td>
                    <td>Name</td>
                    <td>Number</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if = 'newI'>
                    <td>-</td>
                    <td>
                      <div class = 'form-group'>
                        <input type = 'text' class = 'form-control' v-model= 'newRow.name' placeholder = 'Enter name'/>
                      </div>
                    </td>
                    <td><input type = 'text' class = 'form-control' v-model= 'newRow.number' placeholder = 'Enter number'/></td>
                    <td><button class='btn btn-success' @click = 'newItem(false)'>Add New<div></td>
                  </tr>
                  <tr v-for ='subdept of archive' :key ='subdept.id'>
                    <td class='d10' v-on:click = 'navigate(2, subdept.id)'>{{subdept.id}}</td>
                    <td>
                      <span v-if = '!edit || itemId !== subdept.number' class='d10' v-on:click = 'navigate(2, subdept.id)'>{{subdept.name}}</span>
                      <div class = 'form-group' v-if='edit && itemId === subdept.number'>
                        <input type = 'text' class = 'form-control' :value = 'subdept.name' v-model = 'rowData.name' />
                      </div>
                    </td>
                    <td>
                      <span v-if = '!edit || itemId !== subdept.number' class='d10' v-on:click = 'navigate(2, subdept.id)'>{{subdept.number}}</span>
                      <div class = 'form-group' v-if='edit && itemId === subdept.number'>
                        <input type = 'text' class = 'form-control' :value = 'subdept.number' v-model = 'rowData.number' readonly/>
                      </div>
                    </td>
                    <td>
                      <button class='btn btn-primary' :id = '"sd-"+subdept.id' @click = 'editRow(2, subdept)'>Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class='table' v-if='this.$route.params.subdept && !this.$route.params.year'>
                <thead>
                  <tr>
                    <td>S/N</td>
                    <td>Year</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if = 'newI'>
                    <td>-</td>
                    <td>
                      <div class = 'form-group'>
                        <input type = 'text' class = 'form-control' v-model = 'newRow.year' placeholder = 'Enter Year'/>
                      </div>
                    </td>
                    <td>-</td>
                    <td><button class='btn btn-success' @click = 'newItem(false)'>Add New<div></td>
                  </tr>
                  <tr v-for ='(year, i) of archive' :key ='year["year"]'>
                    <td class = 'd10' v-on:click = 'navigate(3, year["year"])'>{{i+1}}</td>
                    <td>
                      <span v-if = '!edit || itemId !== year.year' class = 'd10' v-on:click = 'navigate(3, year["year"])'>{{year.year}}</span>
                      <div class = 'form-group' v-if='edit && itemId === year.year'>
                        <input type = 'text' class = 'form-control' :value = 'year.year' v-model = 'rowData.year' />
                      </div>
                    </td>
                    <td>
                      <button class='btn btn-primary' :id = '"y-"+year["year"]' @click = 'editRow(3, year)'>Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class='table' v-if='this.$route.params.year && !this.$route.params.volume'>
                <thead>
                  <tr>
                    <td>S/N</td>
                    <td>Name</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if = 'newI'>
                    <td>-</td>
                    <td>
                      <div class = 'form-group'>
                        <input type = 'text' class = 'form-control' v-model = 'newRow.name' placeholder = 'Enter Volume'/>
                      </div>
                    </td>
                    <td>-</td>
                    <td><button class='btn btn-success' @click = 'newItem(false)'>Add New<div></td>
                  </tr>
                  <tr v-for ='(volume, i) of archive' :key ='volume.id'>
                    <td class = 'd10' v-on:click = 'navigate(4, volume.id)'>{{i+1}}</td>
                    <td>
                      <span v-if='!edit || itemId !== volume.name' class = 'd10' v-on:click = 'navigate(4, volume.id)'>Vol. {{volume.name}}</span>
                      <div class = 'form-group' v-if='edit && itemId === volume.name'>
                        <input type = 'text' class = 'form-control' :value = 'volume.name' v-model = 'rowData.volume' />
                      </div>
                    </td>
                    <td>
                      <button class='btn btn-primary' :id = '"v-"+volume.name' @click = 'editRow(4, volume)'>Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>


              <table class='table' v-if='this.$route.params.volume'>
                <thead>
                  <tr>
                    <td>S/N</td>
                    <td>Subject</td>
                    <td>Folio Number</td>
                    <td>Action</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
        
                  <tr v-for ='(f, i) of archive' :key ='f.id'>
                    <td class = 'd10'>{{i+1}}</td>
                    <td>
                      <span v-if='!edit || itemId !== f.id' class = 'd10'>{{f.subject}}</span>
                      <div class = 'form-group' v-if='edit && itemId === f.id'>
                        <input type = 'text' class = 'form-control' :value = 'f.subject' v-model = 'rowData.subject' />
                      </div>
                    </td>
                    <td>{{f.folio_number}}</td>
                    <td>
                      <button class='btn btn-primary' :id = '"f-"+f.id' @click = 'editRow(5, f)'>Edit</button>
                    </td>
                    <td>
                      <button class='btn btn-primary' v-if = 'itemId === f.id' @click = 'copyFolioN(f)'>Move file</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import selectMixin from '@/mixins/select'
  import axios from 'axios'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import config from '../config'
  import notification from '../mixins/notification'

  export default {
    data () {
      return {
        newI: false,
        edit: false,
        fileCopied: false,

        btnText: 'Edit',
        itemId: '',

        deptUrl: '',
        subdeptUrl: '',
        yearUrl: '',
        volumeUrl: '',

        rowData: {
          number: '',
          name: '',
          year: '',
          subject: '',
          i: '',
          item: ''
        },

        newRow: {
          name:'',
          number: '',
          year: ''
        }
      }
    },

    methods: {
      async newItem(v) {
        this.newI = v
        if (!v) {
          if (this.newRow.name || this.newRow.number || this.newRow.year) {
            if (!this.$route.params.dept) {
              const { data } = await axios.post(`${config.socketUrl}/archive/create/${this.newRow.number}`, { name: this.newRow.name, number: this.newRow.number })
              if (data.success) {
                this.$store.dispatch('getDepartments')
                this.showSuccess('New Department Created!!!')
              }
              else this.showError('Unable to add new department!')
            } else if (this.$route.params.dept && !this.$route.params.subdept) {
                const d = this.$store.getters.department(this.$route.params.dept)
                const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${this.newRow.number}`, { name: this.newRow.name, number: this.newRow.number })
                if (data.success) {
                  this.$store.dispatch('getSubDepartments', {
                    dept: this.dept
                  })
                  this.showSuccess('New Sub-department added!!!')
                }
                else this.showError('Unable to add new sub-department!')
              } else if (this.$route.params.subdept && !this.$route.params.year) {
                const d = this.$store.getters.department(this.$route.params.dept)
                const sd = this.$store.getters.subDepartment(this.$route.params.subdept)
                const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${sd.number.trim()}/${this.newRow.year}`, { year: this.newRow.year })
                if (data.success) {
                  this.$store.dispatch('getYears', {
                    dept: this.dept,
                    subdept: this.subdept
                  })
                  this.showSuccess('Year Successfully added!!!')
                }
                else this.showError('Unable to add year!')
            } else if (this.$route.params.year && !this.$route.params.volume) {
                const d = this.$store.getters.department(this.$route.params.dept)
                const sd = this.$store.getters.subDepartment(this.$route.params.subdept)
                const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${sd.number.trim()}/${this.year}/${this.newRow.name}`, { name: this.newRow.name })
                if (data.success) {
                  this.$store.dispatch('getVolumes', {
                    dept: this.dept,
                    subdept: this.subdept,
                    year: this.year
                  })
                  this.showSuccess('Volume Added Successfully!!!')
                }
                else this.showError('Unable to add Volume!')
            } else if (this.$route.params.volume) {
            } 
          }
          this.newRow.name = ''
          this.newRow.number = ''
          this.newRow.year = ''
        }
        
      },

      navigate(id, data) {
        switch(id) {
          case 1:
            this.$router.push(`/dashboard/sec/manage/archive/${data}`)
          break;

          case 2:
            const dpt = this.$route.params.dept
            this.$router.push(`/dashboard/sec/manage/archive/${dpt}/${data}`)
          break;

          case 3:
            const dp = this.$route.params.dept
            const subdpt = this.$route.params.subdept
            this.$router.push(`/dashboard/sec/manage/archive/${dp}/${subdpt}/${data}`)
          break;

          case 4:
            const d = this.$route.params.dept
            const subdp = this.$route.params.subdept
            const yr = this.$route.params.year
            this.$router.push(`/dashboard/sec/manage/archive/${d}/${subdp}/${yr}/${data}`)
          break;
        }
      },

      copyFolioN (f) {
        this.$store.commit('saveToClipBoard', { key: 'fileDetail', value: {
          dept: this.dept,
          subdept: this.subdept,
          year: this.year,
          volume: this.volume,
          fileId: f.id
        } })
        this.fileCopied = true
        this.edit = false
        this.showSuccess('File copied!!!')
      },

      async pasteFile() {
        if (this.$route.params.volume) {
          const fileDetail = this.$store.getters.getFromClipBoard('fileDetail')
          console.log('fileDetail:', fileDetail)
          // send data to server for neccessary action
          const resp = await axios.post(`${config.socketUrl}/edit/location/${fileDetail.fileId}`, {
            oldDetail: fileDetail,
            newDetail: {
              dept: this.dept,
              subdept: this.subdept,
              year: this.year,
              volume: this.volume
            }
          })
          if (resp.data.success) {
            this.$store.dispatch('getFiles', {
              dept: this.dept,
              subdept: this.subdept,
              year: this.year,
              volume: this.volume
            })
            this.showSuccess('File pasted successfully!!!')
            this.fileCopied = false
          } else {
            this.showError('Unable to move File!!!')
            console.log('MovedREsp:', resp, fileDetail)
            this.fileCopied = false
          }
          
        } else {
          this.showError('Please select Volume to move file to!!!')
        }
        
      },

     async editRow (i, item) {
        switch(i) {
          case 1:
            if (this.edit) {
              // submit data to server
              const { data } = await axios.post(`${config.socketUrl}/archive/create/${this.rowData.number}`, { name: this.rowData.name, number: this.rowData.number })
              if (data.success) {
                this.$store.dispatch('getDepartments')
                this.showSuccess('Department Edited!!!')
              }
              else this.showError('Unable to edit department!')

              this.edit = false
              this.itemId = ''

              item.name = this.rowData.name
              item.number = this.rowData.number

              document.getElementById('d-'+item.id).textContent = 'Edit'

            } else {
              this.itemId = item.number
              this.rowData.number = item.number
              this.rowData.name = item.name
              this.rowData.item = item
              this.rowData.i = 1
              // enable editing of row
              this.edit = true
              document.getElementById('d-'+item.id).textContent = 'Save'
            }
            break

          case 2:
            if (this.edit) {
              // submit data to server
              const d = this.$store.getters.department(this.$route.params.dept)
              const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${this.rowData.number}`, { name: this.rowData.name, number: this.rowData.number })
              if (data.success) {
                this.$store.dispatch('getSubDepartments', {
                  dept: this.dept
                })
                this.showSuccess('Sub-department Edited!!!')
              }
              else this.showError('Unable to Edit sub-department!')

              this.edit = false
              this.itemId = ''
              item.name = this.rowData.name
              item.number = this.rowData.number
              document.getElementById('sd-'+item.id).textContent = 'Edit'
            } else {
              this.itemId = item.number
              this.rowData.number = item.number
              this.rowData.name = item.name
              this.rowData.item = item
              this.rowData.i = 2
              // enable editing of row
              this.edit = true
              document.getElementById('sd-'+item.id).textContent = 'Save'
            }
          break

          case 3:
            if (this.edit) {
                // submit data to server
                const d = this.$store.getters.department(this.$route.params.dept)
                const sd = this.$store.getters.subDepartment(this.$route.params.subdept)
                const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${sd.number.trim()}/${item.year}`, { year: this.rowData.year })
                if (data.success) {
                  this.$store.dispatch('getYears', {
                    dept: this.dept,
                    subdept: this.subdept
                  })
                  this.showSuccess('Year Successfully Edited!!!')
                }
                else this.showError('Unable to edit year!')

                this.edit = false
                this.itemId = ''
                item.year = this.rowData.name
                item.subdeptId = this.subdept
                document.getElementById('y-'+item.year).textContent = 'Edit'
              } else {
                this.itemId = item.year
                this.rowData.year = item.year
                this.rowData.item = item
                this.rowData.i = 3
                // enable editing of row
                this.edit = true
                document.getElementById('y-'+item.year).textContent = 'Save'
              }
            break

          case 4:
            if (this.edit) {
              // submit data to server
              const d = this.$store.getters.department(this.$route.params.dept)
              const sd = this.$store.getters.subDepartment(this.$route.params.subdept)
              const { data } = await axios.post(`${config.socketUrl}/archive/create/${d.number.trim()}/${sd.number.trim()}/${this.year}/${item.name}`, { name: this.rowData.volume })
              if (data.success) {
                this.$store.dispatch('getVolumes', {
                  dept: this.dept,
                  subdept: this.subdept,
                  year: this.year
                })
                this.showSuccess('Volume Edited Successfully!!!')
              }
              else this.showError('Unable to add Volume!')

              this.edit = false
              this.itemId = ''
              // item.name = this.rowData.volume
              item.volumeId = this.volume
              document.getElementById('v-'+item.name).textContent = 'Edit'
            } else {
              this.itemId = item.name
              this.rowData.volume = item.name
              this.rowData.item = item
              this.rowData.i = 4
              // enable editing of row
              this.edit = true
              document.getElementById('v-'+item.name).textContent = 'Save'
              }
            break
          
          case 5:
            if (this.edit) {
              // submit data to server
              const { data } = await axios.post(`${config.socketUrl}/edit/subject/${item.id}`, { subject: this.rowData.subject })
              if (data.success) {
                this.$store.dispatch('getFiles', {
                  dept: this.dept,
                  subdept: this.subdept,
                  year: this.year,
                  volume: this.volume
                })
                this.showSuccess('File Subject Edited Successfully!!!')
              }
              else this.showError('File Subject Not Edited!')

              this.edit = false
              this.itemId = ''
              item.name = this.rowData.name
              item.volumeId = this.volume
              document.getElementById('f-'+item.id).textContent = 'Edit'
            } else {
              this.itemId = item.id
              this.rowData.subject = item.subject
              this.rowData.item = item
              this.rowData.i = 5
              // enable editing of row
              this.edit = true
              document.getElementById('f-'+item.id).textContent = 'Save'
            }
            break
        }
      }
    },

  computed: {
    archive: function() {
      console.log('archive called...')
      if (this.$route.params.dept) this.deptUrl = '/dashboard/sec/manage/archive'
      if (this.$route.params.subdept) this.subdeptUrl = `/dashboard/sec/manage/archive/${this.dept}`
      if (this.$route.params.year)  this.yearUrl = `/dashboard/sec/manage/archive/${this.dept}/${this.subdept}`
      if (this.$route.params.volume) this.volumeUrl = `/dashboard/sec/manage/archive/${this.dept}/${this.subdept}/${this.year}`

      if(!this.$route.params.dept) {
        return this.$store.getters.departments
      }
      
      if(this.$route.params.dept && !this.$route.params.subdept) {
          this.dept = this.$route.params.dept
          return this.$store.getters.subDepartments
      }
      
      if(this.$route.params.subdept && !this.$route.params.year) {
          this.subdept = this.$route.params.subdept
          return this.$store.getters.years
      }

      if(this.$route.params.year && !this.$route.params.volume) {
          this.year = this.$route.params.year
          return this.$store.getters.volumes
      }
      
      if(this.$route.params.volume) {
          this.volume = this.$route.params.volume
          return this.$store.getters.files
      }
    }
  },

  mounted () {
  
  },

    mixins: [selectMixin, notification],
    components: {
      MobileMenu
    }
  }
  
</script>

<style scoped></style>