<template>
  <div class='row'>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id = 'doc-container'>
      <div class="hpanel">
        <div class='panel-body'>
          <h2>{{navyInfo.type}}</h2>
          <h2>{{navyInfo.name}}</h2>
          <h4>STAFF MINUTE SHEET</h4>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <td class= 'tb-dt'></td>
                <td style='width: 5%;' class= 'tb-dt'>
                Subject:
                </td>
                <td style='width: 95%; text-align: center' class= 'tb-dt'>{{file.subject}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class= 'tb-dt'>Marking</td>
                <td colspan='3' class= 'tb-dt'>(Officers are required to make their remarks in the form of a suggestedletter or minute)</td>
              </tr>
              <tr>
                <td style='width: 10%' class= 'tb-dt'>
                  <table>
                    <!-- profile.color -->
                    <tr v-for = '(p, i) in participants' :key = 'i'>
                      <td v-html = 'colorText2(p)' style='padding-top: 50%; padding-bottom: 50%; margin-top: 50%'>
                        {{p.appointment}}
                      </td>
                      <!-- <td v-if = '!p.commented' v-html = 'colorText2(p)' style='padding-top: 50%; padding-bottom: 50%; margin-top: 50%'>
                        {{p.appointment}}
                      </td> -->
                    </tr>
                  </table>
                </td>
                <td colspan='3' style='border: 0; width: 100%' class= 'tb-dt'>
                  <table v-for = '(t, index) in thread' :key = 't.id' style = 'width: 100%;'>
                    <tr>
                      <td style='border: 0; width: 100%; text-align: center' class='M' v-html='colorText(t.color, index + 1, "M")'>
                        {{colorText(t.color, index + 1, 'M')}}
                      </td>
                    </tr>
                    <tr>
                      <td style='border: 0; width: 100%; padding-left: 45px' v-html='colorText(t.color, t.comment)' class='comment-print'>
                        {{colorText(t.color, t.comment)}}
                      </td>
                    </tr>
                    <tr>
                      <td style='border: 0; width: 100%;' id = 'comment-footer'>
                          <table style = 'width: 100%;'>
                            <tr>
                              <td style= 'text-align: left;' id = 'fdate' v-html='colorText(t.color, formatDate(t.created_at))'>{{colorText(t.color, formatDate(t.created_at))}}</td>
                              <td style= 'text-align: right;' id = 'initial' v-html='colorText(t.color, t.initial)'>{{colorText(t.color, t.initial)}}</td>
                            </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import printJs from 'print-js'
  import config from '@/config'

  export default {
    props: ['threadData', 'print'],
    data () {
      return {
        navyInfo: config.navyInfo,
        file: {},
        participants: [],
        profile: JSON.parse(localStorage.getItem('userProfile')),
        printStyle: `
          body {
            background-color: white;
            color: black
          }

          h2, h4 {
            text-align: center;
          }

          .M {
            border: 0;
            width: 100%;
            text-align: center
          }

          .comment-print {
            text-align: left;
          }

          #comment-footer {
            border: 0;
            width: 100%;
          }

          #comment-footer table {
            width: 100%;
          }

          #fdate {
            text-align: left;
          }

          #initial {
            text-align: right;
          }

          .table-bordered {
            margin-top: 5%;
            border-collapse: collapse !important;
            border: 1pt solid grey !important;
          }

          .table-bordered .tb-dt {
            border-bottom: 1pt solid grey;
            border-right: 1pt solid grey;
          }
        `
      }
    },

    computed: {
      thread: function () {
        const tr = this.$store.getters.thread
        console.log('fetch trhead - minute-sheet', tr)
        this.file = tr
        this.participants = tr.recipients || []
        return tr.thread
      }
    },

    methods: {
      formatDate (dateString) {
        let d = new Date(dateString).toDateString()
        const dateStr = d.split(' ')
        const day = dateStr[2]
        const month = dateStr[1]
        const year = dateStr[3]
        const y = `${year[2]}` + `${year[3]}`
        return `${day} ${month} ${y}`    
      },

      colorText (color, text, label='') {
        return `<span style='color: ${color}'>${label}${text}</span>`
      },

      addStyle(styles) { 
        /* Create style document */ 
        var css = document.createElement('style'); 
        css.type = 'text/css'; 
      
        if (css.styleSheet)  
          css.styleSheet.cssText = styles; 
        else  
          css.appendChild(document.createTextNode(styles)); 
          
        /* Append style to the tag name */ 
        document.getElementsByTagName("head")[0].appendChild(css); 
      },

      colorText2 (participant) { 
        if (participant.commented) {
          // let userColor = this.$store.getters.userById(participant.id)
          // color:${participant.profileColor};text-decoration-thickness: 3px; text-decoration:line-through
          let appointment = participant.appointment.replace(' ', '_')

          let style = `#strike-${appointment} {
            position: relative;
            display: inline-block;
            }
            #strike-${appointment}::before {
              content: '';
              border-bottom: 3px solid ${participant.profileColor};
              width: 100%;
              position: absolute;
              right: 0;
              top: 50%;
            }`

          this.addStyle(style)

          return `<span id = 'strike-${appointment}'>
            <span style='color: ${participant.color}'>${appointment}</span>
            </span>
          `
        } else return `<span style='color: ${participant.color}'>${participant.appointment}</span>`
      },

      printSheet () {
        console.log('printSheet', this.prnt)
        // printJs('doc-container', 'html')
        printJs({
          printable: 'doc-container',
          type: 'html',
          style: this.printStyle
        })
        this.print = false
        this.$emit('printed')
      }
    },

    watch: {
      print () {
        if (this.print) this.printSheet()
      }
    },

    updated () {
      
    },

    mounted () {
      const fId = this.$route.params.fileId
      this.$store.dispatch('getThread', fId)
      this.file = this.$store.getters.file;
      console.log('minute Sheet:', this.threadData, this.file)

    }
  }
</script>

<style scoped>
  h2, h4 {
      text-align: center
    }

  .comment {
    margin: 1%;
    background-color:bisque;
    padding: 2%;
    text-align: justify
  }

   .details {
    height: 500px;
    width: 100%;
    overflow-y: scroll
  }

  .sheet-body {
    padding: 15px;
	  background:#fff;
  }
</style>