<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
    <div class="row" style="margin-top: 15px;">
      <div class="col-lg-1"></div>
      <div class="col-md-10">
        <div class="text-center custom-login wht adminlr">
            <h4 class="card-title d3 d4"><i class="icon-pencil"></i> Open New Volume</h4>
        </div>
        <div class="hpanel">
          <div class="panel-body">
            <form action="#" id="loginForm">
              <div class="row">
                  <div class="form-group col-lg-12">
                    <label><i class="fa fa-book"></i> Department</label>
                    <select class='form-control' v-model = 'dept'>
                      <option value='' selected>Select</option>
                      <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6">
                    <label><i class="fa fa-book"></i> Sub Department</label>
                    <select class='form-control' v-model='subdept'>
                      <option value='' select>Select Sub Department</option>
                      <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id'>{{subdept.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6">
                    <label><i class="fa fa-book"></i> Year</label>
                    <select class ='form-control' name="year" v-model='year'>
                      <option value="" selected>Select Year</option>
                      <option :value = 'currentYear'> {{currentYear}}</option>
                      <option v-for = '(year, index) in years' :key = 'index' :value="year">{{year}}</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-12">
                    <label><i class="fa fa-book"></i> Volume</label>
                    <input class="form-control" v-model = 'newVolume' placeholder="Volume" required="">
                  </div>
              </div>
              <button class="btn btn-primary">Add Volume</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"></div>
    </div>
    </div>
  </div>
</template>

<script>
  import 'froala-editor'
  import 'froala-editor/css/froala_style.min.css'
  import 'froala-editor/css/froala_editor.pkgd.min.css'

  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import MobileMenu from '@/components/helpers/MobileMenu'


  import axios from 'axios'
  import config from '../config'
  

  export default {
    data () {
      return {
        newVolume: '',
      }
    },

    methods: {
      addVolume: function() {
        //this.$router.push('/dashboard/createfile/editor')
        axios.post(`${config.baseUrl}/create_volume`, {
          department: this.dept,
          sub_department: this.subdept,
          year: this.year,
          volume: this.newVolume 
        })
          .then((response) => { console.log('createvolume', response)
            if(response.data.status === 'True') this.alertSuccess('Volume created successfully!!')
            else this.alertFailure(`Unable to create volume!! ${response.data.data.message}`)
          }).catch((error) => {
            this.alertFailure(`Unable to create volume!! ${error.message}`)
          })
        console.log('volume added')
      }
    },

    computed: {
      
    },
    
    mixins: [selectMixin, notification],

    components: {
      MobileMenu
    }
   
  }
</script>


<style scoped>
/* .mybtn{
  padding: 5px 10px;
  margin: 30px 0 0 10px;
  background-color: #fff;
  color: 000080;
  border-radius: 8px 15px;
  font-weight: 700
}
.wht{color: #fff}
.coll2{width: 27%}
label{color: #d9d9da !important;}
.loginbtn{margin-left: 40%}
.adminlr{background-color: #25258f; padding:30px 0px; border-radius: 15px;}
.bcon{background-color: rgba(0, 0, 128, 0.82); margin-bottom: 20px;}

.file-preview {
  width: 95%;
  margin-left: auto;
  height: 500px;
} */
</style>