<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row">
        <div class="col-lg-12">
          <div class="card fixed-content">
            <div class="card-body" style='height: 100%;'>
              <InboxMenu v-on:filter = 'filterEvent($event)' :inboxTitle = 'inboxTitle'/>
              <div class="email-right-box">
                <!-- <div class="row">
                  <div class="col-7">
                      <div class="text-left">Page {{currentPage}}</div>
                  </div>
                  <div class="col-5">
                      <div class="btn-group float-right">
                          <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                          </button>
                          <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                          </button>
                      </div>
                  </div>
                </div> -->
                <div class='table-responsive'>
                  <table class="table table-hover">
                    <tr v-for='(mail, index) of mails' :key = 'index' :class = '{reRead: mail.commited === 1, unRead: mail.commited === 0, message1: 1 === 1}'>
                      <td class="email-checkbox" style='width:2%; float: left;'>
                          <input type="checkbox" :id="index">
                          <label class="toggle" :for="index"></label>
                      </td>
                      <td style='width: 5%; float: left;'>
                        <img v-if = 'mail.commited === 1' :src = 'viewedMessageIcon' width="20" height="20" alt="">
                        <img v-if = 'mail.commited === 0' :src = 'unreadMessageIcon' width="20" height="20" alt="">
                      </td>
                      
                      <td  class='subject1' @click = 'showMail(mail.id)'>{{mailTitle(mail)}}</td>
                      <td class="showbig" style='width: 23%; float: right;'>
                        {{formatDate(mail.created_at)}} | 
                        {{new Date(mail.created_at).toTimeString().slice(0,8)}}
                      </td> 
                    </tr>
                  </table>
                </div>
                <!-- panel -->
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="text-left">Page {{currentPage}}</div>
                </div>
                <div class="col-5">
                  <div class="btn-group float-right">
                    <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                    </button>
                    <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import config from '../config'
  import Pdf from './helpers/Pdf'
  import InboxMenu from './helpers/InboxMenu'
  import MobileMenu from '@/components/helpers/MobileMenu'


  export default {
    data() {
      return {
        profile: '',
        inboxTitlee: '',
        inboxFilter: 'all',
        currentPage: 1,

        viewedMessageIcon: `${config.rootDir}/static/img/viewedMail.jpeg`,
        unreadMessageIcon: `${config.rootDir}/static/img/messageIcon1.png`
      }
    },

    methods: {
        showMail (mailId) {
            // const mail = this.$store.getters.mail(index)
            console.log('show outmail:', mailId, this.$route.params.type)
            this.$router.push(`/dashboard/outbox/${mailId}`)
        },

        formatDate (dateString) {
            // console.log('dateStr', dateString)
            try {
                let d = new Date(dateString).toDateString()
                const dateStr = d.split(' ')
                const day = dateStr[2]
                const month = dateStr[1]
                const year = dateStr[3]
                const y = `${year[2]}` + `${year[3]}`
                return `${day} ${month} ${y}`  
            } catch(err) {
                console.log(err.message)
            }
        },

        nextPage () {
          if (this.mails.length > 0) {
            this.currentPage += 1 
            this.$store.dispatch(
              'getOutboxMessages',
              {userId: this.profile.id, page: this.currentPage}
            )
          }
        },

        prevPage () {
          if(this.currentPage > 1) {
            this.currentPage -= 1
            this.$store.dispatch(
              'getOutboxMessages',
              {userId: this.profile.id, page: this.currentPage}
            )
          }
          console.log('prev page is:', this.currentPage)
        }
    },

    computed: {
        mails () {
          return this.$store.getters.outbox
        },

        unreadMessages () {
          console.log({
            unread: this.$store.getters.unread,
            ngUnread: this.$store.getters.ngUnread,
            outUnread: this.$store.getters.outUnread,
            inUnread: this.$store.getters.inUnread
          })
          return {
            unread: this.$store.getters.unread,
            ngUnread: this.$store.getters.ngUnread,
            outUnread: this.$store.getters.outUnread,
            inUnread: this.$store.getters.inUnread
          }
        },

        inboxTitle () {
          return 'File Outbox'
        },
        
        mailTitle () {
          return function (m) {
            if (m.title) return m.title
            else return m.sender_email
          }
        }
    },

    watch: {
      inboxFilter (newVal, oldVal) {
        if(oldVal !== newVal) {
          this.currentPage = 1
          this.$store.dispatch(
            'getOutboxMessages',
            {userId: this.profile.id, page: this.currentPage}
          )
        }
      }
    },

    mounted () {
     this.profile = JSON.parse(localStorage.getItem('userProfile'))

      console.log('path matched:', this.$route.path)
      // outbox messages
      this.$store.dispatch('getOutboxMessages', { userId: this.profile.id, page: 1 })
    },

    components: {
        Pdf,
        InboxMenu,
        MobileMenu
    }
  }
</script>

<style scoped>
/* .newMessage {
    width: 50px;
    height: 50px;
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 20px;
  }

  .unread {
      width: 50px;
      height: 50px;
      padding: 2px;
      background-color: red;
      color: white;
      border-radius: 20px;
  }

  .unread2 {
    background-color:rgb(225, 225, 236);
    font-weight: bold
  }

  ul li{
  list-style: none;
  display: inline-block;
  margin: 10%;
}

ul li img{
  width: 100px;
  height: 100px
}

table tr:hover{
 cursor: pointer;
 background-color: greenyellow
} */
</style>