<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="text-center custom-login wht adminlr">
                <h4 class="card-title d3 d4"><i class="icon-pencil"></i> Profile Edit</h4>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="basic-form">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><i class="fa fa-user"></i> First Name</label>
                                    <input v-model = 'profile.firstname' type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label><i class="fa fa-user"></i> Middle Name</label>
                                    <input v-model = 'profile.middlename' type="text" class="form-control" placeholder="Middle name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><i class="fa fa-user"></i> Surname</label>
                                    <input v-model = 'profile.surname' type="text" class="form-control" placeholder="Surname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label><i class="icon-badge"></i> Initial</label>
                                    <input v-model = 'profile.initial' type="text" class="form-control" placeholder="Enter Initial">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><i class="fa fa-envelope"></i> Email</label>
                                    <input v-model = 'profile.email' type="email" class="form-control" placeholder="Enter Email" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label><i class="fa fa-key"></i> Password</label>
                                    <input v-model = 'profile.password' type="password" class="form-control" placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="form-row">
                              <img :src = 'signSrc(profile)' alt = 'signature' style='width: 100px; height: 100px; float: right'>
                            </div>
                            <button type="submit" v-on:click.prevent = 'updateProfile()' class="btn btn-primary">Save Profile</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../config'
  import notification from '../mixins/notification'
  import MobileMenu from '@/components/helpers/MobileMenu'

  export default {
    data () {
      return {
        profile: JSON.parse(localStorage.getItem('userProfile'))
      }
    },

    computed: {
      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      signSrc () {
        return function (s) {
          const servInf = this.serverInf
          console.log('serverInf:', servInf)
          return `${servInf.signatureDir}/${s.signature}`
        }
      }
    },

    methods: {
      updateProfile () {
        axios.post(`${config.socketUrl}/user/update/profile`, this.profile)
          .then((response) => {
            console.log('update Profile:', this.profile, response)

            if(response && response.data.success) {
              this.alertSuccess('Profile Updated successfully!!!')
            } else {
              this.alertFailure('Error: Unable to update profile!!!')
              console.log('update Profile:', this.profile, response)
            }
          }).catch((err) => {
            console.log(err.message)
          })
      }
    },

    async mounted () {
     const { data } = await axios.get(`${config.socketUrl}/users/${this.profile.id}`)
     console.log('get_user:', data)
     this.profile = data.data
     this.profile.password = ''
     this.profile.user_id = JSON.parse(localStorage.getItem('userProfile')).id
      
    },

    mixins: [notification],
    components: {
      MobileMenu
    }
  }
</script>

<style scoped>
 #myTabContent {
   margin: 1%;
 }

 .profile {
   margin-top: 4%;
 }
</style>