<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <MobileMenu />
      <div class='row' v-if='this.$route.params.type === "upload"'>
        <div class='col-lg-5'>
          <div class="text-center custom-login wht adminlr">
            <h4 class = 'card-title d3 d4'>Upload Signal</h4>
          </div>
          <div class='card'>
            <div class = 'card-header'>
              <h4 class='card-title'>File {{currentFile}} of {{numberOfFiles}}</h4>
            </div>
            <div class='card-body'>
              <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
                <div class='row'>
                  <div class='form-group col-lg-12'>
                      <label for='type'>Signal type</label>
                      <select name = 'type' v-model = 'uploadData.type' class='form-control'>
                        <option value = ''>Select</option>
                        <option value = '2'>Incomming</option>
                        <option value = '3'>Outgoing</option>
                        <option value = '4'>Nigeria General</option>
                        <option value = '5'>NHQ Message</option>
                      </select>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='form-group col-lg-12'>
                      <textarea class='form-control' v-model = 'uploadData.subject' placeholder='Signal Subject' name = 'subject'></textarea>
                      <input type='hidden' name='sender_email' v-model='profile.email'/>
                    </div>
                  </div>
                  <div class='row'>
                    <div class="form-group col-lg-12 text-right">
                      <input type='file' accept = 'application/pdf' class='form-control' v-on:change = 'preview($event.target.name, $event.target.files)' id='fileInput' name='files'/>
                    </div>
                  </div>
                <div class='row'>
                  <div class='col-lg-4'>
                    <div clas='btn-group'>
                      <i class='fa fa-save d10 newIcon btn-primary' @click = 'addFile()'> Save</i>
                    </div>
                  </div>
                  <div class='col-lg-4'>
                    <div clas='btn-group'>
                      <i class='fa fa-plus d10 newIcon btn-primary'  @click = 'newFile()'> Add New</i>
                    </div>
                  </div>
                  <div clas='col-lg-4'>
                    <div class="btn-grop float-right">
                      <span class="btn btn-primary d10" type="button" @click = 'previousFile()'>
                        <i class="fa fa-angle-left"></i>
                      </span>
                      <span class="btn btn-primary d10" type="button" @click = 'nextFile()'><i class="fa fa-angle-right"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-lg-12'>
                    <br/><br/>
                    <button type="submit" class="btn btn-success" :disabled="uploading">Send Signals<span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class='col-lg-7'>
          <img :src='prevPdf' class='file-preview' alt='preview' id='preview'>
          <iframe id="pdfViewer" frameborder="0" scrolling="no" style='width: 100%; height: 490px'></iframe>
          <users-list v-on:list='setRecipients($event)'/>
        </div>
      </div>

      <GridMenu v-if='!this.$route.params.type' menuTitle = 'Signal Menu' :links = 'menuItems'/>
    </div>
  </div>
</template>

<script>
  import notification from '../mixins/notification'
  import GridMenu from '@/components/helpers/GridMenu'
  import UsersList from '@/components/helpers/UsersList'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import config from '../config'
  import axios from 'axios'
  
  export default {
    data () {
      return {
        prevPdf: `${config.rootDir}/static/img/pdfLogo.png`,
        uploadUrl: `${config.socketUrl}/upload/signal`,
        formData: '',
        uploadData: {
          type: '',
          subject: '',
          sender_email: JSON.parse(localStorage.getItem('userProfile')).email
        },
        profile: JSON.parse(localStorage.getItem('userProfile')),

        currentFile: 0,
        numberOfFiles: 0,
        uploadedFiles: [],
        recipients: [],

        // Menu data
        menuItems: [
          {
            image: `${config.rootDir}/static/img/uploadSignal.jpeg`,
            href: '/dashboard/sig/upload',
            text: 'Upload Signal'
          },

          {
            image: `${config.rootDir}/static/img/outBoxSignal.jpeg`,
            href: '/dashboard/outbox',
            text: 'View Sent Signals'
          }
        ],
      }
    },

    methods: {
      preview: function (fieldName, fileList) { 
        let vm = this
        this.fileList = fileList
        this.fieldName = fieldName

        // store the file in it's position
        // this.uploadedFiles[this.currentFile].fileList = fileList
        // this.uploadedFiles[this.currentFile].fieldName = fieldName

        // auto detect subject via filename
        if (!this.uploadData.subject) {
          this.uploadData.subject = fileList[0].name.replace('.pdf', '')
        }

        for (let i = 0; i < fileList.length; i++) {
          this.previewPdf(fileList[i])
        }
      },

      previewPdf (file) {
        console.log('pdf preview', file)
        if (file) {
          let pdfViewer = document.getElementById('pdfViewer')
          document.getElementById('pdfViewer').style.display = 'block'

          const reader = new FileReader()
          reader.onload = (function(pdfV){ console.log('ok then...')
            return function(e) { console.log('ok then and...')
              pdfV.src = e.target.result
              document.getElementById('preview').style.display = 'none'
            }
          })(pdfViewer)
          reader.readAsDataURL(file)
        } else {
          document.getElementById('preview').style.display = 'block'
          document.getElementById('pdfViewer').style.display = 'none'
        }
      },

      setRecipients (recipients) {
        this.recipients = recipients
      },

      async upload (e) {
        // make sure to remove any uploaded file from the list of files
        // provide a reset button so as to clear all file queues

        let vm = this
        console.log("uploaded Files:", this.uploadedFiles)
        let numberOfSuccesses = 0
        for(let f of this.uploadedFiles) {
          if (!f) continue
          // append the files to FormData
          let formData = new FormData()
          formData.append('type', f.uploadData.type)
          formData.append('subject', f.uploadData.subject)
          formData.append('sender_email', f.uploadData.sender_email)
          formData.append('recipients', JSON.stringify(this.recipients))
          formData.append('user_id', this.profile.id);

          (
            function (fi) {
              Array
            .from(Array(fi.fileList.length).keys())
            .map(x => {
                formData.append(fi.fieldName, fi.fileList[x], fi.fileList[x].name);
              });
            }
          )(f)

          this.uploading = true
          console.log('yeas')
          const response = await axios.post(this.uploadUrl, formData,
            {
              withCredentials: false,
              headers: {
                'content-type': '"multipart/form-data"'
              }
            }
          )

          console.log('submit respP', response)
          if (response.data.success) {
            this.uploading = false
            numberOfSuccesses++
            this.uploadedFileId = response.data.filename
          }
          else if(response.data.data) {
            this.alertFailure(`Error!! - ${response.data.data.message}`) 
          } else this.alertFailure(`Error - could not upload file ${f.uploadData.subject} to server!!!`)
          this.uploading = false
        }

        if (numberOfSuccesses) {
          this.showSuccess(`${numberOfSuccesses} Files Uploaded Successfully`)
          // reset
          this.uploadedFiles = []
          this.numberOfFiles = 0
          this.currentFile = 0
          this.newFile()
        }
      },

      newFile () {
        this.uploadData.subject = ''
        this.uploadData.type = ''
        this.isNewFile = true
        if(document.getElementById('pdfViewer') && document.getElementById('preview')) {
          document.getElementById('pdfViewer').style.display = 'none'
          document.getElementById('preview').style.display = 'block'
        }
      },

      addFile () {
        console.log('New file clicked')
        let fileIndex = 0
        if(this.isNewFile) {
          this.numberOfFiles++
          fileIndex = this.numberOfFiles
          this.currentFile = fileIndex
          this.isNewFile = false
          
          // reset form for new file
          this.uploadedFiles[this.numberOfFiles] = {
            'uploadData': {}
          }
        } else {
          fileIndex = this.currentFile
        }

        // save current state of form
        this.uploadedFiles[fileIndex].uploadData['type'] = this.uploadData.type
        this.uploadedFiles[fileIndex].uploadData['subject'] = this.uploadData.subject
        this.uploadedFiles[fileIndex].uploadData['sender_email'] = this.uploadData.sender_email
        this.uploadedFiles[fileIndex].uploadData['user_id'] = this.profile.id
        this.uploadedFiles[fileIndex].fileList = this.fileList
        this.uploadedFiles[fileIndex].fieldName = this.fieldName
        
      },

      viewCurrentFile () {
        if (this.uploadedFiles[this.currentFile]) {
          this.uploadData.type = this.uploadedFiles[this.currentFile].uploadData['type']
          this.uploadData.subject = this.uploadedFiles[this.currentFile].uploadData['subject']
          this.uploadData.sender_email = this.uploadedFiles[this.currentFile].uploadData['sender_email']
          this.uploadData.user_id = this.uploadedFiles[this.currentFile].uploadData['user_id']
          if (this.uploadedFiles[this.currentFile].fileList)
            this.previewPdf(this.uploadedFiles[this.currentFile].fileList[0])
          else this.previewPdf(0)
        }
      },

      nextFile () {
        if (this.currentFile < this.numberOfFiles) {
          this.currentFile++
          this.viewCurrentFile()
        }
      },

      previousFile () {
        if (this.currentFile > 1) {
          this.currentFile--
          this.viewCurrentFile()
        }
      }
    },

    mounted () {
      this.newFile()
    },

    components: {
      GridMenu,
      MobileMenu,
      UsersList
    },

    mixins: [notification]
  }
</script>

<style scoped>
  .newIcon {
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

</style>