<template>
  <div class="login-form-bg h-100" style='margin-top: 1%'>
    <div class="container h-100">
      <div class="row justify-content-center h-100">
        <div class="col-xl-6">
          <div class="form-input-content">
            <div class="card login-form mb-0">
              <div class="card-body pt-5">
                <h2 style="color:#2e6da4" class="text-center"><strong>User Registration</strong></h2>
                <img :src="logo2" style="float: right;" class="imgfix" alt="">
                <img :src="logo1" style="float: left;" class="imgfix" alt="">
                <form class="mt-5 mb-5 login-input">
                   <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address" v-model='regData.email' required>
                    </div>
                    <div class="form-group">
                      <select class='form-control' v-model='regData.appointment'>
                        <option value = '' selected>
                          Appointment
                        </option>
                        <option v-for='appointment of appointments' :key = 'appointment.id' :value = 'appointment.id'>
                            {{appointment.name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" v-model='regData.password' required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Repeat Password" v-model='regData.password2' required>
                    </div>
                    <button class="btn login-form__btn submit w-100" v-on:click.prevent = 'register'>Sign up</button>
                </form>
                <p class="mt-5 login-form__footer">Already Have account? <router-link to="/login" class="text-primary">Login </router-link></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import notification from "../mixins/notification";
import config from '../config'

export default {
  data() {
    return {
      regData: {
        email: "",
        appointment: "",
        password: "",
        password2: ""
      },
      logo1: `${config.rootDir}/static/img/${config.navyInfo.logo}`,
      logo2: `${config.rootDir}/static/img/NavyLogo.png`
    };
  },

  methods: {
    register() {
      // console.log(this.regData)
      axios
        .post(`${config.socketUrl}/register`, this.regData, {
          withCredentials: false
        })
        .then(response => {
          console.log("response:", response);
          if (response.data.success) {
            this.$router.push("/login");
            this.alertSuccess("Registration Successful!! <br> Login to your Account", 5000);
          } else {
            this.alertFailure(response.data.data);
          }
        });
    }
  },

  computed: {
    appointments () {
      console.log('app', this.$store.getters.appointments)
      return this.$store.getters.appointments
    }
  },

  mounted () {
    axios.get(`${config.socketUrl}/appointments`)
      .then((response) => {
        if(response.data.success) {
          this.$store.commit('appointments', response.data.data)
        } else {
          this.alertFailure("Unable to fetch appointments", 5000);
        }
      })
  },

  mixins: [notification]
};
</script>

<style scoped>
.mybtn {
  padding: 5px 10px;
  margin: 30px 0 0 10px;
  background-color: #fff;
  color: 000080;
  border-radius: 8px 15px;
  font-weight: 700;
}
.wht {
  color: #fff;
}
.coll2 {
  width: 27%;
}
label {
  color: #d9d9da !important;
}
.loginbtn {
  margin-left: 40%;
}
.adminlr {
  background-color: #25258f;
  padding: 30px 0px;
  border-radius: 15px;
}
.bcon {
  background-color: rgba(0, 0, 128, 0.82);
  margin-bottom: 20px;
}
</style>