<template>
  <div class="content-body">
      <div class="container-fluid">
        <MobileMenu />
        <div class="row">
          <div class="col-lg-12">
            <div class="card fixed-content">
              <div class="card-body" style='height: 100%;'>
                <InboxMenu v-on:filter = 'filterEvent($event)' v-on:limitByDate = 'limitByDate($event)' :inboxTitle = 'inboxTitle' v-on:restore = 'restoreInbox' :msgMarked = 'markedMessages.length > 0'/>
                <div class="email-right-box">
                  <!-- <div class="row">
                      <div class="col-7">
                          <div class="text-left">Page {{currentPage}}</div>
                      </div>
                      <div class="col-5">
                          <div class="btn-group float-right">
                              <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                              </button>
                              <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div> -->
                  <div class='table-responsive'>
                    <div class=''>
                      <input type='checkbox' style='margin-left: 8px' @change ='markAll($event)' v-model='selectAll'> 
                          Select All
                    </div>
                    <table class="table table-hover">
                      <tr v-for='(mail, index) of mails' :key = 'index' :class = '{reRead: mail.commited === 1, unRead: mail.commited === 0, message1: 1 === 1}'>
                        <td class="email-checkbox" style='width:2%; float: left;'>
                            <input type="checkbox" :id="index" :value = 'mail.id' v-model = 'markedMessages'>
                            <label class="toggle" :for="index"></label>
                        </td>
                        <td style='width: 5%; float: left;'>
                          <img v-if = 'mail.commited === 1' :src = 'viewedMessageIcon' width="20" height="20" alt="">
                          <img v-if = 'mail.commited === 0' :src = 'unreadMessageIcon' width="20" height="20" alt="">
                        </td>
                        
                        <td class="subject1" @click = 'showMail(mail)'>{{mailTitle(mail)}}</td>
                        <td class="showbig" style='width: 23%; float: right;'>
                          {{formatDate(mail.created_at)}} | 
                          {{new Date(mail.created_at).toTimeString().slice(0,8)}}
                        </td> 
                      </tr>
                    </table>
                  </div>
                  <!-- panel -->
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="text-left">Page {{currentPage}}</div>
                  </div>
                  <div class="col-5">
                    <div class="btn-group float-right">
                      <button @click = 'prevPage()' :class="{btn:true, 'btn-gradient': this.currentPage < 2, 'btn-primary': this.currentPage > 1}" type="button"><i class="fa fa-angle-left"></i>
                      </button>
                      <button @click = 'nextPage()' :class="{btn:true, 'btn-gradient': this.mails.length === 0, 'btn-primary': this.mails.length > 0}" type="button"><i class="fa fa-angle-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->
  </div>
</template>

<script>
  import InboxMenu from '@/components/helpers/InboxMenu'
  import notification from '../mixins/notification'
  import config from '../config'
  import Pdf from './helpers/Pdf'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import axios from 'axios'

  export default {
    data() {
      return {
        markedMessages: [],
        selectAll: false,

        startDate: '',
        endDate: '',

        profile: '',
        inboxTitlee: '',
        inboxFilter: 'all',
        inboxType: '',
        searchTerm: '',
        currentPage: 1,
        oldPage: 0,

        viewedMessageIcon: `${config.rootDir}/static/img/viewedMail.jpeg`,
        unreadMessageIcon: `${config.rootDir}/static/img/messageIcon1.png`,
      }
    },

    methods: {
        showMail (m) {
          this.$router.push(`/dashboard/trash/${m.id}`)
        },

        restoreMessages (msgs) {
          console.log('trashing messages:', msgs)
          axios.post(`${config.socketUrl}/inbox/trash`, { code: 0, messages: msgs })
            .then((response) => {
              if (response.data.success) {
                console.log('TrashResponse:', response.data)
                // remove message from state
                this.$store.commit('removeFromTrash', msgs)
                this.showSuccess('Message Restored Successfully!!!', 4000)
                this.refetchInbox()
                this.markedMessages = []
                this.selectAll = false

              }
              else console.log('Trash failed', response.data.data)
            })
        },

        restoreInbox () {
          this.restoreMessages(this.markedMessages)
        },

        markAll (e) {
          if(e.target.checked) {
            for(let m of this.mails) {
              if (this.markedMessages.indexOf(m.id) === -1)
                this.markedMessages.push(m.id)
            }
          } else {
            this.markedMessages = []
          }
        },

        refetchInbox () {
          this.$store.dispatch(
              'getTrashedMessages',
              {userId: this.profile.id, page: this.currentPage, filter: this.inboxFilter, search: this.searchTerm, startDate: this.startDate, endDate: this.endDate}
            )
        },

        limitByDate(event) {
          this.startDate = event.startDate
          this.endDate = event.endDate
          this.currentPage = 1
          this.refetchInbox()
        },

        searchInbox (searchTerm) {
          // search inbox
          this.searchTerm = searchTerm
          if(this.searchTerm) {
            // check whether it is page number
            if (!isNaN(this.searchTerm)) {
              this.oldPage = this.currentPage
              this.currentPage = Number(this.searchTerm)
              this.searchTerm = ''
            }
            this.refetchInbox()
          } else {
            this.refetchInbox()
          }
        },

        formatDate (dateString) {
            // console.log('dateStr', dateString)
            try {
                let d = new Date(dateString).toDateString()
                const dateStr = d.split(' ')
                const day = dateStr[2]
                const month = dateStr[1]
                const year = dateStr[3]
                const y = `${year[2]}` + `${year[3]}`
                return `${day} ${month} ${y}`  
            } catch(err) {
                console.log(err.message)
            }
        },

        nextPage () {
          if (this.mails.length > 0) {
            this.currentPage += 1 
            this.refetchInbox()
            console.log('next page is:', this.currentPage, this.inboxFilter)
          } else {
            this.showSuccess('End of Page')
          }
        },

        prevPage () {
          if(this.currentPage > 1) {
            this.currentPage -= 1
            this.refetchInbox()
          }
          console.log('prev page is:', this.currentPage, this.inboxFilter)
        },

        filterEvent (event) {
          this.inboxFilter = event
        }
    },

    computed: {
      mails () {
        return this.$store.getters.trashedMessages
      },
      inboxTitle () {
        return 'Recycle Bin'
      },

      mailTitle () {
        return function (m) {
          if (m.title) return m.title
          else return m.sender_email
        }
      }
    },

    watch: {
      inboxFilter (newVal, oldVal) {
        if(oldVal !== newVal) {
          this.currentPage = 1
          this.refetchInbox()
        }
      },

      mails (newVal, oldVal) {
        if(newVal.length === 0 && this.oldPage !== 0) { // restore previous page after jumping to empty page
          this.currentPage = this.oldPage
          this.oldPage = 0
        }
      }
    },

    mounted () {
     this.profile = JSON.parse(localStorage.getItem('userProfile'))
     this.$root.$on('search_trash', this.searchInbox)
     let that = this
     this.$root.$on('restore_message', function(m) {
       console.log('restoring this message', m)
       that.restoreMessages([m.id])
     })

     // get trashed messages
    this.$store.dispatch('getTrashedMessages', { userId: this.profile.id, page: 1, filter: 'all' })
    },

    components: {
      InboxMenu,
      Pdf,
      MobileMenu
    },

    mixins: [notification]
  }
</script>

<style scoped>

.menu-list {
    width: 100%;
    /* background-color: blue */
  }
  .menu-list li {
    display: inline-block;
    padding: 2%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   /*background-color: green*/
  }
      
  .menu-list li img{
    display: block;
    width: 100px;
    height: 100px;
  }

  .menu-list li span {
    text-align: center;
    color: black;
    font-weight: bold
  }

</style>