<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;">
          <!-- <div class="col-lg-1"></div> -->
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="text-center custom-login wht adminlr">
                  <h3>Outgoing File Upload</h3>
                  <p>Secretariat </p>
              </div>
              <div class="card">
                  <div class="card-body">
                      <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
                          <div class="row">
                              <div class="form-group col-lg-12">
                                <label><i class="fa fa-key"></i> Subject</label>
                                <input type='text' v-model = 'uploadData.subject' placeholder='Subject Matter' class='form-control' name='subject'/>
                              </div>
                          </div>
                          <!-- <div class="text-center form-group col-lg-6">
                            <label><i class="fa fa-key"></i> Folio Number</label>
                            <input type='text' class='form-control' v-model = 'uploadData.folio' placeholder='Folio Number'/>
                          </div> -->

                          <div class="form-group col-lg-6">
                            <label><i class="fa fa-key"></i> File</label>
                            <div class="form-group text-right">
                              <input type='file' v-bind:accept = 'allowedFileType' class='form-control' v-on:change = 'preview' id='fileInput' name='file'/>
                            </div>
                            <!--<input type='file' id='uploadBtn' :name="uploadFieldName" class='form-control' @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"/>-->
                          </div>
                          <button type="submit" class="btn btn-primary loginbtn" :disabled="uploading">Upload File <span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>

                      </form>
                  </div><br>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img :src='prevImg' class='file-preview' alt='preview' id='preview' v-if='fileType === "image"'>
            <img :src='prevPdf' class='file-preview' alt='preview' id='preview' v-if='fileType === "pdf"'>
            <iframe id="pdfViewer" frameborder="0" scrolling="no" width="500" height="600" v-if='fileType === "pdf"'></iframe>
            <!--<img class='file-preview' src='/static/img/file.jpeg' id = 'preview-img'/> -->
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import GridMenu from '@/components/helpers/GridMenu'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import config from '../config'
  import axios from 'axios'

  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;


  export default {
    props: ['fileId'],
    data() {
      return {
        fileType: 'pdf',
        prevImg: `${config.rootDir}/static/img/imageIcon.png`,
        prevAudio: `${config.rootDir}/static/img/file_audio.ico`,
        prevVideo: `${config.rootDir}/static/img/videoIcon2.png`,
        prevPdf: `${config.rootDir}/static/img/pdfLogo.png`,
        uploadData: {
          subject: '',
          type: '',
          file: '',
          folio: ''
        },
        uploading: false,
        fileList: [],
        uploadUrl: `${config.socketUrl}/upload`
      }
    },
    methods: {
      sujestFolio (e) { console.log('sujectFolio:',e)
        axios.get(`${config.socketUrl}/last/folio/${e.target.value}`)
          .then((res) => {
            if(res.data.success) {
              this.uploadData.folio = Number(res.data.data) + 1
            } else {
              this.uploadData.folio = ''
            }
          })
      },

      resetFolio (e) {
        this.uploadData.folio = ''
      },

      upload (e) { console.log('yeas')
        this.uploading = true
        let f = new FormData();
        f.append('file', e.target.file);
        f.append('subject', this.uploadData.subject)
        f.append('fileId', this.fileId)
        f.append('type', this.uploadData.type)
        f.append('file', this.uploadData.file)
        e.preventDefault()
        console.log(e.target, f)
        axios.post(`${config.socketUrl}/outgoing/upload`, f, { withCredentials: false })
          .then((response) => {
            console.log('submit respP', response)
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
              // this.$router.push(`/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${this.volume}/${this.uploadedFileId}`)
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      preview: function (event) { 
        let vm = this
        let fileInput = document.getElementById('fileInput')
        this.uploadData.file = fileInput.files[0];

        // auto detect subject via filename
        if (!this.uploadData.subject) {
          let subj = fileInput.files[0].name.replace('.pdf', '')
          subj = subj.replace('.jpg', '')
          subj = subj.replace('.png', '')
          subj = subj.replace('.mp4', '')
          subj = subj.replace('.mp3', '')
          subj = subj.replace('.png', '')

          this.uploadData.subject = subj
        }

        this.fileList = []
        for (let i = 0; i < fileInput.files.length; i++) {
          this.fileList.push(fileInput.files[i])
          console.log('file Route:', this.$route.params.type, fileInput.files.length)
          if (this.fileType === 'images') this.previewImage(fileInput.files[i])
          else this.previewPdf(fileInput.files[i])
        }
      },

      previewImage (file) {
        let img = document.getElementById('preview')

          const reader = new FileReader()
          reader.onload = (function(aImg){ console.log('ok then...')
            return function(e) { console.log('ok then and...')
              aImg.src = e.target.result
            }
          })(img)

          reader.readAsDataURL(file)
      },

      previewPdf (file) {
        console.log('pdf preview')
        let pdfViewer = document.getElementById('pdfViewer')
        const reader = new FileReader()
          reader.onload = (function(pdfV){ console.log('ok then...')
            return function(e) { console.log('ok then and...')
              pdfV.src = e.target.result
              document.getElementById('preview').style.display = 'none'
            }
          })(pdfViewer)
          reader.readAsDataURL(file)
      }
},

computed: {
  allowedFileType: function() {
    return 'images/*'
    switch(this.fileType) {
      case 'images':
        this.uploadData.type = 'image'
        return 'images/*'
      case 'pdf':
        this.uploadData.type = 'pdf'
        return 'application/pdf'
    }
  }
},
mounted () {
  switch(this.fileType) {
    case 'pdf':
      this.uploadData.type = 'pdg'
      break
    default:
      this.uploadData.type = 'image'
    break
  }
},
components: {
  GridMenu,
  MobileMenu
},
  mixins: [selectMixin, notification]
  }
</script>

<style scoped>
/* .mybtn{
  padding: 5px 10px;
  margin: 30px 0 0 10px;
  background-color: #fff;
  color: 000080;
  border-radius: 8px 15px;
  font-weight: 700
}
.wht{color: #fff}
.coll2{width: 27%}

.loginbtn{margin-left: 40%}
.adminlr{background-color: #25258f; padding:30px 0px; border-radius: 15px;}
.bcon{background-color: rgba(0, 0, 128, 0.82); margin-bottom: 20px;} */

.file-preview {
  width: 90%;
  margin-left: auto;
  height: 500px;
}

video {
  width: 450px;
  height: 400px;
}
</style>