<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;" v-if='this.$route.params.type'>
          <!-- <div class="col-lg-1"></div> -->
          <div class="col-md-6">
              <div class="text-center custom-login wht adminlr">
                  <h3>{{pageTitle}}</h3>
                  <p>Secretariat </p>
              </div>
              <div class="card">
                  <div class="card-body">
                      <form :action = 'uploadUrl' @submit.prevent = 'upload' id="uploadForm" enctype="multipart/form-data">
                          <div class="row">
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Department</label>
                                  <select class='form-control' v-model = 'dept' name='department' @change = 'resetFolio($event)'>
                                    <option value='' selected='true'>Select</option>
                                    <option v-for='dept of departments' :key = 'dept.id' v-bind:value='dept.id'>{{dept.name}}</option>
                                  </select>
                              </div>
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Sub Department</label>
                                  <select class='form-control' v-model='subdept' @change = 'resetFolio($event)'>
                                    <option value=''>Select</option>
                                    <option v-for='subdept of subdepartments' :key='subdept.id' :value='subdept.id' name='sub_department'>{{subdept.name}}</option>
                                  </select>
                              </div>

                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Year</label>
                                  <select class ='form-control' name="year" v-model='year' @change = 'resetFolio($event)'>
                                    <option value="">Select</option>
                                    <!--<option value = 'currentYear'>{{currentYear}}</option> -->
                                    <option v-for = '(year, index) in years' :key = 'index' :value="year['year']">{{year['year']}}</option>
                                </select>
                              </div>
                              
                              <div class="form-group col-lg-6">
                                  <label><i class="fa fa-key"></i> Volume</label>
                                  <select class ='form-control' name="volume" v-model='volume' @change = 'sujestFolio($event)'>
                                    <option value = ''>Select</option>
                                    <option v-for = '(volume, index) in volumes' :key = 'index' :value="volume.id">{{volume.name}}</option>
                                  </select>
                              </div>
                              

                              <div class="form-group col-lg-12">
                                <label><i class="fa fa-key"></i> Subject</label>
                                <input type='text' v-model = 'uploadData.subject' placeholder='Subject Matter' class='form-control' name='subject'/>
                              </div>
                          </div>
                          <div class="text-center form-group col-lg-6">
                            <label><i class="fa fa-key"></i> Folio Number</label>
                            <input type='text' class='form-control' v-model = 'uploadData.folio' placeholder='Folio Number'/>
                          </div>

                          <div class="form-group col-lg-6">
                            <label><i class="fa fa-key"></i> File</label>
                            <div class="form-group text-right">
                              <input type='file' v-bind:accept = 'allowedFileType' class='form-control' v-on:change = 'preview' id='fileInput' name='file'/>
                            </div>
                            <!--<input type='file' id='uploadBtn' :name="uploadFieldName" class='form-control' @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"/>-->
                          </div>
                          <button type="submit" class="btn btn-primary loginbtn" :disabled="uploading">Upload File <span v-if="uploading"><i class="fa fa-circle-notch fa-spin"></i></span></button>

                      </form>
                  </div><br>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <img :src='prevImg' class='file-preview' alt='preview' id='preview' v-if='this.$route.params.type === "images"'>
            <img :src='prevPdf' class='file-preview' alt='preview' id='preview' v-if='this.$route.params.type === "pdf"'>
            <img :src='prevAudio' class='file-preview' alt='preview' id='preview' v-if='this.$route.params.type === "audio"'>
            <img :src='prevVideo' class='file-preview' alt='preview' id='preview' v-if='this.$route.params.type === "video"'>
            <audio v-if='this.$route.params.type === "audio"' id ='sound' controls>
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
            </audio>
            <video v-if='this.$route.params.type === "video"' id ='vision'>
                <p>Your browser doesn't support HTML5 video. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
            </video>
            <iframe id="pdfViewer" frameborder="0" scrolling="no" width="500" height="600" v-if='this.$route.params.type === "pdf"'></iframe>
            <!--<img class='file-preview' src='/static/img/file.jpeg' id = 'preview-img'/> -->
          </div>
      </div>

      <GridMenu v-if='!this.$route.params.type' menuTitle = 'Secretariat Menu' :links = 'menuItems'/>
    </div>
  </div>
</template>

<script>
  import GridMenu from '@/components/helpers/GridMenu'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import selectMixin from '@/mixins/select'
  import notification from '@/mixins/notification'
  import config from '../config'
  import axios from 'axios'

  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;


  export default {

    data() {
      return {
        /*uploadedFiles: [],
        uploadError: null,
        currentStatus: null,
        uploadFieldName: 'photos' */
        prevImg: `${config.rootDir}/static/img/imageIcon.png`,
        prevAudio: `${config.rootDir}/static/img/file_audio.ico`,
        prevVideo: `${config.rootDir}/static/img/videoIcon2.png`,
        prevPdf: `${config.rootDir}/static/img/pdfLogo.png`,
        uploadData: {
          subject: '',
          type: '',
          file: '',
          folio: ''
        },
        uploading: false,
        fileList: [],
        uploadUrl: `${config.socketUrl}/upload`,
        pageTitle: '',

        // Menu data
        menuItems: [
          {
            image: `${config.rootDir}/static/img/uploadPDFFile.png`,
            href: '/dashboard/sec/upload/pdf',
            text: 'Upload PDF File'
          },

          {
            image: `${config.rootDir}/static/img/uploadPictureFile.jpeg`,
            href: '/dashboard/sec/upload/images',
            text: 'Upload Picture File'
          },

          {
            image: `${config.rootDir}/static/img/uploadVideoFile.png`,
            href: '/dashboard/sec/upload/video',
            text: 'Upload Video File'
          },

          {
            image: `${config.rootDir}/static/img/audioIcon.jpeg`,
            href: '/dashboard/sec/upload/audio',
            text: 'Upload Audio File'
          },

          {
            image: `${config.rootDir}/static/img/outBoxSignal.jpeg`,
            href: '/dashboard/sec/upload/pdf?outgoing=true',
            text: 'Outgoing Upload'
          },

          {
            image: `${config.rootDir}/static/img/folder-icon.png`,
            href: '/dashboard/sec/manage/archive',
            text: 'Manage Archive'
          }
        ],
      }
    },
    methods: {
      sujestFolio (e) {
        if (this.$route.query.outgoing) return
        axios.get(`${config.socketUrl}/last/folio/${e.target.value}`)
          .then((res) => {
            if(res.data.success) {
              this.uploadData.folio = Number(res.data.data) + 1
            } else {
              this.uploadData.folio = ''
            }
          })
      },

      resetFolio (e) {
        this.uploadData.folio = ''
      },

      upload (e) {
        this.uploading = true
        let f = new FormData(); f.append('file', e.target.file);
        f.append('department', this.dept); f.append('sub_department', this.subdept)
        f.append('subject', this.uploadData.subject); f.append('volume', this.volume)
        f.append('folio_number', this.uploadData.folio)
        f.append('type', this.uploadData.type)
        f.append('file', this.uploadData.file)
        e.preventDefault()
        let uploadUrl = this.$route.query.outgoing ? `${config.socketUrl}/outgoing/upload` : `${config.socketUrl}/upload`
        axios.post(uploadUrl, f, { withCredentials: false })
          .then((response) => {
            console.log('submit respP', response)
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              if (this.$route.query.outgoing) this.$router.push('/dashboard/sec/upload')
              else {
                this.uploadedFileId = response.data.data.fileId
                this.$router.push(`/dashboard/archive/${this.dept}/${this.subdept}/${this.year}/${this.volume}/${this.uploadedFileId}`)
              }
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data.message}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      preview: function (event) { 
        let vm = this
        let fileInput = document.getElementById('fileInput')
        this.uploadData.file = fileInput.files[0];

        // auto detect subject via filename
        if (!this.uploadData.subject) {
          let subj = fileInput.files[0].name.replace('.pdf', '')
          subj = subj.replace('.jpg', '')
          subj = subj.replace('.png', '')
          subj = subj.replace('.mp4', '')
          subj = subj.replace('.mp3', '')
          subj = subj.replace('.png', '')

          this.uploadData.subject = subj
        }

        this.fileList = []
        for (let i = 0; i < fileInput.files.length; i++) {
          this.fileList.push(fileInput.files[i])
          if (this.$route.params.type === 'images') this.previewImage(fileInput.files[i])
          else if (this.$route.params.type === 'pdf') this.previewPdf(fileInput.files[i])
          else if (this.$route.params.type === 'audio') this.previewAudio(fileInput.files[i])
          else if (this.$route.params.type === 'video') this.previewVideo(fileInput.files[i])
        }
      },

      previewImage (file) {
        let img = document.getElementById('preview')

          const reader = new FileReader()
          reader.onload = (function(aImg){
            return function(e) {
              aImg.src = e.target.result
            }
          })(img)

          reader.readAsDataURL(file)
      },

      previewPdf (file) {
        let pdfViewer = document.getElementById('pdfViewer')
        const reader = new FileReader()
          reader.onload = (function(pdfV){
            return function(e) {
              pdfV.src = e.target.result
              document.getElementById('preview').style.display = 'none'
            }
          })(pdfViewer)
          reader.readAsDataURL(file)
      },

      previewAudio (file) {
        let sound = document.getElementById('sound')
        const reader = new FileReader()
          reader.onload = (function(aAudio){
            return function(e) {
              aAudio.src = e.target.result,
              aAudio.controls = true
              //aAudio.play()
            }
          })(sound)
          reader.readAsDataURL(file)
      },

      previewVideo(file) {
        let vision = document.getElementById('vision')
        const reader = new FileReader()
          reader.onload = (function(aVideo){
            return function(e) {
              aVideo.src = e.target.result,
              aVideo.controls = true
              document.getElementById('preview').style.display = 'none'
            }
          })(vision)
          reader.readAsDataURL(file)
      }
},

computed: {
  allowedFileType: function() {
    switch(this.$route.params.type) {
      case 'images':
        this.uploadData.type = 'image'
        return 'images/*'
      case 'pdf':
        this.uploadData.type = 'pdf'
        return 'application/pdf'
      case 'audio':
        this.uploadData.type = 'audio'
        return 'audio/*'
      case 'video':
        this.uploadData.type = 'video'
        return 'video/*'
    }
  }
},
watch: {
  '$route.query.outgoing': function(newV, oldV) {
    console.log('Outgoing query')
    this.pageTitle = this.$route.query.outgoing ? 'Outgoing File Upload' : 'File Upload'
  }
},
mounted () {
  switch(this.$route.params.type) {
    case 'images':
      this.uploadData.type = 'image'
      break
    case 'pdf':
      this.uploadData.type = 'pdf'
    break
    case 'audio':
      this.uploadData.type = 'audio'
      break
    case 'video':
      this.uploadData.type = 'video'
      break
  }
},
components: {
  GridMenu,
  MobileMenu
},
  mixins: [selectMixin, notification]
  }
</script>

<style scoped>
/* .mybtn{
  padding: 5px 10px;
  margin: 30px 0 0 10px;
  background-color: #fff;
  color: 000080;
  border-radius: 8px 15px;
  font-weight: 700
}
.wht{color: #fff}
.coll2{width: 27%}

.loginbtn{margin-left: 40%}
.adminlr{background-color: #25258f; padding:30px 0px; border-radius: 15px;}
.bcon{background-color: rgba(0, 0, 128, 0.82); margin-bottom: 20px;} */

.file-preview {
  width: 90%;
  margin-left: auto;
  height: 500px;
}

video {
  width: 450px;
  height: 400px;
}
</style>