<template>
  <div class='row' v-if ='inited'>
    <div class='col-md-9'>
      <div class = 'card people'>
        <div class='card-body'>
          <ul>
            <li v-for = '(user, index) in users' :key = 'index' @click = 'select(index)' class='d10'>
                <img :src = 'profilePic(user)' class='person'/>
                <p>{{user.firstName}} {{user.surname}}</p>
                <p>
                  {{user.appointment}}
                  <img :src= 'selectImg' class = 'ok' v-if = 'isSelected[user.email]'>
                </p>
                <p>{{user.email}} <span>{{user.selectedId}}</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = 'col-md-3 select-preview'>
      <div class='card'>
        <div class='card-body'>
          <div class='form-group'>
          <input type = 'text' class='form-control'
            placeholder = 'Message Title'
            v-model = 'msgTitle'
            :change = '$emit("title", msgTitle)'
            v-if = 'isCC2'
            />
          </div>
          <div class='form-group'>
            <!-- <textarea v-model = 'msg' class='form-control' placeholder = 'Message Description' :change = '$emit("msg", msg)'>
            </textarea> -->
          </div>

        <div class='form-group'>
          <label for='sendType'>
            Send Type
          </label>
          <select class='form-control' v-model = 'sendType' :change = '$emit("sendType", sendType)'>
            <option value = ''>Select</option>
            <option value = '1'>Simultaneous</option>
            <option value = '2'>Queued</option>
          </select>
        </div>
        <button class='btn btn-info' @click = 'sendRequest()'>{{actionName ? actionName : 'Send Request'}}</button>

        <ol>
          <li v-for='(item, index) in selected' :key = 'index'>
            {{item.appointment}} - {{item.email}} 
          </li>
        </ol>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../config'
  import notification from '@/mixins/notification'


  export default {
    props: ['msgSubject', 'actionName'],

    data () {
      return {
        userList: [
          {
            name: 'Israel dddd',
            email: 'israel@domain.com',
            rank: 'CFO',
            selectId: ''
          },
          {
            name: 'John Hohne Ydad',
            email: 'john@domain.com',
            rank: 'COO',
            selectId: ''
          },
          {
            name: 'Daniel Ojgun Badd',
            email: 'daniel@domain.com',
            rank: 'CTO',
            selectId: ''
          },

          {
            name: 'Gabriel Soudaena Dsa',
            email: 'gabe@domain.com',
            rank: 'CMO',
            selectId: ''
          },

          {
            name: 'Ubong Edad dad',
            email: 'ubdd@domain.com',
            rank: 'CVO',
            selectId: ''
          },

          {
            name: 'Abesd Dad Lavel',
            email: 'absed@domain.com',
            rank: 'CMM',
            selectId: ''
          },

          {
            name: 'Fedility Jerry James',
            email: 'fedjam@domain.com',
            rank: 'CBB',
            selectId: ''
          },

          {
            name: 'Royce John',
            email: 'roycej@domain.com',
            rank: 'CAA',
            selectId: ''
          },

          {
            name: 'Bankey Auguster',
            email: 'bekcy@domain.com',
            rank: 'CYY',
            selectId: ''
          },

          {
            name: 'Benard Ugunum',
            email: 'benu@domain.com',
            rank: 'CCC',
            selectId: ''
          }
        ],

        profile: JSON.parse(localStorage.getItem('userProfile')),

        isSelected: {
        },

        selected: [],
        ccList: [],
        isCC2: JSON.parse(localStorage.getItem('userProfile')).appointment === 'CC',
        isCC: false,

        selectedId: 0,

        msgTitle: '',
        msg: '',
        sendType: '',

        userIcon: `${config.rootDir}/static/img/user2.jpeg`,
        selectImg: `${config.rootDir}/static/img/good2.png`,

        inited: false
      }
    },

    methods: {
      select (index) {
        let usrList = this.isCC ? this.ccList : this.userList
        for (let i = 0; i < usrList.length; i++) {
          if (usrList[index].email === usrList[i].email) {
            if (this.isSelected[usrList[index].email]) {
              const E = usrList[index].email
              const j = this.selected.findIndex((e) => {
                return E === e.email
              })
              console.log("index J:", j)
              this.selected.splice(j, 1)
              this.isSelected[usrList[i].email] = false
            } 
            else {
              this.selected.push(usrList[i])
              this.isSelected[usrList[i].email] = true
            }
            
            break
          }
        }
      },

      sendRequest () {
        console.log('message title:', this.msgSubject, this.msgTitle)

        if (this.selected.length > 0 && this.msgTitle && this.sendType) {
          this.$emit("recipients", this.selected)
        } else if(!this.msgTitle) {
            this.alertFailure('Please give your message a title!!!')
        } else if(!this.sendType) this.alertFailure('Please choose a Send type!!!')
          else {
            this.alertFailure('Please Select at least one recipient!!!')
        }
      },

      init () {
        this.userList = this.$store.getters.userList
        this.msgTitle = this.msgSubject
        if (this.userList.length) this.inited = true
        console.log('UserList:', this.inited)
      }
    },

    computed: {
      users () {
        let usrs = []
        const u = JSON.parse(localStorage.getItem('userProfile'))
        if(this.isCC) {
          for (let usr of this.userList) {
            if (usr.appointment === 'FOC' || usr.appointment === "NA" || usr.appointment === "CSO")
              usrs.push(usr)
          }
          this.ccList = usrs
          return usrs
        }
        return this.userList
      },

      profilePic: {
        set: function (newValue) {
            this.userIcon = newValue
        },

        get: function() {
          return function (u) {
            if (u.profilePic) {
              const serverInf = this.$store.getters.serverConfiguration;
              return `${serverInf.profilePictureDir}/${u.id}`
            } else {
              return this.userIcon
            }
          }
        }
      }
    },

    async mounted () {
      this.$root.$on('app_header_init', () => {
        this.init()
      })
      this.init()
    },

    mixins: [notification]
  }
</script>

<style scoped>
 ul {
   list-style-type: none;
 }

 ul li {
   display: inline-block;
   margin-top: 2%;
   margin-right: auto;
   margin-left: auto
 }

 ul li p {
   text-align: center;
   margin-left: auto;
   margin-right: auto
 }

 .ok {
   width: 40px;
   height: 40px;
 }

 .person {
   width: 150px;
   height: 150px;
   margin-left: auto;
   margin-right: auto
 }

 .people {
   height: 600px;
   overflow-y: scroll;
 }

 .select-preview {
   height: 600px;
 }

 .select-preview ol{
   margin-top: 10%;
 }
</style>