<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
          <div class="text-center custom-login wht adminlr">
              <h4 class="card-title d3 d4"><i class="icon-pencil"></i>Inbox Message Details</h4>
          </div>
          <div class="hpanel">
            <div class="panel-body">
              <p>Title: {{mailr.title}}</p>
              <p>Sender: {{mailr.sender_email}}</p>
              <p>Time: {{new Date(mailr.created_at).toString().slice(0, 25)}}</p>
              <p>{{mailr.text !== 'undefined' ? mailr.text : emptyText}}</p>
              <button class='btn btn-info' @click = 'gotoThread(mailr.type)'>
                View Document
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MobileMenu from '@/components/helpers/MobileMenu'
  import axios from 'axios'
  import config from '../config'

  export default {
    data () {
      return {
        maile: {},
        emptyText: 'Click the button below'
      }
    },

    methods: {
      gotoThread (type) {
        console.log('thread - type', type, this.maile)
        switch(Number(type)) {
          case 1:
            this.$router.push(`/dashboard/ccupload/${this.maile.file_id}`)
          break

          case 2:
            localStorage.setItem('tmpInbox', JSON.stringify(this.maile))
            this.$router.push(`/dashboard/signal/incomming/${this.maile.file_id}`)
          break

          case 3:
            localStorage.setItem('tmpInbox', JSON.stringify(this.maile))
            this.$router.push(`/dashboard/signal/outgoing/${this.maile.file_id}`)
          break

          case 4:
            localStorage.setItem('tmpInbox', JSON.stringify(this.maile))
            this.$router.push(`/dashboard/signal/ng/${this.maile.file_id}`)
          break

          case 5:
            localStorage.setItem('tmpInbox', JSON.stringify(this.maile))
            this.$router.push(`/dashboard/signal/nhq/${this.maile.file_id}`)
          break

          default:
            this.$router.push(`/dashboard/file/thread/${this.maile.file_id}`)
          break
        }
      }
    },

    computed: {
      mailr: function() {
        const mailId = this.$route.params.mailId
        const type = this.$route.params.type
        // const mail = this.$store.getters.mail(Number(mailId), type)
        let mail

        switch (this.$route.params.type) {
            case 'incomming':
              mail = this.$store.getters.mail(Number(mailId), '2')
              break;
            case 'outgoing':
              mail = this.$store.getters.mail(Number(mailId), '3')
              break;
            case 'ng':
              mail = this.$store.getters.mail(Number(mailId), '4')
              break;
            case 'nhq':
              mail = this.$store.getters.mail(Number(mailId), '5')
              break;
            case 'memo':
              mail = this.$store.getters.mail(Number(mailId), '1')
            break;
            default:
              mail = this.$store.getters.mail(Number(mailId), '0')
          }

        // this.maile = mail
        console.log('mail::', mail, type)
        console.log('mail2:', mailId, this.mail)
        if(!mail && !this.maile.id) {
          this.$store.dispatch('fetchInboxMessage', mailId)
          mail = this.$store.getters.getCurrentMail
          console.log('mail3:', mailId, mail)
        } else if (this.maile.id) {
          return this.maile
        }
        this.maile = mail
        return mail
      }
    },

   async mounted () {
      const profile = JSON.parse(localStorage.getItem('userProfile'))
      const mailId = this.$route.params.mailId
      this.$store.dispatch('fetchInboxMessage', mailId)
      const { data } = await axios.get(`${config.socketUrl}/inbox/${mailId}}`)
      this.maile = data
      // this.$store.dispatch('getInboxMessages', profile.id)
      
    },

    components: {
      MobileMenu
    }
  }
</script>

<style scoped>
  .btn {
    margin: 10%;
  }
</style>