<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
          <div class="text-center custom-login wht adminlr">
              <h4 class="card-title d3 d4">Message Details</h4>
          </div>
          <div class="card">
            <div class="card-body" v-if='mailr'>
              <p>Title: {{mailr.title}}</p>
              <p>Sender: {{mailr.sender_email}}</p>
              <p>Time: {{new Date(mailr.created_at).toString().slice(0, 25)}}</p>
              <p>{{mailr.text !== 'undefined' ? mailr.text : emptyText}}</p>
              <button v-if='!restored' class='btn btn-info' @click = 'restoreMessage(mailr)'>
                Restore
              </button> 
            </div>
            <button v-if='restored' class='btn btn-info' @click = 'gotoThread(maile)'>
                View Document
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MobileMenu from '@/components/helpers/MobileMenu'

  export default {
    data () {
      return {
        maile: {},
        emptyText: 'Click the button below',
        restored: false,
        messageDetail: {}
      }
    },

    methods: {
      // gotoThread (m) {
      //   console.log('thread - typeooooo', m, this.messageDetail)
      // },

      gotoThread () {
        console.log('thread - type')
        switch(Number(this.messageDetail.type)) {
          case 1:
            this.$router.push(`/dashboard/ccupload/${this.messageDetail.file_id}`)
          break

          case 2:
            this.$router.push(`/dashboard/signal/incomming/${this.messageDetail.file_id}`)
          break

          case 3:
            this.$router.push(`/dashboard/signal/outgoing/${this.messageDetail.file_id}`)
          break

          case 4:
            this.$router.push(`/dashboard/signal/ng/${this.messageDetail.file_id}`)
          break

          default:
            this.$router.push(`/dashboard/file/thread/${this.messageDetail.file_id}`)
          break
        }
      },

      restoreMessage (m) {
        this.messageDetail.id = m.id,
        this.messageDetail.type = m.type
        this.messageDetail.file_id = m.file_id
        this.$root.$emit('restore_message', m)
        this.restored = true
      }
    },

    computed: {
      mailr: function() {
        const mailId = this.$route.params.mailId
        let mail
        mail = this.$store.getters.trashedMessage(Number(mailId))

        this.maile = mail
        return mail
      }
    },

    mounted () {
      const profile = JSON.parse(localStorage.getItem('userProfile'))      
    },

    components: {
      MobileMenu
    }
  }
</script>

<style scoped>
  .msg-container {
    height: 500px;
    width: 100%;
    padding: 1%;
  }

  .msg-container h2 {
    text-align: center
  }

  .btn {
    margin: 20%;
  }
</style>