<template>
  <div class='content-body'>
    <div class="container-fluid">
      <MobileMenu />
      <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12">
          <div class="text-center custom-login wht adminlr">
              <h4 class="card-title d3 d4">Out Box Message Details</h4>
          </div>
          <div class="hpanel">
            <div class="panel-body">
              <p>Title: {{mailr.title}}</p>
              <p>Sender: {{mailr.sender_email}}</p>
              <p>Time: {{new Date(mailr.created_at).toString().slice(0, 25)}}</p>
              <p>{{mailr.text !== 'undefined' ? mailr.text : emptyText}}</p>
              <button class='btn btn-info' @click = 'back()'>
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MobileMenu from '@/components/helpers/MobileMenu'

  export default {
    data () {
      return {
        maile: {},
        emptyText: 'Click the button below'
      }
    },

    methods: {
      back () {
        this.$router.push('/dashboard/outbox')
      }
    },

    computed: {
      mailr: function() {
        const mailId = this.$route.params.mailId
        let mail
        mail = this.$store.getters.outMail(Number(mailId))

        // this.maile = mail
        console.log('mail3:', mailId, this.mail)
        this.maile = mail
        return mail
      }
    },

    mounted () {
      const profile = JSON.parse(localStorage.getItem('userProfile'))
      // this.$store.dispatch('getInboxMessages', profile.id)
      
    },

    components: {
      MobileMenu
    }
  }
</script>

<style scoped>
  .msg-container {
    height: 500px;
    width: 100%;
    padding: 1%;
  }

  .msg-container h2 {
    text-align: center
  }

  .btn {
    margin: 10%;
  }
</style>