<template>
  <div class='content-body'>
    <div class="container-fluid" style='height: 570px; overflow-y: scroll'>
      <MobileMenu />
      <div class="row" >
          <div class="col-md-10" v-if = 'currentTab === 2'>
              <div class="hpanel">
                  <div class="panel-body msg-container">
                    <Pdf :src = 'fileSrc'
                      width = '800px'
                      height = '600px'
                      :print = 'print'
                      v-on:printed = 'endPrint()'
                    />
                  </div>
              </div>
          </div>

          <div class='col-lg-10' v-if = 'currentTab === 3'>
            <div class='card'>
              <div class='card-header'><h3 style='text-align: center'>COMMENTS</h3></div>
              <div class='card-body' style = 'height: 600px; overflow-y: scroll;' id = 'doc-container'>
              <div class='comments'>
                <ul>
                  <li v-for='(comment, index) in signalComments' :key = 'index' style='background-color: rgb(250,250, 253); margin-top: 1%; padding: 2%'>
                    <h4 style='font-weight: bold' v-html = 'colorText(comment.color, comment.appointment)'></h4>
                    <div v-html='colorText(comment.color, comment.content)' style='margin-top: 1%; margin-left: 15px'></div>
                    <span style='font-size: 0.7em' v-html = 'colorText(comment.color, formatDate(new Date(comment.created_at).toDateString()))'></span>
                  </li>
                </ul>
              </div>
            </div>
            </div>
            <Editor v-on:save = 'saveCommentMsg($event)' v-if='!print'/>
          </div>

          <div class='col-lg-10 panel-body>' v-if = 'currentTab === 4'>
            <UserList 
            v-on:recipients = 'setRecipients($event)'
            v-on:msg = 'setMessage($event)'
            v-on:title = 'setTitle($event)'
            v-on:sendType = 'setSendType($event)'
            :msgSubject = 'messageSubject'
            :actionName = 'Done'
            />
          </div>
          
          <div class="col-lg-2">
            <icons-menu :links = 'menuItems' v-on:tab-changed = 'switchTab($event)' initialTab = '2' vertical = 'true' v-if = '!print'/>
            
            <div class=''>
              <div class = '' style='background-color: white'>
                <!-- <button class = 'btn btn-info' @click = 'commit()' v-if='!committed && !acknowledged' style='margin-top: 2%'>Acknowledge</button>
                <button class='btn btn-success' @click = 'comment()' style='margin-top: 2%'>{{showComment ? 'Show Signal' : 'Comment'}}</button>
                <button class='btn btn-warning' @click = 'selectRecievers()' style='margin-top: 2%'>Select Recipient(s)</button>
                <button class='btn btn-success' v-if = 'profile.appointment === "MSO"' @click = 'printSignal()' style='margin-top: 2%'>Print</button>
                <button class='btn btn-danger' v-if = 'profile.appointment !== "MSO"' @click = 'sendPrintTask()' style='margin-top: 2%'>Send for Printing</button> -->

                <div style='margin-top: 20px; background-color: white;' v-if = 'recipients.length > 0'>
                  <h4 style='text-align: center'>Recipients</h4>
                  <p v-for='(recipient, index) in recipients' :key = 'index' style='color: black; margin-left: 5%'>
                    {{recipient.appointment}}
                  </p>
                  <button class='btn btn-success' @click = 'assignTask()'>Assign Task</button>
                </div>
                <!-- <br/><br/> -->
                <button v-if = 'sequenceOn' @click = 'nextMail(true)' class='btn btn-gradient'><i class="fa fa-angle-left"> Previous Mail</i></button>
                <button v-if = 'sequenceOn' @click = 'nextMail(false)' class='btn btn-gradient'>Next Mail <i class="fa fa-angle-right"></i></button>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Pdf from './helpers/Pdf'
  import config from '../config'
  import axios from 'axios'
  import Editor from './helpers/Editor'
  import UserList from './UserList'
  import notification from '../mixins/notification'
  import socketMixin from '@/mixins/socket'
  import printJs from 'print-js'
  import MobileMenu from '@/components/helpers/MobileMenu'
  import IconsMenu from '@/components/helpers/IconsMenu'



  export default {
    data () {
      return {
        inited: false,
        serverConf: '',
        signalUrl: '',
        showComment: false,
        acknowledged: false,
        selectRecipients: false,
        messageSubject: 'Signal Task - ' + JSON.parse(localStorage.getItem('userProfile')).appointment,
        print: false,

        profile: JSON.parse(localStorage.getItem('userProfile')),


        comments: [
          {
            fromId: '1',
            content: `<p>Comment 1</p>`,
            createdAt: new Date().toString()
          },
          {
            fromId: '2',
            content: `<p>Comment 2</p>`,
            createdAt: new Date().toString()
          },
          {
            fromId: '3',
            content: `<p>Comment 3</p>`,
            createdAt: new Date().toString()
          },
          {
            fromId: '4',
            content: `<p>Comment 4</p>`,
            createdAt: new Date().toString()
          }
        ],
        commentMsg: '',

        recipients: [],
        users: [],
        msgType: '',
        msg: '',

        signalComments: '',

        printStyle: `
          
          ul li {
            background-color: rgb(240,240, 250);
            margin-top: 1%; padding: 2%
          }

          h3 {
            text-align: center
          }
          `,

        menuItems: [],
        currentTab: 2
      }
    },

    methods: {
      async initView() {
        const sigId = this.$route.params.signalId
        this.serverConf = this.$store.getters.serverConfiguration;
        this.signalPath = `${this.serverConf.signalDir}/${sigId}`
        this.signalUrl = `${this.serverConf.signalDir}/${this.$route.params.signalId}`
        const resp = await axios.get(`${config.socketUrl}/signal/comments/${sigId}`)
        this.signalComments = resp.data
        this.users = this.$store.getters.userList
        this.inited = true
      },
      switchTab(t) {
        let prevTab = this.currentTab
        this.currentTab = t
        switch(t) {
          case 1:
            this.commit()
            this.currentTab = prevTab
          break
          case 5:
            this.currentTab = 3
            this.printSignal()
            break
          case 6:
            this.sendPrintTask()
            this.currentTab = prevTab
            break
        }
      },
      commit () {
        const sigId = this.$route.params.signalId
        const sigType = this.$route.params.type
        const userId = JSON.parse(localStorage.getItem('userProfile')).id
        axios.post(`${config.socketUrl}/signal/commit`, {
          user_id: userId,
          file_id: sigId
        }, { withCredentials: false })
          .then((res) => { 
            if (res.data.success){
              this.$store.commit('decrementUnread', { type: sigType, amount: 1 })
              this.$store.commit('commitSignal', {id: sigId, type: sigType})

              // temporarily store the signal agains page referesh
              const s = JSON.parse(localStorage.getItem('tmpInbox'))
              s.commited = 1
              localStorage.setItem('tmpInbox', JSON.stringify(s))

              // this.$store.dispatch('getInboxMessages', userId)
              this.acknowledged = true
              this.showSuccess('Signal Acknowledged Successfully!!!')
            }
            else this.alertFailure('Unable to Acknowledge signal')
          })
      },

      colorText (color, text, label='') {
        console.log('label:', label)
        return `<span style='color: ${color}'>${label}${text}</span>`
      },

      comment () {
        this.showComment = !this.showComment
        this.selectRecipients = false
      },

      saveCommentMsg (event) {
        const userId = JSON.parse(localStorage.getItem('userProfile')).id
        const sigId = this.$route.params.signalId

        this.commentMsg = event
        axios.post(`${config.socketUrl}/signal/comment`, {
          user_id: userId,
          content: this.commentMsg,
          signal_id: sigId
        }, { withCredentials: false })
        .then(async (res) => {
          if(res.data.success) {
            this.alertSuccess('Comment Saved successfully!!!')
            const resp = await axios.get(`${config.socketUrl}/signal/comments/${sigId}`)
            this.signalComments = resp.data
          } else {
            this.alertFailure('Unable to save comment!!!')
          }
        })
      },

      assignTask () {
        // this.selectRecipients = true
        const sigId = this.$route.params.signalId
        const sigType = this.$route.params.type
        const userId = JSON.parse(localStorage.getItem('userProfile')).id

        axios.post(`${config.socketUrl}/signal/task`, {
          sender_email: JSON.parse(localStorage.getItem('userProfile')).email,
          file_id: sigId,
          title: this.messageSubject,
          content: this.msg,
          subject: this.messageSubject,
          recipients: this.recipients,
          type: sigType
        }, { withCredentials: false })
        .then((res) => {
          console.log('task resp:', res, `${config.socketUrl}/signal/task`, userId, sigId)

          if (res.data.success) {
            this.alertSuccess('Task Assigned successfully!!!')
          } else {
            this.alertFailure("Unable to send Request")
          }
        })
      },

      selectRecievers () {
        this.selectRecipients = true
        this.showComment = false
      },


      setRecipients (event) {console.log('recipients set', event)
        this.recipients = event
        this.switchTab(3)
      },

      setSendType(event) {
        this.msgType = event
      },

      setMessage(event) {
        this.msg = event
      },

      printSignal () {
        this.print = true

        if (!this.selectRecipients) {
          printJs({
            printable: 'doc-container',
            type: 'html',
            style: this.printStyle
          })
          this.print = false
        } else {
          this.print = false
        }

        const userId = JSON.parse(localStorage.getItem('userProfile')).id
        const sigId = this.$route.params.signalId
        axios.post(`${config.socketUrl}/signal/commit`, {
          user_id: userId,
          file_id: sigId
        }, { withCredentials: false })
      },

      endPrint(event) {
        this.print = false
        this.$emit('printed')
      },

      sendPrintTask () {
        let vm = this
        const sigId = this.$route.params.signalId
        const sigType = this.$route.params.type
        let sendType;

        switch(sigType) {
          case 'incomming':
           sendType = 2
          break

          case 'outgoing':
           sendType = 3
          break

          case 'ng':
           sendType = 4
          break

          case 'nhq':
           sendType = 5
          break
        }

        let recipient
        for(let user of this.users) {
          if(user.appointment === 'MSO') {
            recipient = user
            break;
          }
        }

        this.showQueue({
            progressSteps: [''],
            queue: [{
              title: 'Description',
              text: 'Enter a brief description for the print task'
            }]
          }, (result) => {
              console.log('queue result:', result)
              this.socketSend({
                type: 'print-task',
                recipient,
                content: {
                  title: `Print Task - ${this.profile.appointment}`,
                  fileId: sigId,
                  sender_email: this.profile.email,
                  text: result.value[0],
                  type: sendType
                }
              })
              this.alertSuccess('Message Sent Successfully2')
            })
      },

      async nextMail(prev) {
        let signalType;
        switch(this.$route.params.type) {
          case 'incomming':
            signalType = 'incoming'
          break;

          case 'outgoing':
            signalType = 'outgoing'
          break

          case 'ng':
            signalType = 'ng'
          break

          case 'nhq':
            signalType = 'nhq'
          break
        }
        const m = await this.$store.getters.fetchNextMail(signalType, prev)
        console.log('nextMail:',m)
        if(m) {
          if(Number(m.commited))
            this.acknowledged = true
          else this.acknowledged = false
          this.$router.push(`/dashboard/signal/${this.$route.params.type}/${m.file_id}`)
          const resp = await axios.get(`${config.socketUrl}/signal/comments/${m.file_id}`)
          this.signalPath = `${this.serverConf.signalDir}/${m.file_id}`
          this.signalComments = resp.data
        } else {
          this.showError('End of Mail')
        }
      },

      formatDate (dateString) {
        let d = new Date(dateString).toDateString()
        const dateStr = d.split(' ')
        const day = dateStr[2]
        const month = dateStr[1]
        const year = dateStr[3]
        const y = `${year[2]}` + `${year[3]}`
        return `${day} ${month} ${y}`    
      }
    },
    

    computed: {
      committed () {
        const type = this.$route.params.type
        const id = this.$route.params.signalId        
        const signals = this.$store.getters.signals(type)
        if(signals.length) {
          for (let signal of signals) {
            if (Number(signal.file_id) === Number(id) && Number(signal.commited)) {
              console.log('computing signals:', signal.file_id, id)
              this.acknowledged = false
              return true
            }
          }
        } else {
          // fetch temporary inbox signal
          const s = JSON.parse(localStorage.getItem('tmpInbox'))
          if (Number(s.commited)) {
            this.acknowledged = false
            return true
          }
        }
        return false
      },

      sequenceOn () {
        switch(this.$route.params.type) {
          case 'incomming':
            return this.$store.getters.sequenceIsOn('incoming')
          case 'outgoing':
            return this.$store.getters.sequenceIsOn('outgoing')
          case 'ng':
            return this.$store.getters.sequenceIsOn('ng')
          case 'nhq':
            return this.$store.getters.sequenceIsOn('nhq')
        }
      },

      fileSrc () {
        console.log("SIGNAL DIR:", `${this.serverConf.signalDir}`)
        return `${this.serverConf.signalDir}/${this.$route.params.signalId}`
      },

      signalPath: {
        set (newV) {
          this.signalUrl = newV
          this.menuItems = [
            !this.committed && !this.acknowledged ?
            {
              image: `${config.rootDir}/static/img/menuIcons/like.png`,
              tab: 1,
              text: 'Acknowledge'
            } : null,
            {
              image: `${config.rootDir}/static/img/menuIcons/checklist.png`,
              tab: 2,
              text: 'Signal'
            },

            {
              image: `${config.rootDir}/static/img/menuIcons/comments.png`,
              tab: 3,
              text: 'Comments'
            },


            {
              image: `${config.rootDir}/static/img/menuIcons/teamwork.png`,
              tab: 4,
              text: 'Send To'
            },
            

            this.profile.appointment === "MSO" ?
            {
              image: `${config.rootDir}/static/img/menuIcons/printer.png`,
              tab: 5,
              text: 'Print'
            } :
            {
              image: `${config.rootDir}/static/img/menuIcons/printer2.png`,
              tab: 6,
              text: 'Send For Printing'
            }
          ]
        },

        get() {
          return this.signalUrl
        }
      }
    },

    async mounted () {
      this.$root.$on('app_header_init', async () => {
        await this.initView()
      })
      if (!this.inited) await this.initView()
    },

    watch: {
      print () {
        if (this.print) this.printSignal()
      },

      signalUrl(newV, oldV) {
        console.log('signalUrl:',this.signalUrl, oldV, newV)
      }
    },


    updated () {
      const sigId = this.$route.params.signalId
      this.signalUrl = `${this.serverConf.signalDir}/${sigId}`
    },

    components: {
      Pdf,
      Editor,
      UserList,
      MobileMenu,
      IconsMenu
    },

    mixins: [notification, socketMixin]
  }
</script>

<style scoped>
  .btn {
    width: 100%;
  }

</style>