<template>
  <div class='main-wrapper'>
    <Header :pagePath = 'this.$route.path'/>
    <Sidebar/>

      <div class = 'content-body' v-if='this.$route.path === "/admin/" || this.$route.path === "/admin"'>
        <div class='container-fluid fixed-content' style='margin-top: 10px'>
          <MobileMenu />
          <GridMenu menuTitle = 'Admin Menu' :links = 'menuItems'/>
        </div>
      </div>
    <router-view></router-view>

    <Footer/>
  </div>
</template>


<script>
  import Header from '@/components/helpers/Header'
  import Sidebar from '@/components/helpers/Sidebar'
  import Footer from '@/components/helpers/Footer'
  import GridMenu from '@/components/helpers/GridMenu'
  import MobileMenu from '@/components/helpers/MobileMenu'

  import config from '../../config'
  import socketMixin from '../../mixins/socket'


  export default {
    data () {
      return {
        // Menu data
        menuItems: [
          {
            image: `${config.rootDir}/static/img/memo1.png`,
            href: '/admin/user/inbox',
            text: 'Manage User Inbox'
          },

          {
            image: `${config.rootDir}/static/img/memo3.png`,
            href: '/admin/user/profile',
            text: 'Edit User Profile'
          },

          {
            image: `${config.rootDir}/static/img/memo3.png`,
            href: '/admin/notification',
            text: 'Publish Notification'
          }
        ],
      }
    },

    mounted () {
      let profile = JSON.parse(localStorage.getItem('userProfile'))
      if (profile && !profile.appointment.toUpperCase().includes("ADMIN")) {
        this.$router.push('/dashboard')
        return
      }

      let that = this
      let socket = this.socketConnect()
      socket.on('message', (msg) => {
        try {
          let message = msg
          switch(message.type) {
            case 'mail-sent':
              this.showSuccess('Message sent successfully')
              break
            case 'inbox':
              this.$store.commit('newMessage', message.content)
              this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
              this.showSuccess('New Message recieved!!!')
              break

            case 'update-inbox':
              this.$store.commit('decrementUnread', { type: 'inbox', amount: message.n })
            break

            case 'fetch-inbox-count':
              this.$root.$emit('count-inbox')
            break

            case 'notify':
              this.$root.$emit('show-notification', message.content)
            break

            case 'scheduled-notifications':
              this.$root.$emit('scheduled-notifications', message.list)
              break
          }
        } catch(err) {
          console.log(err.message)
        }
      })

      socket.on('connect_error', () => {
        console.log('UNABLE TO CONNECT TO SERVER!!!')
        that.$root.$emit('server_disconnected')
      })

      socket.on('disconnect', () => {
        console.log('SERVER DISCONNECTED!!!')
        that.$root.$emit('server_disconnected')
      })

      socket.on('reconnect', () => {
        console.log('SOCKET RECONNECTED!!!')
        that.$root.$emit('server_reconnected')
        this.fetchData()
      })

      this.fetchData()
    },

    components: {
      Header,
      Sidebar,
      Footer,
      GridMenu,
      MobileMenu
    },
    mixins: [socketMixin]
  }
</script>

<style scoped>
.content-body {
    width: 82%;
    position:absolute !important;
    top: 80px !important;
    left: 18%;
  }
</style>