<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <mobile-menu />
      <div class='row' style='margin-top: 10px'>
        <div class='col-lg-12'>
          <div class='card fixed-content'>
            <div class='card-header'>
              <h4 class='card-title' style='text-align: center'>NOTIFICATION MANAGER</h4>
            </div>
            <div clas='card-body'>
              <div class='row'>
                <div class='col-lg-3'>
                  <h4 style='text-align: center'>Scheduled Notifications</h4>
                  <!-- <ol>
                    <li v-for='(n, i) of scheduledNotifications' :key = 'i'>
                      {{n.type}} - <span class='d10'>X</span>
                    </li>
                  </ol> -->
                </div>
                <div class='col-lg-3'>
                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Notification Type</label>
                    <select class="form-control" id="sel1" v-model = 'noteData.type' @change='changeBtn($event)'>
                      <option value='' selected='selected'>Select</option>
                      <option value='1'>Shutdown server</option>
                      <option value='2'>Reboot server</option>
                      <option value='3'>General Information</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Begins:</label>
                    <select class="form-control" id="sel1" v-model = 'noteData.beginTime' @change='changeTimeText($event)'>
                      <option value='' selected='selected'>Select time</option>
                      <option value='0'>Now</option>
                      <option value='5'>5 minutes time</option>
                      <option value='15'>15 minutes time</option>
                      <option value='30'>30 minutes time</option>
                      <option value='60'>60 minutes time</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Duration</label>
                    <select class="form-control" id="sel1" v-model = 'noteData.duration'>
                      <option value='' selected='selected'>Select</option>
                      <option value='5'>5 minutes</option>
                      <option value='10'>10 minutes</option>
                      <option value='15'>15 minutes</option>
                      <option value='20'>20 minutes</option>
                      <option value='30'>30 minutes</option>
                      <option value='60'>60 minutes</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Interval (in seconds)</label>
                    <input type='number' class='form-control' placeholder = 'interval (in seconds)' v-model = 'noteData.interval'/>
                  </div>
                  <div class="form-group">
                    <label style='margin-right: 20px'><i class="fa fa-book"></i>Enabel Sound</label>
                    <input type='checkbox' v-model = 'noteData.alert'/>
                  </div>
                </div>

                <div class='col-lg-5'>
                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Notification Message</label>
                    <textarea style = 'height: 300px' type='number' placeholder = 'Notification Message' class='form-control' v-model = 'noteData.message'></textarea>
                    <br/>
                    <button class="btn login-form__btn submit w-100" v-on:click.prevent='submitData'>{{btnText}} {{btnTime}}</button>
                  </div>
                </div>
                <div class='col-lg-1'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  import notification from '../../mixins/notification'
  import socketMixin from '../../mixins/socket'
  import MobileMenu from '@/components/helpers/MobileMenu'

  export default {
    data () {
      return {
        btnText: 'Publish',
        btnTime: '',
        noteData: {
          type: '',
          beginTime: '',
          duration: '',
          interval: 20,
          message: '',
          alert: ''
        },
        scheduledNotifications: []
      }
    },

    methods: {
      changeBtn (e) {
        if (e.target.value === '1') this.btnText = 'Shutdown Server'
        else if(e.target.value === '2') this.btnText = 'Reboot Server'
        else if(e.target.value === '3') this.btnText = 'Publish General Info'
      },
      changeTimeText (e) {
        if (e.target.value === '0') this.btnTime = 'Now'
        else if(e.target.value === '5') this.btnTime = 'in 5 minutes time'
        else if(e.target.value === '15') this.btnTime = '15 minutes from now'
        else if(e.target.value === '30') this.btnTime = '30 minutes time'
        else if(e.target.value === '60') this.btnTime = 'an hour from now'
      },
      submitData() {
        axios.post(`${config.socketUrl}/admin/notification`, this.noteData)
          .then((res) => {
            if(res.data.success) {
              this.alertSuccess('Notification Published')
            } else {
              this.alertFailure('Failed to publish notification!!!')
               console.log('NoteficationResp:', res.data)
            }
          })
      }
    },

    mounted () {
      let that = this
      this.$root.$on('app_init', () => {
          that.socketSend({
          type: 'scheduled-notifications'
        })
      })

      this.$root.$on('scheduled-notifications', (list) => {
        that.scheduledNotifications = list
        console.log('scheduledNotifications', list)
      })
    },

    components: {
      MobileMenu
    },
    mixins: [notification, socketMixin]
  }
</script>

<style scoped></style>