<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <mobile-menu />
      <div class='row' style='margin-top: 10px'>
        <div class='col-lg-12'>
          <div class='card fixed-content'>
            <div class='card-header'>
              <h4 class='card-title'>User Profile Manager</h4>
            </div>
            <div clas='card-body'>
              <div class='row'>
                <div class='col-lg-3'>
                  <img :src = 'profilePicSrc' alt = 'Profile Picture' style='width: 100px; height: 100px; margin-left: 2%;'>
                  <form :action = 'profileUploadUrl' v-if = 'userSelected' @submit.prevent = 'uploadProfile' id="uploadForm1" enctype="multipart/form-data">
                    <div class="form-group text-right" style='margin-left: auto; margin-right: auto; width: 90%'>
                      <input type='file' accept = 'images/*' class='form-control' id='fileInput1' name='file'/>
                      <input type = 'submit' class='btn btn-primary' value = 'Change'/>
                    </div>
                  </form>
                </div>
                <div class='col-lg-6'>
                  <div class="form-group">
                    <label><i class="fa fa-book"></i>User Email</label>
                    <select class="form-control" id="sel1" v-model = 'userId'>
                      <option value='' selected='selected'>Select User</option>
                      <option v-for = '(u, index) in users' :key = 'index' :value = 'u.id'>{{u.email}}</option>
                    </select>
                  </div>
                </div>

                <div class='col-lg-3'>
                  <img :src = 'signSrc' alt = 'signature' style='width: 100px; height: 100px; margin-left: 2%;'>
                  <form :action = 'signatureUploadUrl' v-if = 'userSelected' @submit.prevent = 'uploadSignature' id="uploadForm2" enctype="multipart/form-data">
                    <div class="form-group text-right" style='margin-left: auto; margin-right: auto; width: 90%'>
                      <input type='file' accept = 'images/jpeg' class='form-control' id='fileInput2' name='file'/>
                      <input type = 'submit' class='btn btn-primary' value = 'Change'/>
                    </div>
                  </form>
                </div>
              </div>

              <div class="row" style="margin-top: 15px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-row">
                                      <marquee>To Edit User profile, Select the User Email from the dropdown above</marquee>
                                        <div class="form-group col-md-6">
                                            <label><i class="fa fa-user"></i> First Name</label>
                                            <input v-model = 'profile.firstname' type="text" class="form-control" placeholder="First name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><i class="fa fa-user"></i> Middle Name</label>
                                            <input v-model = 'profile.middlename' type="text" class="form-control" placeholder="Middle name">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label><i class="fa fa-user"></i> Surname</label>
                                            <input v-model = 'profile.surname' type="text" class="form-control" placeholder="Surname">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><i class="icon-badge"></i> Initial</label>
                                            <input v-model = 'profile.initial' type="text" class="form-control" placeholder="Enter Initial">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label><i class="fa fa-envelope"></i> Email</label>
                                            <input v-model = 'profile.email' type="email" class="form-control" placeholder="Enter Email" readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><i class="fa fa-key"></i> Password</label>
                                            <input v-model = 'profile.password' type="password" class="form-control" placeholder="Enter Password">
                                        </div>
                                    </div>
                                    <button type="submit" v-on:click.prevent = 'updateProfile()' class="btn btn-primary">Save Profile</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  import notification from '../../mixins/notification'
  import MobileMenu from '@/components/helpers/MobileMenu'


  export default {
    data () {
      return {
        inited: false,
        profile: {},
        userId: '',
        userSelected: false,
        users: [],
        profileUploadUrl: `${config.socketUrl}/user/update/picture`,
        signatureUploadUrl: `${config.socketUrl}/user/update/signature`,

        profileSrc: '',
        signatureSrc: '',
      }
    },

    methods: {
      init () {
        // this.users = (await axios.get(`${config.socketUrl}/users`)).data.data
        this.profileSrc = `${config.rootDir}/static/img/user2.jpeg`
          this.users = this.$store.getters.userList
          if (this.users.length) {
            this.inited = true
          }
        },
      uploadProfile (e) {
        this.uploading = true
        let f = new FormData()
        if (document.getElementById('fileInput1').files.length < 1) 
          return this.alertFailure(`Error - Please choose file!!!`)

        f.append('userId', this.profile.id)
        f.append('file', document.getElementById('fileInput1').files[0]);

        // f.append('file', this.uploadData.file)

        e.preventDefault()
        axios.post(this.profileUploadUrl, f, { withCredentials: false })
          .then((response) => {
            console.log('submit respP', response)
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      uploadSignature (e) {
        this.uploading = true
        let f = new FormData()

        if (document.getElementById('fileInput2').files.length < 1) 
          return this.alertFailure(`Error - Please choose file!!!`)
        
        f.append('userId', this.profile.id)
        f.append('file', document.getElementById('fileInput2').files[0]);

        // f.append('file', this.uploadData.file)
        e.preventDefault()
        axios.post(this.signatureUploadUrl, f, { withCredentials: false })
          .then((response) => {
            console.log('submit respP', response)
            if (response.data.success) {
              this.alertSuccess('File Uploaded Successfully')
              this.uploadedFileId = response.data.data.fileId
            }
            else if(response.data.data) this.alertFailure(`Error!! - ${response.data.data}`)
            else this.alertFailure(`Error - could not upload file to server!!!`)
            this.uploading = false
          })
      },

      updateProfile () {
        axios.post(`${config.socketUrl}/user/update/profile`, this.profile)
          .then((response) => {
            console.log('update Profile:', this.profile, response)

            if(response && response.data.success) {
              this.alertSuccess('Profile Updated successfully!!!')
            } else {
              this.alertFailure('Error: Unable to update profile!!!')
              console.log('update Profile:', this.profile, response)
            }
          }).catch((err) => {
            console.log(err.message)
          })
      }
    },

    computed: {
      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      signSrc: {
        get: function () {
          return this.signatureSrc
        },

        set: function (newValue) {
          this.signatureSrc = newValue
        }
      },

      profilePicSrc: {
        get: function () {
          return this.profileSrc
        },
        set (newValue) {
          this.profileSrc = newValue
        }
      }
    },

    watch: {
     async userId (newE, oldE) {
        if(newE) {
          const servInf = this.serverInf
          const { data } = await axios.get(`${config.socketUrl}/users/${this.userId}`)
          const resp = await axios.post(`${config.socketUrl}/file/exists`, { fileType: 'profilePicture', fileName: this.userId })

          if (resp.data.success) {
            this.profilePicSrc = `${servInf.profilePictureDir}/${this.userId}`
          } else {
            this.profilePicSrc = `${config.rootDir}/static/img/user2.jpeg`
          }
          
          if (data.data.id) {
            this.signatureSrc = `${servInf.signatureDir}/${data.data.signature}`
          }

          this.profile = data.data
          this.profile.password = ''
          this.profile.user_id = this.profile.id
          this.userSelected = true

        } else {
          this.userSelected = false
          this.profile = {}
          this.profilePicSrc = `${config.rootDir}/static/img/user2.jpeg`
        }
      }
    },

    async mounted () {
      this.$root.$on('app_header_init', () => {
          this.init()
      })
      this.init()
    },

    mixins: [notification],
    components: {
      MobileMenu
    }

  }
</script>

<style scoped></style>