<template>
  <div class='content-body'>
    <div class='container-fluid'>
      <mobile-menu />
      <div class='row' style='margin-top: 10px'>
        <div class='col-lg-12'>
          <div class='card fixed-content'>
            <div class='card-header'>
              <h4 class='card-title'>User Inbox Manager</h4>
            </div>
            <div clas='card-body'>
              <div class='row'>
                <div class='col-lg-1'></div>
                <div class='col-lg-5'>
                  <div class="form-group">
                    <label><i class="fa fa-book"></i>User Email</label>
                    <select class="form-control" id="sel1" v-model = 'inboxData.userId'>
                      <option value='' selected='selected'>Select User</option>
                      <option v-for = '(u, index) in users' :key = 'index' :value = 'u.id'>{{u.email}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Inbox Action</label>
                    <select class="form-control" id="sel1" v-model = 'inboxData.action' @change='changeBtn($event)'>
                      <option value='' selected='selected'>Select Action</option>
                      <option value = '1'>Clear Inbox</option>
                      <option value = '2'>Empty Recycle Bin</option>
                      <option value = '3'>Restore Deleted Messages</option>
                    </select>
                  </div>
                </div>

                <div class='col-lg-5'>
                  <div class="form-group">
                    <label><i class="fa fa-book"></i>Inbox Type</label>
                    <select class="form-control" id="sel1" v-model = 'inboxData.type'>
                      <option value='' selected='selected'>Select Inbox Type</option>
                      <option value = '1'>Regular</option>
                      <option value = '2'>Incoming Signals</option>
                      <option value = '3'>Outgoing Signals</option>
                      <option value = '4'>NG Signals</option>
                      <option value = '5'>NHQ Signals</option>
                      <option value = '6'>All Signals</option>
                      <option value = '7'>All Inbox</option>
                    </select><br/>
                    <button class="btn login-form__btn submit w-100" v-on:click.prevent='submitData'>{{btnText}}</button>
                  </div>
              </div>
              <div class='col-lg-1'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  import notification from '../../mixins/notification'
  import MobileMenu from '@/components/helpers/MobileMenu'



  export default {
    data () {
      return {
        inited: false,
        inboxData: {
          userId: '',
          type: '',
          action: ''
        },

        users: [],

        btnText: 'Submit Data'
      }
    },

    computed: {
      users () {
        return this.users
      }
    },

    methods: {
      init () {
          this.users = this.$store.getters.userList
          if (this.users.length) {
            this.inited = true
          }
        },
      changeBtn (e) {
        if (e.target.value === '1') this.btnText = 'Clear Inbox'
        else if(e.target.value === '2') this.btnText = 'Empty Recycle bin'
        else if(e.target.value === '3') this.btnText = 'Restore Deleted Messages'
      },

      submitData() {
        axios.post(`${config.socketUrl}/admin/uinbox`, this.inboxData)
          .then((res) => {
            if(res.data.success) {
              this.alertSuccess('User inbox Cleared!!!')
            } else {
              this.alertFailure('Unable to clear user inbox!!!')
               console.log('ClearINboxResp:', res.data)
            }
          })
      }
    },

    components: {

    },

    mixins: [notification],
    components: {
      MobileMenu
    },

    async mounted () {
      this.$root.$on('app_header_init', () => {
          this.init()
        })
        this.init()
      // this.users = (await axios.get(`${config.socketUrl}/users`)).data.data

    }
  }
</script>

<style scoped></style>