<template>
    <div class=' bg'>
       <div class='container-fluid'>
            <div class='row' v-if ='chatInited'>
                <div class='col-lg-4'>
                    <recent-chats :chats = 'recentChats' v-on:switch-chat = 'setCurrentChat'/>
                    <!-- <chat-button v-on:message='sendMessage($event)'/> -->
                    <!-- <group-button v-on:new-group = 'createGroup($event)'/> -->
                </div>
                <div class='col-12 col-lg-8 bg2'>
                   <chat-feed :currentChat = 'currentChat' v-on:edit-group='editGroup($event)'/>
                   <div class='row'>
                       <div class='col-11 col-lg-11'>
                            <chat-button v-on:message='sendMessage($event)' v-if='currentChat' :currentChat ='currentChat'/>
                       </div>
                       <div class='col-1 col-lg-1'>
                            <group-button v-on:new-group = 'createGroup($event)' v-on:group-edited='editGroup($event)'/>
                       </div>
                   </div>
                </div>  
            </div>

            <div class='row' v-if ='!currentChat'>
                <div class='col-lg-12'>
                <h4>No Chat Selected</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import Message from '@/components/chat/Message'
    import RecentChats from '@/components/chat/RecentChats'
    import ChatButton from '@/components/chat/ChatButton'
    import GroupButton from '@/components/chat/GroupButton'
    import ChatFeed from '@/components/chat/ChatFeed'
    import ChatWidget from '@/components/chat/ChatWidget'
    import config from '@/config'
    import commonMixin from '@/mixins/common'

    export default {
        data () {
            return {
                isMe: false,
                messageText: '',
                currentChat: '',
                recentChats: '',
                chatInited: false
            }
        },
        methods: {
            initChat () {
                this.recentChats = this.$store.getters.getRecentChats
                this.currentChat = this.$store.getters.currentChat //this.recentChats['CC']
                console.log('currentChats:', this.recentChats, this.currentChat)
                if (this.recentChats.length) {
                    console.log('chat inited')
                    this.chatInited = true
                }
            },
            sendMessage (message) {
                this.recentChats[
                    this.currentChat.userData.type === 'group' ? this.currentChat.userData.id : 
                    this.currentChat.userData.appointment].messages.push({
                        avatar: `${config.rootDir}/static/img/user2.jpeg`,
                        text: message,
                        time: this.formatChatDate(new Date()),
                        isMe: this.isMe
                    })
                this.isMe = !this.isMe
                this.messageText = ''
            },

            setCurrentChat (chat) {
                console.log('new current chat:', chat)
                this.currentChat = chat
            },
            createGroup (group) {
                let g = {
                    userData: {
                    type: 'group',
                    avatar: group.avatar,
                    // appointment: group.name,
                    id: `group-${new Date().getMilliseconds()}`,
                    name: group.name,
                    time: group.date
                    },
                    members: group.members,
                    messages: []
                }
                this.$store.commit('addGroup', g)
                this.setCurrentChat(g)
                // this.currentChat = g
            },
            editGroup (data) {
                if(!data) {
                    this.$root.$emit("edit-group", this.currentChat)
                } else {
                    data.id = this.currentChat.userData.id
                    this.$store.commit('editGroup', data)
                }
            }
        },
        mounted() {
            this.$root.$on('app_header_init', ()=> {
                this.initChat()
            })
            this.initChat()
        },

        components: {
            RecentChats,
            ChatButton,
            GroupButton,
            ChatFeed
        },
        mixins: [commonMixin]
    }
</script>

<style scoped>
.bg {

  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  position: absolute;
  top: 82px;
  left: 18%;
  width: 81.5%;
  padding: 10px;
  height: 680px;
  /* padding-right: 20px; */
}

.bg2 {
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 0
}
/* chat box */
/* {box-sizing: border-box;} */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(18, 21, 228);
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  border-radius: 50px;
  font-weight: bold;
}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;
}

div::-webkit-scrollbar {
  background-color: rgba(0, 0, 253, 0);
}

div::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
}

@media only screen and (max-height: 768px) {
    .bg {
        height: 580px;
        /* background: rgba(3, 3, 240, 0.973); */
        top: 82px;
        left: 18%;
    }
}
</style>