<template>
  <div class='wrapper'>
    <div v-if = '!message.isMe' class="container me">
      <img :src='message.avatar' alt="Avatar">
      <span>Username here</span>
      <p>{{message.text}}</p>
      <span class="time-right">{{message.time}}</span>
    </div>

    <div v-if = 'message.isMe' class="container other">
      <img :src='message.avatar' alt="Avatar" class="right">
      <p>{{message.text}}</p>
      <span class="time-left">{{message.time}}</span>
    </div>
  </div>
</template>

<script>

    export default {
        data () {
            return {
            }
        },
        props: [
          'message'
        ],
        methods: {
            
        },
        mounted() {

        }
    }
</script>

<style scoped>
  /* Chat containers */
.container {
  /* border: 2px solid #dedede; */
  /* background-color: #f1f1f1; */
    background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container p {
  border: none;
  border-radius: 50px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  margin: 5px;
}

.me p {
  background-color: #82ccdd;;
  margin-right: 50px;
}

.other p {
  background-color: #78e08f;;
  margin-left: 50px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  /* background-color: #ddd; */
    background-color: transparent;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 40px;
  /* width: 100%; */
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: rgba(255,255,255, 0.6);
  font-size: 10px;
}

/* Style time text */
.time-left {
  float: left;
  color: rgba(255,255,255, 0.6);
  font-size: 10px;
}
</style>