<template>
  <div class='row'>
    <div class='col-lg-12'>
      <div class="card">
        <div class='card-body'>
          <!--<editor v-model = 'comment'></editor> -->
          <tinymce id="editor" v-model="comment" v-on:editorInit = 'tmInit($event)' ref='tm' :other_options = 'options'></tinymce>
          <button class='btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20' v-on:click = 'save'> Save </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import tinymce from 'vue-tinymce-editor'
  
  export default {
    props: ['options', 'initContent'],
    data () {
      return {
        comment: ''
      }
    },

    methods: {
      save: function (event) {
        this.$emit("save",  this.comment)
      },

      tmInit (event) {
        console.log('editor inited', event)
        this.$refs.tm.editor.setContent(this.initContent)
        this.comment = this.initContent

        // set height and width if specified
        if (this.options && this.options.height) {
          if(this.$refs.tm.editor.DOM)
            this.$refs.tm.editor.DOM.setStyle(this.$refs.tm.editor.DOM.get("elm1" + '_ifr'), 'height', this.options.height + 'px');
        }
        if (this.options && this.options.width) {
          if (this.$refs.tm.editor.DOM)
            this.$refs.tm.editor.DOM.setStyle(this.$refs.tm.editor.DOM.get("elm1" + '_ifr'), 'width', this.options.width + 'px');      
        }
      }
      
    },

    mounted () {
      // console.log('tm Options:', this.options, this.initContent)
      // this.$refs.tm.editor.setContent(this.initContent)
      //document.getElementById('editor').html = this.initContent
  },

    mixins: [],
    components: {
      tinymce
    }
  }
</script>


<style scoped>
.editorstyle {
  height: 150px;
  width: 100%;
  background-color: rgba(99, 99, 17, 0.521);
  margin-bottom: 10%
}

#editor {
 height: 400px;
}
</style>