<template>
  <div class="file-manager-area mg-tb-15">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 col-xs-12">
              <div class="hpanel responsive-mg-b-30">
                  <div class="panel-body">
                      <div class="dropdown custonfile">
                          <router-link class="dropdown-toggle btn btn-primary btn-block" to="/dashboard/newvolume" data-toggle="dropdown">NEW VOLUME</router-link>
                          <ul class="dropdown-menu filedropdown m-l">
                              <li><a href="#"><i class="fa fa-folder-o"></i> Folder</a></li>
                              <li><a href="#"><i class="fa fa-file"></i> File</a></li>
                              <li><a href="#"><i class="fa fa-file-excel-o"></i> Sheet</a></li>
                          </ul>
                      </div>
                      <ul class="h-list m-t">
                          <li class="active"><router-link to="/dashboard/createfile"><i class="fa fa-folder"></i>Create File</router-link></li>
                          <li><router-link to="/dashboard/inbox"><i class="fa fa-user text-info"></i>Inbox</router-link></li>
                          <li><router-link to="/dashboard/"><i class="fa fa-clock-o text-success"></i> Recent</router-link></li>
                          <li><router-link to="/dashboard/"><i class="fa fa-star text-warning"></i> Starred</router-link></li>
                          <li><router-link to="/dashboard/"><i class="fa fa-trash text-danger"></i> Trash</router-link></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-9 col-xs-12">
              
              <!-- You can put other contents in here -->


          </div>
      </div>
    </div>
  </div>
</template>