<template>
   <div class='row' id = 'doc-container'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <img :src = 'fileSrc' 
              id = 'preview-img'
              v-if = 'file.type === "image" && !stamp'
              style = 'width: 100%; height: 100%; margin-left: auto; margin-right: auto'
            />
            <Pdf 
              :src = 'fileSrc'
              width = '100%'
              height = '600px'
              v-else-if = 'file.type === "pdf" && !stamp && fileSrc'
              :print = 'print'
              v-on:printed = 'endPrint()'
            />

            <audio v-else-if = 'file.type === "audio" && !stamp && fileSrc' id ='sound' :src = 'fileSrc' controls>
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
            </audio>
            <video v-else-if = 'file.type === "video" && !stamp && fileSrc' :src = 'fileSrc' id ='vision' controls>
                <p>Your browser doesn't support HTML5 video. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
            </video>

            <Memo
              :memoData = 'file'
              v-else-if = 'file.type === "html" && !stamp'
              :print = 'print'
              v-on:printed = 'endPrint()'
            />
            <!--<Intensify :image = 'filee.path' v-if = '!showStamp'> -->
            <Stamp 
              :fileId = 'file.id'
              v-else-if = 'stamp'
              :print = 'print'
              v-on:printed = 'endPrint()'
            />
          </div>
          <p v-if='!stamp && !print' @click = 'showDetails' class = 'd10' style = 'text-align: center'><strong>{{details ? 'Hide' : 'File'}} details</strong></p>
          <div class='card-body' v-if ='details && !print' v-html = 'fileDetails()'>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import Stamp from './Stamp'
  import Pdf from './Pdf'
  import Memo from './Memo'
  import printJs from 'print-js'
  import config from '../../config'
  import axios from 'axios'

  export default {
    props: ['file', 'stamp', 'category', 'print'],
    data () {
      return {
        printStyles: {
          memoStyle: `
          
          img {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          .hide-print {
            display: none
          }
          `
        },
        pdfSrc: '',

        details: false
      }
    },

    methods: {
      printContent () {
        console.log('printContent', this.prnt)
        // printJs('doc-container', 'html')
        if (this.file.type === "image" && !this.stamp) {
            printJs({
            printable: this.file.path,
            type: 'image',
            style: this.printStyles.memoStyle
          })
          // this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
          this.print = false
          this.$emit('printed') 
        }
      },

      endPrint(event) {
        this.print = false
        this.$emit('printed')
      },

      showDetails () {
        this.details = !this.details
      },

      fileDetails () {
        return `
        <p><strong>Subject:</strong> ${this.file.subject}</p>
        <p><strong>Department:</strong> ${this.file.department.name} (${this.file.department.number})</p>
        <p><strong>Sub-Department:</strong> ${this.file.subdepartment.name} (${this.file.subdepartment.number})</p>
        <p><strong>Year:</strong> ${this.file.volume.year}</p>
        <p><strong>Volume:</strong> ${this.file.volume.name}</p>
        <p><strong>Folio Number:</strong> ${this.file.folio_number}</p>
        `
      },
      setPdfSrc () {
        const f = this.file
        if(this.category === 'outgoing_doc') this.pdfSrc = `${this.serverInf.outgoingDocsDir}/${f.outgoing}`
        else {
          if (this.$route.query.outgoing) {
            this.pdfSrc = `${this.serverInf.outgoingDocsDir}/${f.id}.pdf`
          } else this.pdfSrc = `${this.serverInf.archiveDir}/${f.dept_number.trim()}/${f.subdept_number.trim()}/${f.year}/${f.volume_name}/${f.folio_number}`
        }
      }
    },

    computed: {
      serverInf () {
        let servInf = this.$store.getters.serverConfiguration
        return servInf
      },

      fileSrc: {
        get () {
          return this.pdfSrc
        },
        set (newVal) {
          this.pdfSrc = newValue
        }
      } 
    },

    watch: {
      print () {
        if (this.print) this.printContent()
      },

      serverInf (oldV, newV) {
        if(newV && newV.archiveDir) {
          this.setPdfSrc()
        }
      },

      category (oldCat, newCat) {
        this.setPdfSrc()
      },

      async file (newF, oldF) {
        if (newF && newF.id) {
          if (!this.serverInf.archiveDir) {  // fetch data from server
            const { data } = await axios.get(`${config.socketUrl}/config`)
            this.serverInf = data
          }
          this.setPdfSrc()
        }
      }
    },

    async mounted (){
      if (this.file && this.file.id && this.serverInf.archiveDir) {
        this.setPdfSrc()
      }
    },

    components: {
      Stamp,
      Pdf,
      Memo
    }
  }
</script>

<style scoped>
#preview-img {
    height: 100%;
    width: 85%;
  }
</style>