<template>
  <div class="footer">
      <div class="copyright">
          <p>Copyright &copy;  {{navyName}} {{footerDate}}, Designed & Developed by <a href="www.bigstacktech.com">Big Stack Technologies</a></p>
      </div>
  </div>
</template>

<script>
  import config from '@/config'
  
  export default {
    computed: {
      navyName () {
        return config.navyInfo.name.toProperCase()
      },
      footerDate() {
        return new Date().getFullYear()
      }
    }
  }
</script>

<style scoped>
  .wht {
    color: #fff;
  }

  .footer-copyright-area {
    margin-top: .1%
  }
  .footer {
    position: fixed;
    top: 600px;
  }
</style>