<template>
  <div class='row'>
    <div class='col-lg-1'></div>
    <div class='col-lg-10'>
      <div class='card'>
        <div class='card-header'>
          <h4 class='menuTitle'>{{menuTitle}}</h4>
        </div>
        <div class='card-body'>
          <ul class='menu-list'>
            <li v-for = '(link, i) of links' :key = 'i'>
              <router-link :to = 'link.href'>
                <img :src = 'link.image'>
                <p>{{link.text}}</p>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-lg-1'></div>
  </div>
</template>

<script>
  export default {
    props: ['menuTitle', 'links'],

    data () {
      return {

      }
    }
  }
</script>

<style scoped>
  .menu-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .menu-list li {
    display: inline-block;
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
   /* background-color: green */
  }
      
  .menu-list li img{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list li p {
    text-align: center;
    color: black;
    font-weight: bold
  }

  .menuTitle {
    text-align: center;
    border-style: solid;
    border-color: blue;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
</style>