<template>
  <span class='fms-header-container'>
    <div class="nav-header">
        <div class="brand-logo">
            <router-link to="/dashboard">
                <b class="logo-abbr"><img :src="logoSrc" alt=""> </b>
                <span class="logo-compact"><img :src="logoSrc" alt=""></span>
                <span class="brand-title">
                    <img :src="logoSrc" width="60" height="70" alt="">
                </span>
            </router-link>
        </div>
    </div>
    <div class="header">    
        <div class="header-content clearfix">
            <div class="header-left showbig" v-if = '!notificationOn'>
                <div class="input-group icons">
                    <div class="d-flex flex-row" style='width: 100%'>
                        <input type="search" class="form-control searchbar-style" v-model = 'searchTerm' @keyup = 'autoSearch' :placeholder="searchTitle" aria-label="Search Dashboard">
                        <button type="submit" style = 'width: 8%' class="input-group-text bg-transparent border-2 pr-2 pr-sm-3 d2" id="basic-addon1" value="Submit" @click = 'search'><i class="mdi mdi-magnify"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="header-left" v-if = 'notificationOn'>
                <div class="input-group icons">
                    <div class="d-flex flex-row" style='width: 100%; align: center'>
                        <!-- <marquee>This is the notification of the user who has some stuff to do</marquee> -->
                        <marquee style = 'border: 1px solid #7571f9; height: 45px; width: 92%; padding: .375rem .75rem;' :bgcolor="notificationData.bgcolor" direction="left">
                            <span :style="notificationData.style">{{notificationData.message}}</span>
                        </marquee>
                        <button style = 'width: 8%' class="input-group-text bg-transparent border-2 pr-2 pr-sm-3 d10" @click = 'closeNotification'>
                            <i class="fa fa-window-close"></i>
                        </button>

                    </div>
                </div>
            </div>

            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown" :title = 'unreadDraftMessages'>
                        <a href="javascript:void(0)" data-toggle="dropdown">
                            <img :src="draftIcon" style = 'margin-top: 1%;' width="25" height="25" alt="">
                            <span class="badge gradient-1 badge-pill badge-primary" v-if = 'unreadMessages !== "0"'>{{showCount(unreadDraftMessages)}}</span>
                        </a>
                        <div class="drop-down animated fadeIn dropdown-menu">
                            <div class="dropdown-content-heading justify-content-between">
                                <p>You have <b><span style="color:red">{{unreadDraftMessages}}</span></b> New Draft messages</p><hr>
                                <p><strong><router-link to = '/dashboard/draft/inbox'><img :src="draftIcon" width="25" height="25" alt=""><span style = 'color: #4530f7'> View all Draft messages</span></router-link></strong></p>  
                                
                            </div>
                            <div class="dropdown-content-body">
                                <ul style='padding-left: 2px; padding-right: 2px'>
                                    <li class="notification-unread d10" v-for='(m, i) of recentDraft' :key = 'i' @click = 'showDraftMail(m)'>
                                        <div class="notification-content" style='margin-bottom: 4px'>
                                            <div class="notification-heading"><i class='icon-envelope menu-icon'></i> {{m.sender.email}}</div>
                                            <div class="notification-timestamp">{{(new Date(m.created_at)).toDateString() === (new Date()).toDateString() ? 'Today:': (new Date()).toDateString()}} | {{(new Date(m.created_at)).toTimeString().slice(0,8)}}</div>
                                            <div class="notification-text new-mail-text">{{m.subject}}</div>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown" :title = 'unreadMessages'>
                        <a href="javascript:void(0)" data-toggle="dropdown">
                            <img :src="inboxIcon" style = 'margin-top: 1%;' width="25" height="25" alt="">
                            <span class="badge gradient-1 badge-pill badge-primary" v-if = 'unreadMessages !== "0"'>{{showCount(unreadMessages)}}</span>
                        </a>
                        <div class="drop-down animated fadeIn dropdown-menu">
                            <div class="dropdown-content-heading justify-content-between">
                                <p>You have <b><span style="color:red">{{unreadMessages}}</span></b> New Inbox messages</p><hr>
                                <p><strong><router-link to = '/dashboard'><img :src="inboxIcon" width="25" height="25" alt=""><span style = 'color: #4530f7'> View all Inbox messages</span></router-link></strong></p>  
                                
                            </div>
                            <div class="dropdown-content-body">
                                <ul style='padding-left: 2px; padding-right: 2px'>
                                    <li class="notification-unread d10" v-for='(m, i) of recentInbox' :key = 'i' @click = 'showMail(m)'>
                                        <div class="notification-content" style='margin-bottom: 4px'>
                                            <div class="notification-heading"><i class='icon-envelope menu-icon'></i> {{m.sender_email}}</div>
                                            <div class="notification-timestamp">{{(new Date(m.created_at)).toDateString() === (new Date()).toDateString() ? 'Today:': (new Date()).toDateString()}} | {{(new Date(m.created_at)).toTimeString().slice(0,8)}}</div>
                                            <div class="notification-text new-mail-text">{{m.title}}</div>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown" :title = 'unreadSignals'>
                        <a href="javascript:void(0)" data-toggle="dropdown">
                            <img :src="signalIcon" style = 'margin-top: 1%;' width="25" height="25" alt="">
                            <span class="badge badge-pill gradient-2 badge-primary" v-if='unreadSignals !== "0"'>{{showCount(unreadSignals)}}</span>
                        </a>
                        <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                            <div class="dropdown-content-heading justify-content-between">
                                <p>You have <b><span style="color:red">{{unreadSignals}}</span></b> New Signal messages</p><hr>
                                <p><strong><router-link to = '/dashboard/signals'><img :src="signalIcon" width="30" height="30" alt=""> <span style = 'color: #4530f7'> View all Signal messages</span></router-link></strong></p>  
                            </div>
                            <div class="dropdown-content-body">
                                <ul style='padding-left: 2px; padding-right: 2px'>
                                    <li v-for = '(m, i) of recentSignals' :key = 'i' class = 'd10' @click = 'showMail(m)'>
                                        <div class="notification-content">
                                            <p class="notification-heading new-mail-text"><i class='icon-anchor menu-icon'></i> {{m.title}}</p>
                                            <span class="notification-text">{{(new Date(m.created_at)).toDateString() === (new Date()).toDateString() ? 'Today:': (new Date()).toDateString()}} | {{(new Date(m.created_at)).toTimeString().slice(0,8)}}</span> 
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown">
                        <div v-if ='profile' class="user-img c-pointer position-relative"   data-toggle="dropdown">
                            <span :class="{activity: true,  active: true, serverOn: connectedToServer, serverOff: !connectedToServer}"></span>
                            <span>
                                <strong style="color:#2e6da4"> {{profile.appointment}} </strong>
                                <img :src="profilePic" height="40" width="40" alt="">
                            </span>
                        </div>
                        <!-- <div v-if ='profile && profile.appointment.length > 5' class="user-img c-pointer position-relative"   data-toggle="dropdown">
                            <p><strong style="color:#2e6da4"> {{profile.appointment}} </strong></p>
                            <span>
                                <img :src="profilePic" height="40" width="40" alt="">
                                <span :class="{activity: true, serverOn: connectedToServer, serverOff: !connectedToServer}"></span>
                            </span>
                        </div> -->
                        <div class="drop-down dropdown-profile   dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <router-link to="/dashboard/profile"><i class="icon-user"></i> <span>Profile</span></router-link>
                                    </li>
                                    <hr class="my-2">
                                    <li><span @click = 'logout()' class = 'd10'><i class="icon-key"></i> <span>Logout</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </span>
</template>

<script>
    import config from '../../config'
    import socketMixin from '../../mixins/socket'
    import soundMixin from '../../mixins/sound'
    import axios from 'axios'

  export default {
      props: ['pagePath'],
      data () {
          return {
              profile: false,
              draftIcon: `${config.rootDir}/static/img/memoLogo.png`,
              inboxIcon: `${config.rootDir}/static/img/inbox.png`,
              signalIcon: `${config.rootDir}/static/img/signalInbox.png`,
              userIcon: `${config.rootDir}/static/img/user2.jpeg`,

              searchTitle: 'Search',
              searchTerm: '',

              connectedToServer: true,
              notificationOn: false,
              hideNotification: false,
              notificationData: ''
          }
      },

      methods: {
          logout() {
              localStorage.removeItem('userProfile')
              const socket = this.getSocket()
              if (socket) socket.close() 
              this.$router.push('/login')
          },

          search () {
            // Trigger the button element with a click
            if (this.$route.path === '/dashboard' || this.$route.path.includes('signals')) {
                this.$root.$emit('search_inbox', this.searchTerm)
            }
            else if (this.$route.path.includes('outbox')) {
                this.$root.$emit('search_outbox', this.searchTerm)
            }
            else if (this.$route.path.includes('archive')) {
                this.$root.$emit('search_archive', this.searchTerm)
            }
            else if (this.$route.path.includes('trash')) {
                this.$root.$emit('search_trash', this.searchTerm)
            }
        }, 

        autoSearch(event) {
            if (event.keyCode === 13) {
                this.search()
            }
        },

        showMail (mail) {
            console.log('show RecentMail:', mail)
            switch (Number(mail.type)) {
            case 2:
              this.$router.push(`/dashboard/mail/incomming/${mail.id}`)
              break;
            case 3:
              this.$router.push(`/dashboard/mail/outgoing/${mail.id}`)
              break;
            case 4:
              this.$router.push(`/dashboard/mail/ng/${mail.id}`)
              break;
            case 5:
              this.$router.push(`/dashboard/mail/nhq/${mail.id}`)
              break;
            case 1:
              this.$router.push(`/dashboard/mail/memo/${mail.id}`)
            break;
            default:
              this.$router.push(`/dashboard/mail/regular/${mail.id}`)

          }
        },

        showCount(n) {
            return n < 100 ? n : `${99}+`
        },

        showAppointment(name) {
            if (appointment.length > 5) return true
            else return false
        },

        async showDraftMail (mail) {
            if(!mail.commited) {
                this.$store.commit('markReadInbox', { type: 'draft', messages: [mail.id] })
                await axios.post(`${config.socketUrl}/draft/sequence/commit`, { idList: [mail.id] })
            }
            if (mail.draftType === 'formal') {
                this.$router.push(`/dashboard/file/draft/${mail.draftType}/${mail.fileId}`)
            } else {
                this.$router.push(`/dashboard/file/draft/${mail.draftType}/${mail.draftId}`)
            }
        },

        closeNotification () {
            this.notificationOn = false
            this.hideNotification = true
        }
      },

      computed: {
        logoSrc () {
            return `${config.rootDir}/static/img/${config.navyInfo.logo}`
        },

          unreadMessages () {
              return this.$store.getters.unread
          },

          unreadSignals () {
            //   console.log('header unread signals', this.$store.getters.unreadSignals)
              return this.$store.getters.unreadSignals
          },

          unreadDraftMessages () {
              return this.$store.getters.unreadDraftMessages
          },

          recentSignals () {
            return this.$store.getters.getRecentInboxMessages('signal')
          },

          recentInbox () {
            return this.$store.getters.getRecentInboxMessages('inbox')
          },

          recentDraft () {
            return this.$store.getters.getRecentInboxMessages('draft')
          },

          profilePic: {
              set: function (newValue) {
                  this.userIcon = newValue
              },

              get: function() {
                return this.userIcon
              }
          }
      },

      watch: {
          pagePath (newPath, oldPath) {
            if (this.$route.path === '/dashboard') this.searchTitle = 'Search Inbox - by title or by page number'
            else if (this.$route.path.includes('outbox')) this.searchTitle = 'Search Outbox'
            else if (this.$route.path.includes('archive')) this.searchTitle = 'Search Archive - by subject or folio number'
            else if (this.$route.path.includes('signals')) this.searchTitle = 'Search Signals - by title or by page number'
            else if (this.$route.path.includes('trash')) this.searchTitle = 'Search Recycle Bin - by title or by page number'
            else if (this.$route.path.includes('draft')) this.searchTitle = 'Search Draft - by Title'
            else this.searchTitle = 'Search'
            console.log('SearchPath:', this.$route.path)
          }
      },

      async mounted () {
          if (!JSON.parse(localStorage.getItem('userProfile')))
            this.$router.push('/login')
          let that = this
          this.$root.$on('app_init', async () => {
            that.profile = JSON.parse(localStorage.getItem('userProfile'))
            
            // init user list
            let userList = (await axios.get(`${config.socketUrl}/users`)).data.data
            this.$store.commit('setUserList', userList)
            
            const serverResp = await axios.get(`${config.socketUrl}/config`)
            this.$store.commit('storeServerConfig', serverResp.data)
            if (userList.byId[this.profile.id].profilePic) {
                this.profilePic = `${serverResp.data.profilePictureDir}/${this.profile.id}`
            }

            // get recent messages
            this.$store.dispatch('getRecentInboxMessages', { type: 'signal', userId: that.profile.id })
            this.$store.dispatch('getRecentInboxMessages', { type: 'inbox', userId: that.profile.id })
            this.$store.dispatch('getRecentInboxMessages', { type: 'draft', userId: that.profile.id })
            this.$store.dispatch('getRecentChatMessages', that.profile)

            this.$root.$emit('app_header_init')
          })

          this.$root.$on('count-inbox', () => {
                // count inbox messages
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'incoming' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'outgoing' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'ng' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'nhq' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'signals' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'regular' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'trash' })
                this.$store.dispatch('countInbox', { userId: that.profile.id, type: 'draft' })
            })

          // just to trigger a change
          this.pagePath = ''
          this.pagePath = this.$route.path

          this.$root.$on('server_disconnected', () => {
              that.connectedToServer = false
          })

          this.$root.$on('server_reconnected', () => {
              that.connectedToServer = true
          })

          // notification
          this.$root.$on('show-notification', (data) => {
              switch(data.type) {
                  case '1':
                    that.notificationData = {
                        bgcolor: '#bb3434',
                        style: 'font-size: 20px;color:#FFFFFF',
                        message: data.message
                    }
                    break
                  case '2':
                    that.notificationData = {
                            bgcolor: '#DF9F01',
                            style: 'font-size: 20px;color:#FFFFFF',
                            message: data.message
                        }
                    break
                  case '3':
                    that.notificationData = {
                        bgcolor: '#79EE05',
                        style: 'font-size: 20px;color:#FFFFFF',
                        message: data.message
                    }
                    break
              }
              
              if (!that.hideNotification) {
                  console.log('TROUBSOLE:', that.hideNotification,that.notificationOn)
                that.notificationOn = true
                if (data.enableAlert)
                    this.playSound(`${config.rootDir}/static/sound/notification.mp3`)
              }
          })
      },

      mixins: [socketMixin, soundMixin]
  }
</script>

<style scoped>
/* @import '../../assets/css/style.css'; */

.serverOff {
         background-image: linear-gradient(230deg, #ffc480, #ff763b);
    }
    .serverOn {
        background-image: linear-gradient(230deg, #00fb00, #02ea02);
    }

    .fixed-header {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important
    }

    .new-mail-text{
    /*position: absolute;*/
    left: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    float: left ;
}

.header-right ul li {
    margin-left: 5px;
    line-height: 3em;
}

.header-right .icons .badge {
    right: 0px !important;
    top: 0px !important;
    font-size: 10px;
}

.searchbar-style {
  border: 2px solid #4540f7;
  width: 92% !important;
}

.fms-header-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 10vh;
}

.fms-header-container .nav-header {
    width: 18%;
    position: absolute;
}

.fms-header-container .header {
    width: 82%;
    position: absolute;
    left: 18%
}

.fms-header-container .header .header-content {
    width: 100%;
}

.fms-header-container .header .header-content .header-left {
    width: 65%;
    margin: 0 !important
}

.fms-header-container .header .header-content .header-right {
    width: 35%
}

.header-right ul {
    float: right
}
</style>
