<template>
  <div class='row' style='margin-top: 10px'>
    <div class='col-lg-1'></div>
    <div class='col-lg-10' style='background-color: white; padding: 0'>
      <div class='menu-list'>
        <ul>
          <li v-for = '(link, i) of links' v-if = 'link' :key = 'i' :class = '{horizontal: !vertical || vertical === false, vertical: vertical}'>
            <span  @click = 'tab(link.tab)' style = 'cursor: pointer; '>
              <img :src = 'link.image'>
              <p :class='{"tab-active": Number(currentTab) === Number(link.tab)}'>{{link.text}}</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class='col-lg-1'></div>
  </div>
</template>

<script>
  export default {
    props: ['menuTitle', 'links', 'vertical', 'initialTab'],

    data () {
      return {
        currentTab: this.initialTab,
      }
    },

    methods: {
      tab (t) {
        // console.log('changing tab', t)
        this.currentTab = t
        this.$emit('tab-changed', t)
      },

      beforemount() {
        this.currentTab = this.initialTab
      },

      mounted() {
        if (this.initialTab) this.tab(this.initialTab)
      }
    }
  }
</script>

<style scoped>
  .menu-list {
    width: 100%;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: auto;
    padding-top: auto;
    overflow: auto;
  }

  .menu-list ul {
    width: 100%;
    /* padding-left: auto;
    padding-right: auto; */
    margin: 0px !important;
    /* background-color: yellow */
  }

  .vertical {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .horizontal {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
      
  .menu-list li img{
    display: block;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list li p {
    text-align: center;
    color: black;
    /* font-weight: bold; */
    font-size: 10px;
  }

  .tab-active {
    border-color: #4540f7;
    /* background-color: red !important; */
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: border-color 1s;
    /* color: white !important; */
  }
</style>