<template>
  <div class="email-left-box">
    <button class="btn btn-primary btn-block">{{inboxTitle}}</button>
    <div class="mail-list mt-4">
      <span @click = 'filterInbox("all")' :class="{'filter-active': filterType === 'all','list-group-item':true, 'border-0':true, 'text-primary':true, 'p-r-0':true, 'd10':true }">
          <i class="icon-envelope-letter font-18 align-middle mr-2"></i> 
          <strong>All Messages <span class="badge badge-danger badge-sm float-right m-t-5 d10">{{inboxAll}}</span> </strong>
      </span>
      <span @click = 'filterInbox("read")' :class="{'filter-active': filterType === 'read','list-group-item':true, 'border-0':true, 'text-primary':true, 'p-r-0':true, 'd10':true }">
          <i class="icon-envelope-open font-18 align-middle mr-2"></i>
          <strong>Read Messages <span class="badge badge-sm float-right m-t-5" style= 'background-color: #4d83ff; color: #fff'>{{inboxRead}}</span> </strong>
      </span>
      <a @click = 'filterInbox("unread")' :class="{'filter-active': filterType === 'unread','list-group-item':true, 'border-0':true, 'text-primary':true, 'p-r-0':true, 'd10':true }">
          <i class="icon-envelope font-18 align-middle mr-2"></i> 
          <strong>Unread Messages<span class="badge badge-danger badge-sm float-right m-t-5">{{inboxUnread}}</span></strong>
      </a>
      <router-link to = '/dashboard/outbox' :class="{'menu-active': this.$route.path === '/dashboard/outbox','list-group-item':true, 'border-0':true, 'text-primary':true, 'p-r-0':true}">
          <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>
          <strong>Outbox Messages <span class="badge badge-danger badge-sm float-right m-t-5">()</span></strong>
      </router-link>
      <!-- <button @click = 'filterByDate(true)' :class="{'menu-active': false,'list-group-item':true, showbig: true, 'border-0':true, 'text-primary':true, 'p-r-0':true}">
          <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>
          <strong>Filter by Date <span class="badge badge-danger badge-sm float-right m-t-5">()</span></strong>
      </button> -->
      <router-link to = '/dashboard/trash' :class="{'menu-active': this.$route.path === '/dashboard/trash','list-group-item':true, 'border-0':true, 'text-primary':true, 'p-r-0':true}">
          <i class="fa fa-recycle font-18 align-middle mr-2"></i>
          <strong>Recycle Bin <span class="badge badge-danger badge-sm float-right m-t-5">{{cTrash}}</span></strong>
      </router-link>    
      <span @click = 'trashMessages(true)' class="list-group-item border-0 text-primary p-r-0 d10" v-if='this.$route.path !== "/dashboard/trash" && msgMarked'>
        <i class="fa fa-trash font-18 align-middle mr-2"></i>
        <b>Trash</b>
      </span>
      <span @click = 'trashMessages(false)' class="list-group-item border-0 text-primary p-r-0 d10" v-if='this.$route.path === "/dashboard/trash" && msgMarked'>
        <i class="fa fa-trash font-18 align-middle mr-2"></i>
        <b>Restore</b>
      </span>
      <span @click = 'markAsRead()' class="list-group-item border-0 text-primary p-r-0 d10" v-if='msgMarked'>
        <i class="fa fa-check font-18 align-middle mr-2"></i>
        <b>Mark As Read</b>
      </span>

    </div>

    <table v-if='filtByDate'>
      <tr>
        <td>From:</td>
        <td>
          <input type='date' v-model='startDate' class='form-control'/>
        </td>
      </tr>
      <tr>
        <td>To:</td>
        <td>
          <input type='date'  v-model ='endDate' class='form-control'/>
        </td>
      </tr>
      <tr>
        <td>
          <button @click = 'filterByDate(false)' class='btn btn-primary'>Done</button>
        </td>
        <td>
          <button @click = 'resetDate()' class='btn btn-primary'>Reset</button>
        </td>
      </tr>
    </table> 
  </div>
</template>

<script>
  import notification from '../../mixins/notification'

export default {
  props: ["inboxTitle", "msgMarked", 'initialFilter', 'inboxType'],
  data() {
    return {
      filterType: 'all',

      filtByDate: false,
      startDate: '',
      endDate: '',

      inboxAll: 0,
      inboxUnread: 0,
      inboxRead: 0
    };
  },

  methods: {
    filterInbox(filterType) {
      this.filterType = filterType
      this.$emit("filter", filterType);
    },

    filterByDate(setDate) {
      this.filtByDate = setDate

      if(!setDate) {
        this.$emit('limitByDate', {
          startDate: this.startDate,
          endDate: this.endDate
        })
      }
    },

      resetDate() {
        this.startDate = '',
        this.endDate = ''
        this.$emit('limitByDate', {
          startDate: this.startDate,
          endDate: this.endDate
        })
      },

    trashMessages(v) {
      if (v)
        this.$emit('trash');
      else this.$emit('restore')
    },

    markAsRead () {
      this.$emit('mark_as_read')
    }
  },

  computed: {
    unreadMessages() {
      return this.$store.getters.unread;
    },

    unreadSignals() {
      return this.$store.getters.unreadSignals;
    },

    cRegular() {
      return this.$store.getters.cAllRegularMessages;
    },

    cInSignals() {
      return this.$store.getters.cAllInSignals;
    },

    cOutSignals() {
      return this.$store.getters.cAllOutSignals;
    },

    cNgSignals() {
      return this.$store.getters.cAllNgSignals;
    },

    cNhqSignals() {
      return this.$store.getters.cAllNhqSignals;
    },

    cTrash() {
      return this.$store.getters.cAllTrash;
    }
  },

  watch: {
    initialFilter (newVal, oldVal) {
      console.log('watchInitialFilter:', newVal, oldVal)
      this.filterType = newVal
    }
  },

  mounted () {
    if (this.initialFilter) {
      this.filterType = this.initialFilter
    }
    switch (this.inboxType) {
      case 'incoming':
        this.inboxAll = this.cInSignals
        this.inboxUnread = this.$store.getters.inUnread
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
        console.log('COUNTERS:', this.inboxAll, this.inboxUnread, this.inboxRead)
        break
      case 'outgoing':
        this.inboxAll = this.cOutSignals
        this.inboxUnread = this.$store.getters.outUnread
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
        break

      case 'ng':
        this.inboxAll = this.cNgSignals
        this.inboxUnread = this.$store.getters.ngUnread
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
        break        
      case 'nhq':
        this.inboxAll = this.cNhqSignals
        this.inboxUnread = this.$store.getters.nhqUnread
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
        break

      case 'trash':
        this.inboxAll = this.cAllTrash
        this.inboxUnread = 0// this.unreadMessages
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
      break

      case 'draft':
        console.log('InboxMenu: draft inbox')
      break

      default:
        this.inboxAll = this.cRegular
        this.inboxUnread = this.unreadMessages
        this.inboxRead = Number(this.inboxAll) - Number(this.inboxUnread)
    }
   console.log('InboxMenu:', this.filterType, this.initialFilter, this.inboxType)
  },

  mixins: [notification]
};
</script>

<style scoped>
  .filter-active {
      text-decoration: none;
      border-bottom: 2px solid;
      border-top: 2px solid;
      border-bottom-color: #4540f7!important;
      border-top-color: #4540f7!important;
      background-color: #f3f1fa!important;
      text-align: center;
  }

  .menu-active {
      text-decoration: none;
      border-bottom: 2px solid;
      border-top: 2px solid;
      border-bottom-color: #4540f7!important;
      border-top-color: #4540f7!important;
      background-color: #d9d1f8!important;
      text-align: center;
  }
</style>