<template>
  <div class='container-fluid'>
    <div class='row' id = 'doc-container'>
      <div class='col-lg-12 panel-body'>
        <div class='memo-header'>
          <h2>{{navyInfo.type.toUpperCase()}}</h2>
          <h2>{{navyInfo.name.toUpperCase()}}</h2>
          <h2>NIGERIAN NAVY {{navyInfo.region.toUpperCase()}}</h2>
        </div>
        <div class='memo-sub-header'>
          <table class='table'>
            <thead>
              <tr>
                <td colspan = '2'>
                  <h2 id = 'memo-text' >MEMORANDUM </h2>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style = 'width: 50%' class='left-header'>FROM: <b>{{memoData._from}}</b></td>
                <td style = 'width: 50%' class='right-header'>TO: <b>{{memoData._to}}</b></td>
              </tr>
              <tr>
                <td style = 'width: 50%' class='left-header'>Date: <b>{{formatDate(memoData.created_at)}}</b></td>
                <td style = 'width: 50%' class='right-header'></td>
              </tr>
              <tr>
                <td style = 'width: 50%' class='left-header'>Ref:....................................................................</td>
                <td style = 'width: 50%' class='right-header'>Our Ref:</td>
              </tr>
            </tbody>
          </table>
          <table class='table'>
            <tbody>
              <tr>
                <td style = 'width: 10%' id = 'subject-1'>SUBJECT:</td>
                <td style = 'width: 90%; margin-left: 10%' id = 'subject-2'><b><u>{{memoData.subject.toUpperCase()}}</u></b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class = 'col-lg-12 panel-body' style = 'width: 100%; overflow-y: scroll'>
        <div  v-html = 'memoData.content' >
          {{memoData.content}}
        </div>
      </div>
    </div>
    <div class='row panel-body memo-footer'>
      <div class='col-lg-3'>
        <p>Rank: <b>{{memoData.rank.toUpperCase()}}</b></p>
        <p>Appointment: <b>{{memoData.appointment}}</b></p>
      </div>
      <div class='col-lg-6'>
        <p>Name in</p>
        <p>Block Letter: <b>{{memoData.name_in_block_letter.toUpperCase()}}</b></p>
      </div>
      <div class='col-lg-3'>
        <p></p><br>
        <p v-if = '!memoData.signature'>Initial: <b>{{memoData.initial}}</b></p>
        <p v-if = 'memoData.signature' >
          Signature:
          <img :src = 'signSrc(memoData)' style = 'width: 100px; height: 50px;'/>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import printJs from 'print-js'
  import config from '../../config'

  export default {
    props: ['memoData', 'print'],
    data () {
      return {
        navyInfo: config.navyInfo,
        profile: JSON.parse(localStorage.getItem('userProfile')),
        printStyle: `
          
          #doc-container {
            width: 100%;
          }
          
          .memo-header h2 {
              text-align: center;
              font-weight:bolder;
            }

            .memo-sub-header .left-header {
              width: 70% !important;
            }
            .memo-sub-header .right-header {
              width: 30% !important;
            }

            .memo-sub-header .subject table{
              margin: 0;
              padding: 0;
            }

            #subject-1 {
              width: 10% !important;
            }

            #subject-2 {
              width: 90% !important;
              text-align: center;
            }

          #memo-text {
              font-weight: bolder;
              text-align: center;
              text-decoration: underline;
            }

            .memo-footer {
              width: 100% !important;
            }

            .col-lg-6{
              width: 50% !important;
              display: inline-block !important;
            }

            .col-lg-3 {
              width: 25% !important;
              display: inline-block !important;
            }
          `
      }
    },

    methods: {
      formatDate (dateString) {
        try {
            let d = new Date(dateString).toDateString()
            const dateStr = d.split(' ')
            const day = dateStr[2]
            const month = dateStr[1]
            const year = dateStr[3]
            const y = `${year[2]}` + `${year[3]}`
            return `${day} ${month} ${y}`  
        } catch(err) {
            console.log(err.message)
        }
      },

      printMemo () {
        console.log('printMemo', this.print)
        // printJs('doc-container', 'html')
        printJs({
          printable: 'doc-container',
          type: 'html',
          style: this.printStyle
        })
        this.print = false
        this.$emit('printed')
      }
    },

    computed: {
      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      signSrc () {
        return function (s) {
          const servInf = this.serverInf
          console.log('serverInf:', servInf)
          return `${servInf.signatureDir}/${s.signature}`
        }
      }
    },

    watch: {
      print () {
        if (this.print) this.printMemo()
      }
    },

    mounted () {
      console.log('Memo mounted:', this.memoData)
    },

    updated () {
      console.log('memo updated:', this.memoData)
    }
  }
</script>

<style scoped>
  .memo-header h2{
    text-align: center;
    font-weight:bolder;
  }

  #memo-text {
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
  }

  @media print {
    body {
      background-color: green;
      color: white
    }
    .memo-header h2{
    text-align: center;
    font-weight:bolder;
    }

  #memo-text {
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
  }
  }
</style>