<template>
  <div class="row showsmall">
    <div class="col-12">
      <div class="card d12">
        <div class="card-body d13">
          <div id="tabs" class="tabs d14">
            <nav>
              <ul> 
                <li>
                    <router-link to="/dashboard"><i class="icon-home"></i><span class="hidden-xs hidden-sm"> Inbox</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/dashboard/signals"><i class="fa fa-signal"></i><span class="hidden-xs hidden-sm"> Signals</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/dashboard/archive"><i class="icon-grid"></i><span class="hidden-xs hidden-sm"> Archive</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/dashboard/memo"><i class="icon-note"></i><span class="hidden-xs hidden-sm"> Memo</span></router-link>
                </li>
                <li>
                    <router-link to="/dashboard/draft/menu"><i class="icon-note"></i><span class="hidden-xs hidden-sm"> Drafts</span></router-link>
                </li>
                <li v-if = 'profile.appointment === "CC"'>
                    <router-link to="/dashboard/sec/upload"><i class="icon-loop"></i><span class="hidden-xs hidden-sm">Secretariat</span></router-link>
                </li>
                <li v-if = 'profile.appointment === "MSO"'>
                    <router-link to="/dashboard/sig"><i class="icon-graph"></i><span class="hidden-xs hidden-sm"> MSO</span></router-link>
                </li>
                <li v-if = 'profile && profile.appointment.toUpperCase().includes("ADMIN")'>
                    <router-link to="/admin"><i class="icon-settings"></i><span class="hidden-xs hidden-sm"> Admin</span></router-link>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        profile: JSON.parse(localStorage.getItem('userProfile'))
      }
    }
  }
</script>