<template>
  <div class='row'>
    <div class='col-lg-12'>
      <div id = 'pdf-container'></div>
    </div>
  </div>
</template>

<script>
  import config from '../../config'
  const PDFObject = require('pdfobject')
  import printJs from 'print-js'


  export default {
    props: ['src', 'width' ,'height', 'print'],
    data () {
      return {
        options: {
          height: "450px",
          pdfOpenParams: { view: 'FitV', page: '1' }
        }

      }
    },

    metaInfo () {
    return {
      script: [
        // { src: `${config.rootDir}/static/js/pdfobject.js` },
        // { src: `${config.rootDir}/static/js/hello.js` }
        ]
      }
    },

    methods: {
      printPDF () {
        console.log('printPDF', this.prnt, this.src)
        // printJs('doc-container', 'html')
        printJs({
          printable: this.src,
          type: 'pdf'
        })
        this.print = false
        this.$emit('printed')
      }
    },

    watch: {
      print () {
        if (this.print) this.printPDF()
      },
      src (nV,oV) {
        console.log('PDFURL:', nV, oV)
        if (nV) PDFObject.embed(nV, "#pdf-container", this.options); 

      }
    },

    mounted () {
      //embeds a PDF into the element "my-container" with a few options specified
      console.log('pdf:', this.src)
      if(this.width) this.options.width = this.width
      if(this.height) this.options.height = this.height
      PDFObject.embed(this.src, "#pdf-container", this.options);
    }
  }
</script>