<template>
     <!--
         <div class="nk-sidebar">           
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">User Panel</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Home</span>
                    </a>
                    <ul aria-expanded="false">
                        <li>
                            <router-link title="View Your Profile" to="/dashboard/profile"><span>Profile</span></router-link>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-grid menu-icon"></i> <span class="nav-text">File Management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><router-link title="Open new Volume" to="/dashboard/newvolume"><span class="mini-sub-pro">Open new Volume</span></router-link></li>
                        <li><router-link title="Upload or create Memo" to="/dashboard/memo"><span class="mini-sub-pro">Create Memo</span></router-link></li>
                        <li><router-link title="Upload Signal" to="/dashboard/sig/upload"><span class="mini-sub-pro">Upload Signal</span></router-link></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Upload File</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><router-link title="Upload PDF file" to="/dashboard/upload/pdf"><span class="mini-sub-pro">Upload PDF File</span></router-link></li>
                        <li><router-link title="Upload Picture file" to="/dashboard/upload/images"><span class="mini-sub-pro">Upload Image File</span></router-link></li>
                        <li><router-link title="Upload Video file" to="/dashboard/upload/video"><span class="mini-sub-pro">Upload Video File</span></router-link></li>
                        <li><router-link title="Upload Audio file" to="/dashboard/upload/audio"><span class="mini-sub-pro">Upload Audio File</span></router-link></li>
                    </ul>
                </li>
                <hr>
                <li class="nav-label">Admin Panel</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-graph menu-icon"></i> <span class="nav-text">Inbox management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="#">Clear Inbox</a></li>
                        <li><a href="#">Delete Inbox</a></li>
                        <li><a href="#">Archive Inbox</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-settings menu-icon"></i> <span class="nav-text">User Management</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Change Signature</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="nk-sidebar">   
        <div class="nk-nav-scroll showbig">
            <ul class="metismenu navbar-nav" id="menu">
                <li class="nav-label">User Panel</li>
                    <li :class="{hoverme: true, 'menu-active': this.$route.path === '/dashboard'}">
                        <router-link class="has-arrow" to="/dashboard" aria-expanded="false">
                            <i class="icon-home menu-icon"></i> <span class="nav-text">Inbox</span>
                        </router-link>
                    </li>
                    <li :class="{hoverme: true, 'menu-active': (this.$route.path === '/dashboard/signals' || this.$route.path.includes('signals') || this.$route.path.includes('signal')) && !this.$route.path.includes('draft')}">
                        <router-link class="has-arrow" to="/dashboard/signals" aria-expanded="false">
                            <i class="fa fa-signal menu-icon"></i> <span class="nav-text">Signals</span>
                        </router-link>
                    </li>
                    <li :class="{hoverme: true, 'menu-active': this.$route.path.includes('archive') && !this.$route.query.outgoing}">
                        <router-link title="Search Archive" to="/dashboard/archive">
                        <i class="icon-grid menu-icon"></i> <span class="nav-text">Archive</span>
                        </router-link>
                    </li>
                    <li :class="{hoverme: true, 'menu-active': this.$route.query.outgoing}">
                        <router-link title="Search Outgoing" to="/dashboard/archive?outgoing=true">
                        <i class="icon-grid menu-icon"></i> <span class="nav-text">Outgoing</span>
                        </router-link>
                    </li>
                    <li :class="{hoverme: true, 'menu-active': this.$route.path.includes('memo')}">
                        <router-link title="Upload or create Memo" to="/dashboard/memo">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Memo</span>
                        </router-link>
                    </li>
                    <li :class="{hoverme: true, 'menu-active': this.$route.path.includes('/draft/')}">
                        <router-link title="Draft Menu" to="/dashboard/draft/menu">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Drafts</span>
                        </router-link>
                    </li>
                    <!-- <li :class="{hoverme: true, 'menu-active': this.$route.path.includes('/chat/')}">
                        <router-link title="Chat" to="/dashboard/chat">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Chat</span>
                        </router-link>
                    </li> -->
                    <li v-if = 'profile.appointment === "CC"' :class="{hoverme: true, 'menu-active': this.$route.path.includes('sec')}">
                        <router-link class="has-arrow" to="/dashboard/sec/upload" aria-expanded="false">
                            <i class="icon-loop menu-icon"></i> <span class="nav-text">Secretariat</span>
                        </router-link>
                    </li>

                    <li v-if = 'profile.appointment === "MSO"' :class="{hoverme: true, 'menu-active': this.$route.path.includes('sig') && !this.$route.path.includes('signals') && !this.$route.path.includes('signal')}">
                        <router-link class="has-arrow" to="/dashboard/sig" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">MSO</span>
                        </router-link>
                    </li>
                    <hr>
                    <li v-if = 'profile && profile.appointment.toUpperCase().includes("ADMIN")' :class="{hoverme: true, 'menu-active': this.$route.path.includes('admin')}">
                        <router-link to = '/admin' class="has-arrow" aria-expanded="false">
                            <i class="icon-settings menu-icon"></i> <span class="nav-text">Admin</span>
                        </router-link>
                    </li>
            </ul>

            <!-- <img :src= 'logoSrc' style='width: 220px; height: 220px'> -->
        </div>
    </div>
</template>

<script>
    import config from '../../config'

    export default {
        data () {
          return {
              profile: JSON.parse(localStorage.getItem('userProfile')),
              logoSrc: `${config.rootDir}/static/img/encLogo.jpg`,
          }
      },

      mounted () {
        this.profile = JSON.parse(localStorage.getItem('userProfile'))
      }
    }
</script>

<style scoped>

.nk-sidebar {
  /*width: 15.1875rem;*/
  padding-bottom: 112px;
  height: 100%;
  position: absolute;
  top: 5rem;
  padding-top: 0;
  z-index: 99;
  background: #fff;
  transition: all .2s ease; }
  @media only screen and (min-width: 1200px) and (max-width: 1350px) {
    .nk-sidebar {
      width: 14.375rem; } }
  .nk-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fafafa; }
  .nk-sidebar .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff; }
    .nk-sidebar .metismenu > li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      color: #464a53; }
      .nk-sidebar .metismenu > li > a {
        transition: none; }
      .nk-sidebar .metismenu > li:hover i, .nk-sidebar .metismenu > li:focus i, .nk-sidebar .metismenu > li.active i {
        color: #464a53 !important; }
      .nk-sidebar .metismenu > li:hover span, .nk-sidebar .metismenu > li:focus span, .nk-sidebar .metismenu > li.active span {
        color: #464a53; }
      .nk-sidebar .metismenu > li:hover > a {
        background: #F3F1FA;
        color: #7571f9; }
      .nk-sidebar .metismenu > li.active > a {
        background: #F3F1FA;
        color: #464a53; }
      .nk-sidebar .metismenu > li.active ul a {
        color: #464a53; }
      .nk-sidebar .metismenu > li a > i {
        font-size: 0.95rem;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0.4375rem 0 0;
        color: #464a53; }
    .nk-sidebar .metismenu a {
      position: relative;
      display: block;
      padding: 0.8125rem 1.25rem;
      outline-width: 0;
      transition: all .3s ease-out;
      color: #464a53; }
    .nk-sidebar .metismenu ul a {
      padding: 0.625rem 0.9375rem 0.625rem 2.8125rem; }
    .nk-sidebar .metismenu ul ul a {
      padding: 0.625rem 0.9375rem 0.625rem 3.75rem; }
    .nk-sidebar .metismenu .mega-menu ul.in li a:hover, .nk-sidebar .metismenu .mega-menu ul.in li a:focus, .nk-sidebar .metismenu .mega-menu ul.in li a.active {
      color: #7571f9; }
    .nk-sidebar .metismenu a {
      transition: all 0.4s ease-in-out; }
      .nk-sidebar .metismenu a:hover, .nk-sidebar .metismenu a:active, .nk-sidebar .metismenu a.active {
        text-decoration: none;
        background-color: #F3F1FA; }
    .nk-sidebar .metismenu .has-arrow:after {
      position: absolute;
      content: "";
      width: .5em;
      height: .5em;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: initial;
      right: 1.5em;
      -webkit-transform: rotate(135deg) translateY(-50%);
      transform: rotate(135deg) translateY(-50%);
      -webkit-transform-origin: top;
      transform-origin: top;
      top: 50%;
      transition: all .3s ease-out; }

.metismenu .active > .has-arrow:after, .metismenu .has-arrow[aria-expanded=true]:after {
  transform: rotate(225deg) translateY(-50%);
  -webkit-transform: rotate(225deg) translateY(-50%); }

.nk-sidebar .metismenu a:hover, .nk-sidebar .metismenu a:active, .nk-sidebar .metismenu a.active {
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: #4540f7 !important;
}

.menu-active {
    text-decoration: none;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-bottom-color: #4540f7!important;
    border-top-color: #4540f7!important;
    background-color: #f3f1fa!important;
    text-align: center;
}

.nk-sidebar {
    height: 87vh;
    width: 18% !important
}
</style>