<template>
  <div class='container-fluid'>
    <div class='row' id = 'doc-container'>
      <div class='col-lg-12 stamp hpanel'>
        <div class='panel-body'>
          <div class='stamp-header'>
            <h4>{{navyInfo.type.toUpperCase()}}</h4>
            <h4>{{navyInfo.name.toUpperCase()}}</h4>
            <h4>NIGERIAN NAVY {{navyInfo.region.toUpperCase()}}</h4>
            <h3>SEEN STAMP</h3>
          </div>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <td>
                  APPT
                </td>
                <td>SIGNATURE</td>
                <td>DATE</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for='(st, index) in stamp' :key = 'index'>
                <td>{{st.appointment}}</td>
                <td v-if = 'st.signature'><img :src = 'signSrc(st)' height = '50' width = '60' alt = ''/></td>
                <td v-if = '!st.signature'></td>
                <td v-html='colorText(st.color, formatDate(st.date))'>{{colorText(st.color, formatDate(st.date))}}</td>
              </tr>
              <tr><td colspan = '3'> <button class='btn btn-info stamp-btn' v-on:click = 'sign()'>Sign</button></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import notification from '../../mixins/notification'
  import config from '../../config'
  import axios from 'axios'
  import printJs from 'print-js'


  export default {
    props: ['fileId', 'print'],

    data () {
      return {
        navyInfo: config.navyInfo,
        profile: JSON.parse(localStorage.getItem('userProfile')),
        printStyle: `
          h4, h3 {
            text-align: center
          }
          .table-bordered {
            margin-top: 5%;
            border-collapse: collapse !important;
            border: 1pt solid grey !important;
          }

          .table-bordered td {
            border-bottom: 1pt solid grey;
            border-right: 1pt solid grey;
            margin-left: 10px !important;
          }

          .stamp-btn {
            visibility: hidden;
          }
        `
      }
    },

    computed: {
      stamp () { console.log('stamp:', this.$store.getters.stamp)
        return this.$store.getters.stamp
      },

      serverInf () {
        return this.$store.getters.serverConfiguration;
      },

      signSrc () {
        return function (s) {
          const servInf = this.serverInf
          console.log('serverInf:', servInf) 
          return `${servInf.signatureDir}/${s.signature}`
        }
      }
    },

    methods: {
      formatDate (dateString) {
        if (!dateString) return ''
        try {
            let d = new Date(dateString).toDateString()
            const dateStr = d.split(' ')
            const day = dateStr[2]
            const month = dateStr[1]
            const year = dateStr[3]
            const y = `${year[2]}` + `${year[3]}`
            return `${day} ${month} ${y}`  
        } catch(err) {
            console.log(err.message)
        }
      },

      sign: function() {
        const signData = {
          signature: this.profile.signature,
          appointment: this.profile.appointment
        }
  
        axios.post(`${config.socketUrl}/document/sign`, {
          file_id: this.fileId,
          signature: this.profile.signature_id
        })
          .then((response) => {
            console.log('stamp Res:', response)
            if (response.data.success) {
              this.alertSuccess('Document signed Successfully!!!', 4000)
              this.$store.dispatch('getStamp', this.fileId)
            } else {
              this.alertFailure('Unable to sign Document', 4000)
            }
          })
      },

      printStamp () {
        console.log('printStamp', this.prnt)
        // printJs('doc-container', 'html')
        printJs({
          printable: 'doc-container',
          type: 'html',
          style: this.printStyle
        })
        // this.playSound(`${config.rootDir}/static/sound/newMessage.mp3`)
        this.print = false
        this.$emit('printed')
      },

      colorText (color, text) {
        return `<span style='color: ${color}'>${text}</span>`
      }
    },

    watch: {
      print () {
        if (this.print) this.printStamp()
      },

      fileId (newId, oldId) {
        if(newId) this.$store.dispatch('getStamp', newId)

      }
    },

    mounted () {
      this.$store.dispatch('getStamp', this.fileId)
    },

    updated () {
      // this.$store.dispatch('getStamp', this.fileId)
    },

    mixins: [notification]
  }
</script>

<style scoped>
  .stamp {
    margin: 0;
  }
  .stamp table tr td {
    font-size: 10px
  }

  .stamp-header h3, h4 {
    text-align: center
  }

  @media print {
    .stamp {
    margin: 0.1%;
  }

  .stamp table tr td {
    font-size: 10px
  }

  .stamp-header h3, h4 {
    text-align: center
  }

    .stamp-btn {
      margin: 20px;
    }
  }
</style>

