<template>
  <div class='row'>
    <div class='col-lg-12'>
      <div class="cardy">
        <div class='card-bodyy'>
          <div :id="editorContainerId" ref='editorContainer' :style="editorStyle"></div>
          <button v-if = '!disableSave' :id = 'saveBtnId' ref='save' class='btn btn-dark m-b-30 m-t-15 f-s-14 p-l-20 p-r-20'> Save </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>  
  export default {
    props: [
      'documentPath', 
      'editorContainerId', 
      'reviewMode', 
      'userData',  
      'disableSave', 
      'forceNew'],
    data () {
      return {
        comment: '',
        wodoEditorInstance: '',
        saveBtnId: '',
        initCompleted: true,
        documentOpen: false,
        editorId: '',
        editorStyle: '',

        previouseEditorId: ''
      }
    },

    watch: {
      documentPath(newPath, oldPath) {
        console.log('EDITOR CHANGED PATH TO:', newPath, this.reviewMode)
        let that = this
        if (newPath) {
          if(this.documentOpen && this.forceNew) {
            console.log('EDITOR FORCE NEW:', oldPath)
            this.destroyEditor(() => {
              that.initEditorState(false)
              that.creatEditor()
            })
          } else if(this.documentOpen) {
            this.closeDocument((err)=> { 
              that.openDocument(newPath)
            })
          } else this.openDocument(newPath)
        }
      }
    },

    methods: {
      save: function (event) {
        this.$emit("save",  this.comment)
      },

      initEditorState(savePreviousId = true) {
        if(!this.editorContainerId) {
          this.editorContainerId = `editorContainer-${new Date().getMilliseconds()}`
          this.editorId = this.editorContainerId
        } else {
          this.editorId = this.editorContainerId
          this.editorContainerId += `-editorContainer-${new Date().getMilliseconds()}`
        }
        if(savePreviousId) this.previouseEditorId = this.editorContainerId

        let width = '100%'
        let height = '600px'
        if(this.width) {
          width = this.width
        }
        if(this.height) {
          height = this.height
        }
        this.editorStyle = `width: ${width}; height: ${height}; color: black;`
        this.saveBtnId = `${this.editorContainerId}_save`
      },
    
      creatEditor () {
        let that = this
        if(!document.getElementById(this.editorContainerId)) {
          if(!document.getElementById(this.previouseEditorId)) return
          document.getElementById(this.previouseEditorId).setAttribute('id', this.editorContainerId)
        }

        if (this.wodoEditorInstance) return
        Wodo.createTextEditor(this.editorContainerId, {
          allFeaturesEnabled: this.reviewMode ? false : true,
          annotationsEnabled: that.reviewMode ? true : false,
          undoRedoEnabled: true,
          modus: that.reviewMode ? Wodo.MODUS_REVIEW : Wodo.MODUS_FULLEDITING,
          userData: that.userData ? that.userData : {
              fullName: "Anonymous",
              color:    "blue"
          }
        }, function (err, editor) {
            if (err) {
                // something failed unexpectedly, deal with it (here just a simple alert)
                alert(err);
                return;
            }
            that.wodoEditorInstance = editor // keep a global copy
            that.previouseEditorId = that.editorContainerId // save this editor id
            // if(that.initCompleted) 
            that.openDocument(that.documentPath)
        });
      },

      destroyEditor (callback) {
        let that = this
        if (this.wodoEditorInstance) {
          if(this.documentOpen) { // document is open, first close document before destroying editor
            this.closeDocument((err)=>{
              console.log(`document ${that.documentPath} closed`)
              that.wodoEditorInstance.destroy(()=>{ 
                console.log(`editor ${that.editorId} destroyed`)
                that.wodoEditorInstance = null
                if (callback) callback()
              })
            })
          } else {
            that.wodoEditorInstance.destroy(()=>{ 
              console.log(`editor ${that.editorId} destroyed`)
              that.wodoEditorInstance = null
              if (callback) callback()
            })
          }
        }
      },

      openDocument(url) {
        let that = this
        if(this.wodoEditorInstance && url) {
          this.wodoEditorInstance.openDocumentFromUrl(url, function(err) {
              if (err) {
                  // something failed unexpectedly, deal with it (here just a simple alert)
                  alert("There was an error on opening the document: " + err);
              }
              that.documentOpen = true
              if(that.disableSave) return
              document.getElementById(that.saveBtnId).addEventListener('click', ()=> {
                that.wodoEditorInstance.getDocumentAsByteArray(function (err, odtFileAsByteArray) {
                  if (err) {
                      // something failed unexpectedly, deal with it (here just a simple alert)
                      alert(err);
                      return;
                  }
                  // now do something with odtFileAsByteArray (is of type Uint8Array)
                  let blob = new Blob([odtFileAsByteArray])
                  that.$emit('save', blob)
                  console.log('DOCUMENT SAVED:', typeof blob)
                });
            })
          });
        } else {
          console.log('ERROR:', 'No Document Url provided for WodoEditor.openDocument ')
        }
      },

      closeDocument(callback) {
        if(this.wodoEditorInstance) {
          this.wodoEditorInstance.closeDocument((err)=>{
            if(callback) callback(err)
          })
        }
      },

      getEditorState() {
        return new Promise((resolve, reject) => {
          if(!this.wodoEditorInstance) return
          this.wodoEditorInstance.getDocumentAsByteArray((err, odtFileAsByteArray) => {
            if (err) {
              console.log(err.message)
              reject(err)
              return
            }
            const mimeType = 'application/vnd.oasis.opendocument.text'
            const file = new Blob([odtFileAsByteArray], {type: mimeType})
            resolve({
              editorId: this.editorId,
              docUrl: URL.createObjectURL(file)
            })
          })
        })
      }
      
    },

  beforeMount() {
    this.initEditorState()
  },

  mounted () {
    // console.log(this.editorContainerId, this.userData, this.documentPath, this.reviewMode)
    this.$root.$on('wodotexteditor-loaded', () => {
      this.creatEditor()
    })
    if(Wodo) {
      this.creatEditor()
    }
  },

  beforeDestroy() {
    this.destroyEditor()
  },


    mixins: [],
    components: {
    }
  }
</script>


<style scoped>

.editorstyle {
  height: 150px;
  width: 100%;
  background-color: rgba(99, 99, 17, 0.521);
  margin-bottom: 10%
}

#editor {
 height: 400px;
}
</style>