<template>
  <div id="app" class='fms-body'>
    <router-view></router-view>
  </div>
</template>

<script>

  import Dashboard from './components/Dashboard'

  /*
  import './assets/css/bootstrap.min.css'
  import './assets/css/font-awesome.min.css'
  import './assets/css/nalika-icon.css'
  import './assets/css/main.css'
  import './assets/css/metisMenu/metisMenu.min.css'
  import './assets/css/metisMenu/metisMenu-vertical.css'
  import './assets/style.css'
  */
 // import './lib/common.min.js'

  import './assets/css/style.css'
  // import 'bootstrap/dist/css/bootstrap.min.css'
  import './assets/css/mobileMenu.css'
  import config from './config'


  String.prototype.toProperCase = function () {
    return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  };


export default {
  name: 'app',
  metaInfo () {
    return {
      script: [
          /*{ src: `${config.rootDir}/static/js/metisMenu/metisMenu.min.js`, body: true },
          { src: `${config.rootDir}/static/js/metisMenu/metisMenu-active.js`, body: true },
          { src: `${config.rootDir}/static/js/plugins.js`, body: true },
          { src: `${config.rootDir}/static/js/main.js`, body: true} */

          /*{ src: `${config.rootDir}/static/js/plugins/common/common.min.js`, body: true },
          { src: `${config.rootDir}/static/js/custom.min.js`, body: true },
          { src: `${config.rootDir}/static/js/settings.js`, body: true },
          { src: `${config.rootDir}/static/js/gleek.js`, body: true},
          { src: `${config.rootDir}/static/js/styleSwitcher.js`, body: true}*/
 
        ]
      }
  },
  components: {
    Dashboard
  },

  mounted () {
    document.title = `${config.navyInfo.name.toProperCase()}`

    let s1 = document.createElement('script')
    s1.setAttribute('src', `${config.rootDir}/static/js/plugins/common/common.min.js`)
    document.body.appendChild(s1) 

    let s2 = document.createElement('script')
    s2.setAttribute('src', `${config.rootDir}/static/js/custom.min.js`)
    document.body.appendChild(s2)

    let s3 = document.createElement('script')
    s3.setAttribute('src', `${config.rootDir}/static/js/settings.js`)
    document.body.appendChild(s3)

  },

  created() {
    // webodf / wodotexteditor
    let wodotexteditorCss = document.createElement('link')
    wodotexteditorCss.setAttribute('href', `${config.rootDir}/static/js/wodotexteditor/wodotexteditor.css`)
    wodotexteditorCss.setAttribute('rel', 'stylesheet')
    document.head.appendChild(wodotexteditorCss)

    this.$loadScript(`${config.rootDir}/static/js/wodotexteditor/wodotexteditor.js`)
    .then(() => {
      // WodoTextEditor Script is loaded
      this.$loadScript(`${config.rootDir}/static/js/wodotexteditor/webodf.js`)
        .then(() => {
          console.log('WebODF and WodotextEditor LOADED')
          this.$root.$emit('wodotexteditor-loaded')
        })
    })
    .catch(() => {
      // Failed to fetch script
      console.log('WodotextEditor NOT LOADED')
    });
  }
}
</script>

<style>
.fms-body {
  /* overflow-x: hidden; */
  /* height: 100%; */
  box-sizing: border-box;
  position: relative;
  max-width: 100%; 
}

.fms-body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #76838f;
  text-align: left;
  background-color: #F3F3F9; 
}

.fixed-content {
  height: 80vh;
}

.email-right-box {
  height: 95%;
  width: 75%;
  overflow-y: scroll
}

.email-left-box {
    width: 25%;
  }

.subject-style {
    width: 67%;
    float: left;
    overflow:hidden

  }

@media screen and (max-width: 420px){
  .fixed-content {
    height: 950px !important;
  }

  .email-left-box {
    width: 100% !important;
  }

  .email-right-box {
    height: 60% !important;
    width: 100% !important;
  }

  .subject-style {
    width: 67% !important;
    margin-left: 20px;
    float:none;
    overflow:hidden

  }
}
  
</style>
